﻿@using PagedList
@using PagedList.Mvc
@using DossoDossi.Data.Helper
@using DossoDossi.Data.Models
@{
    ViewBag.Title = "Offers";

    var user = SessionHelper.User;

    var roles = user.Roles;
    var ststusList = ViewBag.StatusList as List<OfferStatusDto>;

}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Offer Management</a> /

            <a class="navbar-brand" href="javascript:;">List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                       
                            <div class="pull-right" style="text-align:right">
                                <a href="/Offer/Create" class="btn btn-success btn-sm"><i class="material-icons">add</i> Yeni Sipariş Oluştur</a>
                            </div>
                            <div class="pull-right">
                                <input type="hidden" id="FileName" value="OfferList" />
                                <div class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:;" id="navbarDropdownDownlad"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">archive</i>
                                        <p class="d-lg-none d-md-block">
                                            Download
                                        </p>
                                        <div class="ripple-container"></div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDownlad">
                                        <a class="dropdown-item" href="javascript:;" onclick="doit('xlsx')"><i class="fa fa-file-text-o"></i> Download Excel</a>
                                        <a class="dropdown-item" href="javascript:;" onclick="doit('csv')"><i class="fa fa-file-text-o"></i> Download Csv</a>
                                        <a class="dropdown-item" href="javascript:;" onclick="doit('txt')"><i class="fa fa-file-text-o"></i> Download Txt</a>

                                    </div>
                                </div>

                            </div>

                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>
                                            Search Customer
                                        </th>
                                        <th>Offer No</th>
                                        <th>Status</th>
                                        <th>Date Range</th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search Keyword...">
                                        </td>
                                        <td>
                                            <input type="text" name="filtre" class="form-control clearprop" placeholder="Write offer no..." onchange="$('.F_TeklifNo').val($(this).val())">
                                        </td>
                                        <td>
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" style="max-width:120px" class="custom-select clearprop custom-select-sm form-control form-control-sm" onchange="$('.F_Status').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ststusList)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </td>

                                        <td>
                                            <input type="date" class="form-control clearprop" onchange="$('.F_Start').val($(this).val())"> - <input type="date" class="form-control clearprop" onchange="$('.F_End').val($(this).val())">
                                        </td>

                                        <td>
                                            <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon" title="Search">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </a>


                                            <a href="javascript:;" id="Refresh" class="btn btn-white btn-round btn-just-icon" title="Refresh">
                                                <i class="material-icons">refresh</i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <span class="bmd-form-group">
                                <div class="input-group no-border">


                                </div>
                            </span>

                            <table class="table table-hover tablecontent table-bordered" style="font-size:11px" id="data-table-list">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th><a data-order="Tarih|ASC" href="javascript:;"> Date<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="TeklifNo|ASC" href="javascript:;"> Offer No<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="IsYeriAdi|ASC" href="javascript:;"> Workplace<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="SaticiKodu|ASC" href="javascript:;"> Salesman Name<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th><a data-order="CariUnvan|ASC" href="javascript:;"> Customer Name<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="TotalVat|ASC" href="javascript:;">Total Vat<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="TotalNet|ASC" href="javascript:;"> Total Net<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="StatusName|ASC" href="javascript:;"> Offer Status <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="SipToplam|ASC" href="javascript:;">Order Total Amount<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="SipIrsaliyeNo|ASC" href="javascript:;"> Dispatch No <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="MusteriSipNo|ASC" href="javascript:;"> Cust. Ord No <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th class="text-right"></th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    <tr>
                                        <td colspan="20">
                                            <div style="text-align:center">Loading...</div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>

            <td>{{Tarih}}</td>
            <td>{{TeklifNo}}</td>
            <td>
                {{IsyeriAdi}}
            </td>
            <td>{{SaticiKodu}}</td>
            <td>{{CariUnvan}}</td>
            <td>
                <span class="pull-right ">
                    {{VatTotal}} {{Currency}}
                </span>
            </td>
            <td>
                <span class="pull-right ">
                    {{TotalNet}} {{Currency}}
                </span>
            </td>
            <td class="td-actions ">
                <button type="button" rel="tooltip" class="btn btn-danger btn-sm" onclick="ChangeStatusOpen('{{Id}}')" style="background-color:{{BackColor}};color:{{TextColor}}">
                    {{StatusName}}
                </button>
            </td>
            <td>{{SipToplam}}</td>
            <td>{{SipIrsaliyeNo}}</td>
            <td>
                {{MusteriSipNo}}
            </td>
            <td class="td-actions text-right">


                {{#SendToManager}}
                @*<a class="btn btn-warning btn-sm" title="Send to manager for accept" href="javascript:;" onclick="SendToManager()">
            <i class="material-icons">people</i> Send to Manager
        </a>*@
                {{/SendToManager}}

                {{#SendToOrder}}
                <a class="btn btn-success btn-sm " title="Create to sales order" href="/Order/CreateFromOffer/{{UQ}}">
                    <i class="fa fa-plus"></i> Create  Order
                </a>
                {{/SendToOrder}}

                <a href="javascript:;" onclick="DetailOpen('{{Id}}')" class="btn btn-sm btn-info btn-rounded  open_btn_{{Id}} " data-click="false" title="Open Detail">
                    <i class="material-icons">zoom_in</i>
                </a>

                <a href="javascript:;" onclick="DetailClose('{{Id}}')" style="display: none" class="btn btn-sm btn-info close_btn_{{Id}} " title="Close Detail">
                    <i class="material-icons">zoom_out</i>
                </a>

                    {{#IsEdit}}
                    @if (roles.Any(a => a == "OF3"))
                    {
                        <a class="btn btn-warning btn-link btn-sm" title="Edit Offer" href="/Offer/Edit/{{UQ}}">
                            <i class="material-icons">edit</i>
                        </a>
                    }

                    @if (roles.Any(a => a == "OF4"))
                    {
                        <a class="btn btn-danger btn-link btn-sm" title="Delete Offer" onclick="Delete('{{Id}}')">
                            <i class="material-icons">close</i>
                        </a>
                    }
                    {{/IsEdit}}
                  
                <a class="btn btn-default btn-link btn-sm" title="Pdf Print" target="_blank" href="/Api/PrintOfferPdf/{{UQ}}">
                    <i class="fa fa-print"></i>
                </a>

                <a class="btn btn-default btn-link btn-sm" title="File Management" href="javascript:;" onclick="CrmFile.Open('1','{{Id}}')">
                    <i class="fa fa-file"></i>
                </a>
                @*<a class="btn btn-info btn-link btn-sm" title="Alternative Print" onclick="PrintPdf('{{Id}}')">
            <i class="material-icons">print</i>
        </a>*@
            </td>
        </tr>

        <tr id="detail_{{Id}}" style="display: none">
            <td colspan="18" class="html_detail_{{Id}}" style=" border: 1px solid rgb(189, 222, 231);"></td>
        </tr>

        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("GetList", "Offer", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="Id|DESC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />

        <input type="hidden" name="CreateUserId" class="F_CreateUserId" />
        <input type="hidden" name="Status" class="F_Status clearprop" />
        <input type="hidden" name="TeklifNo" class="F_TeklifNo clearprop" />

        <input type="hidden" name="Start" class="F_Start clearprop" />
        <input type="hidden" name="End" class="F_End clearprop" />
      



    }


</div>


<div class="modal fade" id="statusChangeMmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-bordered">
                        <tr>
                            <td colspan="2" class="text-center"><b>Are you sure ?</b></td>
                        </tr>
                        <tr>
                            <td>Select Status :</td>
                            <td>
                                <select class="form-control" id="SelChangeStatus">
                                    <option value="">Select</option>
                                    @foreach (var item in ststusList.Where(a => a.Id != 4))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>

                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-link" onclick="ChangeStatusSave()">Save</button>
                <button type="button" class="btn btn-danger btn-link closecancelstatusclick" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sendMmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send To Manager</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-bordered">
                        <tr>
                            <td>Manager Name :</td>
                            <td><b></b></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">Are you sure ?</td>
                        </tr>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-link" data-dismiss="modal">Send</button>
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section js{

    <script src="~/assets/App/User/User.js"></script>

    <script src="~/assets/App/CrmFile/CrmFile.js"></script>

    <script>

        $(function () {
            User.Event();
        });

        $(".offerNav").addClass("active");


        function DetayAc(id) {
            Erp.U.P.Modal.Open("/Order/DetailModal",
                { id: id },
                function () { });
        }
    </script>

    <script>
        function OpenModalTest() {
            $("#usersmodel").modal("show");
        }

        function SendToManager() {
            $("#sendMmodel").modal("show");
        }

        function Delete(id) {

            bootbox.confirm("Are you sure want to delete ?",
                function (result) {
                    if (result === true) {


                        Erp.U.A.Req.C("POST",
                            "/Offer/Delete",
                            { id: id },
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Result ", "Succesfully deleted !");
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.Success("Warirng", "Error on occured!");
                                }

                                //todo netstok 0 altı ise talep açılamaz.
                            });


                    }
                });
        }

        var selectedOfferId = 0;
        function ChangeStatusOpen(id) {
            selectedOfferId = id;

            $("#statusChangeMmodel").modal("show");
        }


        function ChangeStatusSave() {

            var status = $("#SelChangeStatus").val();

            if (status < 0) {
                return false;
            }


            Erp.U.A.Req.C("POST",
                "/Offer/UpdateStatus",
                { id: selectedOfferId, status: status },
                function (data) {

                    if (data) {
                        Erp.U.P.T.Success("Result ", "Succesfully updated !");
                        $("#FiltreButton").click();
                        $(".closecancelstatusclick").click();
                    } else {
                        Erp.U.P.T.Success("Warirng", "Error on occured!");
                    }

                    //todo netstok 0 altı ise talep açılamaz.
                });

        }


        function DetailOpen(id, param) {

            var el = $(".open_btn_" + id).attr("data-click");
            $(".open_btn_" + id).hide();
            $(".close_btn_" + id).show();

            $(".sel_tr_" + id + " td").css("background-color", "#bddee7");

            if (el == "false") {

                Erp.U.A.Req.H("GET", "/Offer/GetDetail/", { id: id, param: param }, function (data) {

                    $("#detail_" + id).show(250);
                    $(".open_btn_" + id).attr("data-click", "true");
                    $(".html_detail_" + id).empty().append().html(data);
                    Erp.U.ActiveTooltip();

                });

            } else {

                $("#detail_" + id).show(250);
            }
        }

        function DetailClose(id) {

            $(".close_btn_" + id).hide();
            $(".open_btn_" + id).show();
            $("#detail_" + id).hide(250);
            $(".sel_tr_" + id + " td").removeAttr("style");
        }


        function PrintPdf(id) {

        }

        function PrintPdf(id) {
            var url = "/Api/PrintHtml?id=" + id;

            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;
            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (300)) + dualScreenLeft;
            var top = ((height / 2) - (250)) + dualScreenTop;

            window.open(url, 'Print' + 'win', 'width=800, height=700, top = ' + top + ', left= ' + left);

        }



        MyObject = new ActiveXObject("WScript.Shell")


        function RunExe() {
            MyObject.Run("file:///C:/crm_outlook_connect.exe");
        }


    </script>

}
