﻿@using PagedList
@using PagedList.Mvc
@using DossoDossi.Data.Entity;
@using DevExpress.Web.Mvc.UI
@using DevExpress.XtraPivotGrid

@{
    ViewBag.Title = "Sales Report";

    var start = (DateTime)ViewBag.Start;
    //ay sonu
    var end = (DateTime)ViewBag.End;

}




<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Sales Orders</a> /

            <a class="navbar-brand" href="javascript:;">List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>

                        <div class="pull-right">
                            <input type="hidden" id="FileName" value="OrderReports" />
                            @*<div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownDownlad"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">archive</i>
                                    <p class="d-lg-none d-md-block">
                                        Download
                                    </p>
                                    <div class="ripple-container"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDownlad">
                                    <a class="dropdown-item" href="javascript:;" onclick="doitTable('xlsx', undefined, undefined, 'PivotGrid')"><i class="fa fa-file-text-o"></i> Download Excel</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doitTable('csv',false,false,'PivotGrid')"><i class="fa fa-file-text-o"></i> Download Csv</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doitTable('txt',false,false,'PivotGrid')"><i class="fa fa-file-text-o"></i> Download Txt</a>

                                </div>
                            </div>*@

                        </div>

                        @*<div class="pull-right" style="text-align:right">
                                <a href="/Order/Create" class="btn btn-success btn-sm"><i class="material-icons">add</i> Create</a>
                            </div>*@

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                       

                        <div class="table-responsive">
                          
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <td>Filter</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="date" class="form-control startfilter"  value="@start.ToString("yyyy-MM-dd")" />
                                            </td>
                                            <td>
                                                <input type="date" class="form-control endfilter" name="end" value="@end.ToString("yyyy-MM-dd")" />
                                            </td>
                                            <td>
                                                <button type="button" onclick="Search()" class="btn btn-primary btn-round btn-just-icon">
                                                    <i class="material-icons">search</i>
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            <div style="width:100%">

                                @Html.Action("SalesReportGridPartial", new { start = ViewBag.Start, end = ViewBag.End })
                            </div>

                        </div>
                       
                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section css{

    @Html.DevExpress().GetStyleSheets(
     new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
   new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
   new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)

    @Html.DevExpress().GetScripts(
   new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
new Script { ExtensionSuite = ExtensionSuite.GridView }
)
    <style>
        .dxpgControl {
            width: 100%
        }
    </style>

}


@section js{



    <script>

        $(".reportNav").addClass("active");


        function Search() {

            location.href = "/SalesReport/Index?start=" + $(".startfilter").val() + "&end=" + $(".endfilter").val();

        }
    </script>

}
