﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper
@using DossoDossi.Data.DataAccess
@model List<View_SiparisDetayli>
@{
    Layout = null;
    var order = ViewBag.Data as View_SiparisFisler;

    ViewBag.Title = "Print Sales Order #" + order.FisNo;

    var firmAdi = SettingDataAccess.GetValByCode("Company.Name");
    var adres = SettingDataAccess.GetValByCode("Company.Address");
    var contact = SettingDataAccess.GetValByCode("Company.ContactDetail");

    var cari = ViewBag.Cari as View_CariHesaplar;

    var defCurr = (string)ViewBag.DefCurrency;

    var urunler = ViewBag.Products as List<View_Malzemeler>;
    double totalDiscount = 0;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">*@
    <!-- CSS Files -->
    <link href="/assets/css/panel/material-dashboard.min.css" rel="stylesheet" />
    <link href="/assets/css/panel/demo.css" rel="stylesheet" />

    <style>
        @@media print {
            .vendorListHeading th {
                color: white !important;
            }

            .table th, .table td, table th, table td {
                white-space: normal !important
            }

            thead {
                display: table-row-group;
            }

        }
    </style>
</head>
<body>
    <div style="background-color:white;padding:1px;">

        <div class="content" style="background-color: white">
            <div class="container-fluid" style="background-color: white">
                <div class="row">

                    <div class="col-md-12">
                        <div class="">

                            <table class="table">
                                <tr style="background-color: #f4f4f4;border-top: 6px solid orangered;">
                                    <td colspan="20" class="text-center">
                                        <b style="text-align:center;font-size:17px">SALES ORDER</b>
                                    </td>
                                </tr>

                                <tr style="background-color: #f4f4f4">
                                    <td style="width:20%">
                                        <img src="~/assets/img/logo.png" style="max-height:100px" />
                                    </td>
                                    <td style="width:50%"></td>
                                    <td style="width:50%">
                                        <div class="pull-right">
                                            <b>@Html.Raw(firmAdi)</b>
                                            <br />
                                            @Html.Raw(adres)
                                            @Html.Raw(contact)
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <div class="card-body ">

                                <div class="row">

                                    <table class="table" style="width:280px;float:left">
                                        <tr>
                                            <td style="border-bottom: 1px solid black">
                                                <span>
                                                    BILL TO :
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>@cari.MusteriUnvani</b>
                                                <br />
                                                @cari.Adres1 @cari.Adres2 @cari.Sehir @cari.Ulke
                                                <br />
                                                Phone : @cari.TelefonNumarasi1 - @cari.TelefonNumarasi2
                                                Email : @cari.EmailAdresi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: 1px solid black" colspan="2">
                                                <span></span> SHIP TO :
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @if (!order.SevkiyatAdresiKodu.ToControl())
                                                {
                                                <span>
                                                    @order.SevkiyatAdres1 &nbsp;@order.SevkiyatAdres2 &nbsp; @order.SevkiyatAdresiAciklamasi &nbsp;
                                                    @order.SevkiyatSehir / @order.SevkiyatUlkeAdi   Postcode : @order.SevkiyatPostakodu
                                                </span>
                                                }
                                                else
                                                {
                                            <span>
                                                @cari.Adres1 &nbsp; @cari.Adres2 &nbsp; @cari.Sehir / @cari.Ulke  &nbsp; Postcode: @cari.PostaKodu
                                            </span>
                                                    <br />
                                                    <span>Phone :@cari.TelefonNumarasi1</span> 
                                                }
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="table" style="width:220px;float:right">
                                        <tr>
                                            <td style="border-bottom: 1px solid black">
                                                <span></span> DATE :
                                            </td>
                                            <td style="border-bottom: 1px solid black">
                                                @order.FisTarih.Value.ToString("dd.MM.yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: 1px solid black">
                                                <span></span> QUOTE NO :
                                            </td>
                                            <td style="border-bottom: 1px solid black">
                                                @order.FisNo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: 1px solid black">
                                                <span></span> CUSTOMER ORD. NO :
                                            </td>
                                            <td style="border-bottom: 1px solid black">
                                                @order.MusteriSipNo
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                                <div class="row">
                                    <table class="table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr style="background-color:orangered;color:white;font-size:12px">
                                                <th style="font-size:10px">REFERENCE</th>
                                                <th style="font-size:10px">CLIENT CODE</th>
                                                <th style="font-size:10px">DESCRIPTION</th>
                                                <th style="font-size:10px">QTY</th>
                                                <th style="font-size:10px">UNIT PRICE</th>
                                                <th style="font-size:10px">TOTAL</th>
                                                <th style="font-size:10px">DISCOUNT</th>
                                                <th style="font-size:10px">NET</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                var urun = urunler.FirstOrDefault(a => a.StokId == item.StokId);
                                                double discount = 0;
                                                var sub = Math.Round((item.Miktar.Value * item.FiyatTL.Value), 2);


                                            <tr style="font-size:11px">
                                                <td style="padding:3px">@item.MalzemeKodu</td>
                                                <td style="padding:3px">@item.OzelKod</td>

                                                <td style="padding:3px">
                                                    @if (urun != null)
                                                    {
                                                        @urun.MalzemeAdi @urun.NAME3
                                                    }
                                                    else
                                                    {
                                                        @item.MalzemeAciklamasi
                                                    }
                                                </td>
                                                <td style="padding:3px">
                                                    @item.Miktar @item.Birim
                                                </td>

                                                @if (!item.TeslimatKodu.ToControl())
                                                {
                                                    double num = 0;
                                                    var st = double.TryParse(item.TeslimatKodu, out num);

                                                    if (num > 0)
                                                    {
                                                        num = Math.Round(num, 2);

                                                        var ff = Math.Round((sub * (num) / 100), 2);

                                                        discount = ff;

                                                        totalDiscount = totalDiscount + ff;

                                                        var ust = Math.Round((item.FiyatTL.Value / ((100 - num) / 100)), 5);
                                                        <td style="padding:3px">
                                                            @ust @defCurr
                                                        </td>

                                                        <td style="padding:3px">@Math.Round((ust * item.Miktar.Value), 2) @defCurr</td>

                                                        <td style="padding:3px">
                                                            <span>@ff @defCurr  (% @num)</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="padding:3px">
                                                            @item.FiyatTL @defCurr
                                                        </td>
                                                        <td style="padding:3px">
                                                            @(sub) @defCurr
                                                        </td>
                                                        <td style="padding:3px">
                                                        </td>
                                                    }
                                                }
                                                <td style="padding:3px">
                                                    @((sub)) @defCurr
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row" style="display:inline-flex;background-color:white">
                                    <table class="table" style="width:100%">
                                        <tr>
                                            <td style="width:50%">
                                                <table class="table table-bordered" style="background-color: white">
                                                    <tr>
                                                        <td style="border-bottom: 1px solid black">
                                                            NOTES:  @order.Aciklama1 @order.Aciklama2
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:20%">
                                            </td>
                                            <td style="width:30%">
                                                <table class="table table-bordered" style="background-color: white">
                                                    <tr>
                                                        <td>SUB TOTAL</td>
                                                        <td>:</td>
                                                        <td>@(order.DovizliGenelToplam + totalDiscount) @defCurr</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DISCOUNT</td>
                                                        <td>:</td>
                                                        <td>@totalDiscount @defCurr</td>
                                                    </tr>
                                                    <tr>
                                                        <td>VAT TOTAL</td>
                                                        <td>:</td>
                                                        <td>
                                                            @order.KDV @defCurr
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Quote Total</b></td>
                                                        <td>=</td>
                                                        <td>@order.GenelToplam @defCurr</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
