﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper

@{
    ViewBag.Title = "Edit Sales Order";

    var user = ViewBag.User as Account;
    var isyeri = ViewBag.Isyeri as List<View_Isyeri>;
    var bolumler = ViewBag.Bolum as List<View_Bolumler>;
    var ambarlar = ViewBag.Ambarlar as List<View_Ambarlar>;

    var vadeler = ViewBag.VadeList as List<View_OdemePlanlari>;

    var tasiyiciKodlar = ViewBag.TasiyiciKodlar as List<View_TasiyiciKodlar>;

    var defCurr = (string)ViewBag.DefCurrency;

    var account = ViewBag.User as Account;

    var offer = ViewBag.Siparis as View_SiparisFisler;
    var items = ViewBag.Items as List<View_SiparisDetayli>;
    int count = 1;

    var settingCodeShippingCost = DossoDossi.Data.DataAccess.SettingDataAccess.GetValByCode("Logo.ShippingCostCode");

    double kargoBedeli = 0;

    if (items.Any(a => a.MalzemeKodu == settingCodeShippingCost))
    {
        kargoBedeli = items.FirstOrDefault(a => a.MalzemeKodu == settingCodeShippingCost).FiyatTL.Value;
    }


}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Order Management</a> /

            <a class="navbar-brand" href="/Order/Index">List</a> /

            <a class="navbar-brand" href="javascript:;">Update</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-success card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title - Order Fiche No : @offer.FisNo</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("FileAddForItem", "Offer", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", id = "DemandFileItemForm" }))
                        {
                            <input type="hidden" class="CreatedOfferId" value="@offer.FisId" name="id" />
                            <input type="hidden" name="nos" class="demandItemNos" value="" />
                            <input type="hidden" name="counts" class="fileCounts" value="" />
                            <input type="hidden" name="counts" class="TeklifNoHidden" value="@offer.FisNo" />

                            <input type="hidden" id="HiddenFisId" value="@offer.FisId" />
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Date :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="date" id="TeklifTarih" class="form-control" value="@offer.FisTarih.Value.ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Branch :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="IsyeriSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in isyeri)
                                            {
                                                var cls = "";

                                                if (offer.IsyeriNo == item.NR)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Salesman :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="SalesmanCode" readonly value="@offer.Satici">
                                    </div>
                                </div>
                                @*<label class="col-sm-1 col-form-label">Section :</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="BolumSelect">
                                                <option disabled selected>Please Select</option>
                                                @foreach (var item in bolumler)
                                                {
                                                    var cls = "";

                                                    if ( == item.NR.Value.ToString())
                                                    {
                                                        cls = "selected";
                                                    }

                                                    <option @cls value="@item.NR">@item.NAME</option>
                                                }
                                            </select>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Client Code :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerCode" placeholder="Choose" value="@offer.CariKod">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Warehouse :</label>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="AmbarSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in ambarlar)
                                            {
                                                string cls = "";

                                                if (ambarlar.Count == 1)
                                                {
                                                    cls = "selected";
                                                }

                                                if (!offer.Ambar.ToControl() && offer.AmbarNo == item.NR.Value)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Shipping Cost(EUR) :</label>
                                <div class="col-sm-3">
                                    <input type="number" id="KargoBedeli" class="form-control" onblur="CalculateAll()" placeholder="Shipping Price..." value="@kargoBedeli" />
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Client Name :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerName" placeholder="Choose" value="@offer.CariUnvan">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label">Payment Type :</label>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="VadeSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in vadeler)
                                            {
                                                string cls = "";
                                                if (!offer.OdemePlaniKodu.ToControl() && offer.OdemePlaniKodu == item.CODE)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.CODE">@item.DEFINITION_</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label" style="color:red;">Estimated Delivery Date :</label>
                                <div class="col-sm-3" style="">
                                    <input type="date" class="form-control" id="TeslimTarihiSelect" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Shipping Address :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="ShipAddressCodePrew" placeholder="Choose" value="@offer.SevkiyatAdresiKodu">
                                        <label id="ShipAddresNameSelected">@offer.SevkiyatAdres1 @offer.SevkiyatAdres2 @offer.SevkiyatAdresiAciklamasi @offer.SevkiyatSehir @offer.SevkiyatUlkeAdi </label>
                                        <input type="hidden" id="SelectedShipCode" value="@offer.SevkiyatAdresiKodu" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSevkAdres()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Carrier :</label>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="TasiyiciKodSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in tasiyiciKodlar)
                                            {
                                                string cls = "";
                                                if (!offer.TasiyiciKodu.ToControl() && offer.TasiyiciKodu == item.CODE)
                                                {
                                                    cls = "selected";
                                                }
                                                <option @cls value="@item.CODE">@item.TITLE</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label">Cust. Order No :</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="CustomerOrderNo" placeholder="Customer Order No" value="@offer.MusteriSipNo">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <table id="classTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>QTY</th>
                                                <th>Unit Price</th>
                                                <th>Currency</th>
                                                <th>Total</th>
                                                <th>Discount(%)</th>
                                                <th>VAT(%)</th>
                                                <th>VAT Total</th>
                                                <th>Net Total</th>
                                                <th>Note</th>
                                                <th>Client Code</th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ListOffer">
                                            @foreach (var item in items)
                                            {
                                                if (item.MalzemeKodu == settingCodeShippingCost)
                                                {
                                                    continue;
                                                }

                                                var satirFiyat = item.FiyatTL.Value;

                                                if (!item.TeslimatKodu.ToControl())
                                                {
                                                    double num = 0;
                                                    var st = double.TryParse(item.TeslimatKodu, out num);

                                                    if (num > 0)
                                                    {
                                                        var ust = Math.Round((item.FiyatTL.Value / ((100 - num) / 100)), 5);
                                                        satirFiyat = ust;
                                                    }
                                                }


                                                <tr class="allitemlistlines list_line_@item.SatirId" data-no="@item.SatirId">
                                                    <td>
                                                        @count
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="l_sel_product_id_@item.SatirId" value="@item.StokId" />
                                                        <input type="hidden" class="sel_unit_code_@item.SatirId" value="@item.Birim" />
                                                        <input type="hidden" class="sel_hiddensatirid_@item.SatirId" value="@item.SatirId" />
                                                        <div class="input-group no-border">
                                                            <input type="text" value="@item.MalzemeKodu" id="Item_stok_code_@item.SatirId" class="form-control" placeholder="Select...">

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group no-border">
                                                            <input type="text" value="@item.MalzemeAciklamasi" class="form-control" id="Item_stok_name_@item.SatirId" placeholder="Select...">

                                                        </div>
                                                    </td>


                                                    <td>
                                                        <input type="text" class="form-control l_sel_miktar_@item.SatirId" readonly onblur="CalculateAll()" placeholder="Amount" value="@item.Miktar">
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control l_sel_price_@item.SatirId" readonly onblur="CalculateAll()" placeholder="Price" value="@satirFiyat">
                                                    </td>
                                                    <td>
                                                        <select class="form-control l_sel_doviz_@item.SatirId">
                                                            <option value="USD">USD</option>
                                                            <option selected value="EUR">EUR</option>
                                                            <option value="TRY">TRY</option>
                                                            <option value="GBP">GBP</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <span class="sel_aratoplam_@item.SatirId">

                                                        </span>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control sel_discount_@item.SatirId" readonly onblur="CalculateAll()" placeholder="Rate" value="@item.TeslimatKodu">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control sel_vat_@item.SatirId" onblur="CalculateAll()" placeholder="%" value="@item.KDV">
                                                    </td>
                                                    <td>
                                                        <span class="satirKdvToplam_@item.SatirId"></span>
                                                    </td>

                                                    <td>
                                                        <span class="satirNetToplam_@item.SatirId">

                                                        </span>
                                                    </td>

                                                    <td>
                                                        <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Not_@item.SatirId').modal('show')">Note</a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="formModal_Not_@item.SatirId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Your Note</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                                                            <div class="row">
                                                                                <table class="table table-sm table-bordered">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <textarea class="form-control l_sel_note_@item.SatirId" placeholder="Your note" rows="2">@item.SatirAciklamasi</textarea>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Cr_@item.SatirId').modal('show')">Code</a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="formModal_Cr_@item.SatirId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Client Product Code</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                                                            <div class="row">
                                                                                <table class="table table-sm table-bordered">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input type="text" class="form-control l_clientpr_code_@item.SatirId" placeholder="Client Product Code" value="@item.OzelKod" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">


                                    <div class="col-md-3  col-sm-4">
                                        <textarea class="form-control" id="Aciklama_T" placeholder="Your Comments" rows="5">@offer.Aciklama1</textarea>
                                    </div>
                                    <div class="col-md-3 " style="float:right">

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Total Amount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalAmount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Discount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalDiscount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Vat </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalVat_T"></span>
                                                    </td>
                                                </tr>
                                                <tr style="display:none" class="totalShipmentDiv">
                                                    <td>Total Shipment </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalShipment_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Net</td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalNet_T"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <a href="javascript:;" onclick="SiparisLogoAktar()" class="btn btn-fill btn-rose sel_create_button_cl">SAVE<div class="ripple-container"></div></a>

                                <button class="btn-sm btn btn-warning btn-sm btn-rounded l_sel_create_btuuon_load" style="display: none" type="button">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loaidng
                                    <span class="sr-only">Loading...</span>
                                </button>

                                <span class="loadinPro"></span>

                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script id="Template2" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseCari('{{CariId}}')">
        <td>{{Index}} </td>
        <td>
            <input type="hidden" id="CariSel_{{CariId}}" value="{{json}}" />
            {{ChKodu}}
        </td>
        <td>{{ChUnvani}}</td>

        <td>{{Adres1}} {{Adres2}} {{Sehir}} {{Ulke}}</td>

        <td>
            {{TelefonNumarasi1}}
        </td>
        <td>
            {{EmailAdresi}}
        </td>

        <td>
            <a href="javascript:;" onclick="ChooseCari('{{CariId}}')" class="btn btn-sm btn-warning btn-rounded " title="Select"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>

<script id="Template" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseProduct('{{StokId}}')" style="cursor: pointer">
        <td>{{Index}} </td>
        <td>
            <b>{{MalzemeKodu}}</b>
            <input type="hidden" id="ProductSearch_Json_{{StokId}}" value="{{json}}" />
        </td>
        <td>{{MalzemeAdi}}  {{NAME3}}</td>

        <td>{{MerkezStok}} {{BirimSetiKodu}}</td>
        <td>{{Birim2}} {{BirimSetiKodu}}</td>
        <td>{{BekleyenSiparisMiktar}} {{BirimSetiKodu}}</td>
        <td>
            <b>{{EmagazaKodu}} {{BirimSetiKodu}}</b>
        </td>
        <td>{{GrupKodu}}</td>

        <td>
            <a href="javascript:;" onclick="ChooseProduct('{{StokId}}')" class="btn btn-sm btn-warning btn-rounded " title="Choose"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>

<div class="hidden">

    @using (Html.BeginForm("GetList", "Customer", FormMethod.Post, new { id = "FilterForm2" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage2" />
        <input type="hidden" name="Filter" id="Filter2" />
        <input type="hidden" name="Order" id="Order2" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount2" />
    }


    @using (Html.BeginForm("GetList", "Stock", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
    }

</div>

@section js{
    <script src="~/assets/App/Filter2.js"></script>
    <script src="~/assets/App/User/User.js"></script>
    <script src="~/assets/App/Offer/Offer.Create.js?v=00034"></script>

    <script>
        $(".orderNav").addClass("active");

        $(function () {
            CalculateAll();
        });

    </script>

    <script type="text/javascript">

        function OpenCariSearch() {

            Erp.U.P.Modal.Open("/Customer/OpenSearch",
                {},
                function () { });

        }


        function GetAllItemsEditOrderPage() {

            var res = [];

            var validLine = true;

            $(".allitemlistlines").each(function () {

                var no = $(this).attr("data-no");

                var miktar = $(".l_sel_miktar_" + no).val();
                var price = $(".l_sel_price_" + no).val();
                var currency = $(".l_sel_doviz_" + no).val();

                var add = {
                    SatirId: no,
                    Id: $(".lineitemhidden_" + no).val(),
                    Qty: parseFloat(miktar),
                    Price: parseFloat(price.replace(',', '.')),
                    Currency: currency,
                    Discount: $(".sel_discount_" + no).val(),
                    ProductId: $(".l_sel_product_id_" + no).val(),
                    ProductCode: $("#Item_stok_code_" + no).val(),
                    ProductName: $("#Item_stok_name_" + no).val(),
                    UnitCode: $('.sel_unit_code_' + no).val(),
                    IsReserved: $(".sel_isreserved_" + no).val(),
                    ReserveDate: $(".reservedendDate_" + no).val(),
                    Note: $(".l_sel_note_" + no).val(),
                    FrmNo: no,
                    CustomerPrCode: $(".l_clientpr_code_" + no).val(),
                    Vat: $(".sel_vat_" + no).val()
                };

                if (add.Quantity < 0 || add.Quantity == "") {

                    Erp.U.Pulsate(".l_sel_miktar_" + no);
                    validLine = false;
                }

                if (add.Price < 0 || add.Price == "") {

                    Erp.U.Pulsate(".l_sel_price_" + no);
                    validLine = false;
                }

                if (add.ProductName.length < 1) {
                    Erp.U.Pulsate("#Item_stok_code_" + no);
                    Erp.U.Pulsate("#Item_stok_name_" + no);
                    validLine = false;
                }

                if (add.IsReserved == "1" && add.ReserveDate.length < 10) {
                    Erp.U.Pulsate(".reservedendDate_" + no);
                    validLine = false;
                } else {

                }

                if (validLine == true) {
                    res.push(add);
                }
            });

            if (validLine == false) {
                return [];
            }

            return res;
        }

        function ChooseCari(id) {

            var json = JSON.parse($("#CariSel_" + id).val());

            $(".choosesupplyclosebutton").click();

            $("#CustomerName").val(json.ChUnvani);
            $("#CustomerCode").val(json.ChKodu);

            $("#ShipAddressCodePrew").val('');
            $("#ShipAddresNameSelected").text('');
            $("#SelectedShipCode").val('');

            if (json.OdemePlanKodu != null) {
                $("#VadeSelect").val(json.OdemePlanKodu)
            }
        }

        function OpenCariSevkAdres() {
            var kod = $("#CustomerCode").val();

            if (kod.length == 0) {
                Erp.U.Pulsate("#CustomerCode");
                Erp.U.P.T.Warning("Warning ", "Please choose client.");
                return false;
            }

            Erp.U.P.Modal.Open("/Customer/OpenAdres",
                { code: kod },
                function () { });
        }

        function ChooseAdres(id) {

            var json = JSON.parse($("#AdresSel_" + id).val());

            $("#ShipAddressCodePrew").val(json.ADRES_KODU + '' + json.ADRES_ADI);

            $("#SelectedShipCode").val(json.ADRES_KODU);

            var str = json.ADRES_ADI + ' ' + json.ADDR1 + ' ' + json.ADDR2 + ' ' + json.CITY + '' + json.COUNTRY;

            $("#ShipAddresNameSelected").text(str);

            Erp.U.Pulsate("#ShipAddressCodePrew");

            $(".closebutton").click();
        }


        function SiparisLogoAktar() {

            var order = {
                FisId: $("#HiddenFisId").val(),
                CreateDate: $("#TeklifTarih").val(),
                SaticiKodu: $("#SalesmanCode").val(),
                CariKodu: $("#CustomerCode").val(),
                SevAdresKodu: $("#SelectedShipCode").val(),
                IsYeri: $("#IsyeriSelect").val(),
                Bolum: $("#BolumSelect").val(),
                Ambar: $("#AmbarSelect").val(),
                VadeKodu: $("#VadeSelect").val(),
                TasiyiciKodu: $("#TasiyiciKodSelect").val(),
                Note1: $("#Aciklama_T").val(),
                OfferId: $(".CreatedOfferId").val(),
                BelgeNo: $(".TeklifNoHidden").val(),
                Items: [],
                OzelKodu: 'DossoDossi',
                MusteriSiparisNo: $("#CustomerOrderNo").val(),
                TeslimTarihi: $("#TeslimTarihiSelect").val(),
                KargoBedeli: $("#KargoBedeli").val()
            };

            var isValid = true;

            if (order.CariKodu.length < 1) {
                Erp.U.P.T.Warning("Warning !", 'Select client');
                Erp.U.Pulsate("#CustomerCode");
                isValid = false;
            }

            if (order.IsYeri == null || order.IsYeri.length < 1) {
                Erp.U.P.T.Warning("Warning !", 'Select workplace');
                Erp.U.Pulsate("#CustomerCode");
                isValid = false;
            }

            //if (order.Bolum == null || order.Bolum.length < 1) {
            //    Erp.U.P.T.Warning("Warning !", 'Select section');
            //    Erp.U.Pulsate("#BolumSelect");
            //    isValid = false;
            //}

            if (order.Ambar == null || order.Ambar.length < 1) {
                Erp.U.Pulsate("#AmbarSelect");
                Erp.U.P.T.Warning("Warning !", 'Select warehouse');
                isValid = false;
            }

            if (!isValid) {
                return false;
            }

            var items = GetAllItemsEditOrderPage();

            if (items.length == 0) {
                Erp.U.P.T.Warning("Warning !", 'Please fill in the required fields.');
                return false;
            }

            order.Items = items;

            bootbox.confirm("Are you sure you want to create order ?",
                function (result) {
                    if (result === true) {

                        $(".sel_create_button_cl").hide();
                        $(".l_sel_create_btuuon_load").show();
                        $(".loadinPro").text("Data is processing...")

                        Erp.U.A.Req.C("POST",
                            "/Order/SiparisLogoGuncelle",
                            { order: order },
                            function (data) {

                                if (data.Status == true) {

                                    $(".l_sel_create_btuuon_load").hide();

                                    $(".loadinPro").html(data.Message + '  <a href="/Order/Index"> Go to Order List</a>');

                                    $(".sel_create_button_cl").hide();

                                    Erp.U.P.T.Success("Result", data.Message);

                                } else {

                                    $(".sel_create_button_cl").show();
                                    $(".l_sel_create_btuuon_load").hide();

                                    $(".loadinPro").text(data.Message);

                                    Erp.U.P.T.Warning("Warning ", data.Message);

                                }


                            });


                    }
                });



        }

    </script>


}