﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper

@{
    ViewBag.Title = "Purchase Order Create";

    var user = ViewBag.User as Account;
    var isyeri = ViewBag.Isyeri as List<View_Isyeri>;
    var bolumler = ViewBag.Bolum as List<View_Bolumler>;
    var ambarlar = ViewBag.Ambarlar as List<View_Ambarlar>;

    var vadeler = ViewBag.VadeList as List<View_OdemePlanlari>;

    var tasiyiciKodlar = ViewBag.TasiyiciKodlar as List<View_TasiyiciKodlar>;

    var defCurr = (string)ViewBag.DefCurrency;

    var account = ViewBag.User as Account;

    int count = 1;

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Order Management</a> /

            <a class="navbar-brand" href="/Order/Index">List</a> /

            <a class="navbar-brand" href="javascript:;">Create</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-success card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("FileAddForItem", "Offer", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", id = "DemandFileItemForm" }))
                        {
                            <input type="hidden" class="CreatedOfferId" value="" name="id" />
                            <input type="hidden" name="nos" class="demandItemNos" value="" />
                            <input type="hidden" name="counts" class="fileCounts" value="" />
                            <input type="hidden" name="counts" class="TeklifNoHidden" value="" />
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Date :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="date" id="TeklifTarih" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Branch :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="IsyeriSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in isyeri)
                                            {
                                                var cls = "";

                                                if (account.Isyeri == item.NR)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Salesman :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="SalesmanCode" readonly value="@user.SalesManCode">
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Section :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="BolumSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in bolumler)
                                            {
                                                var cls = "";

                                                if (account.Bolum == item.NR)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Supplier Code :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerCode" placeholder="Choose">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Warehouse :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="AmbarSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in ambarlar)
                                            {
                                                string cls = "";

                                                if (ambarlar.Count == 1)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Suppplier Name :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerName" placeholder="Choose">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label">Payment Type :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="VadeSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in vadeler)
                                            {
                                                <option value="@item.CODE">@item.DEFINITION_</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Shipping Address :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="ShipAddressCodePrew" placeholder="Choose">
                                        <label id="ShipAddresNameSelected"></label>
                                        <input type="hidden" id="SelectedShipCode" />

                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSevkAdres()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Transfer Type :</label>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="TasiyiciKodSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in tasiyiciKodlar)
                                            {
                                                <option value="@item.CODE">@item.TITLE</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cust. Order No :</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="CustomerOrderNo" placeholder="Customer Order No">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Delivery Method:</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="DeliveryMethod" placeholder="Write...">
                                    </div>
                                </div>
                                <div class="col-sm-1">

                                </div>

                                <label class="col-sm-1 col-form-label" style="color:red;">Estimated Required Date :</label>
                                <div class="col-sm-3" style="">
                                    <input type="date" class="form-control" id="TeslimTarihiSelect" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <table id="classTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>Amount</th>
                                                <th>Unit Price</th>
                                                <th>Currency</th>
                                                <th>Total</th>
                                                <th>Vat(%)</th>
                                                <th>Vat Total</th>
                                                <th>Net Total</th>
                                                <th>Note</th>
                                                <th>
                                                    <a class="btn btn-success btn-sm" href="javascript:;" onclick="SatirEkle()">
                                                        <i class="material-icons">add</i> Line Add
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ListOffer">
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3  col-sm-4"></div>
                                    <div class="col-md-3  col-sm-4">
                                        <textarea class="form-control" id="Aciklama_T" placeholder="Description" maxlength="50" rows="5"></textarea>
                                    </div>
                                    <div class="col-md-3 " style="float:right">

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Total Amount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalAmount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Discount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalDiscount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Vat </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalVat_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Net</td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalNet_T"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <a href="javascript:;" onclick="SiparisLogoAktar()" class="btn btn-fill btn-rose sel_create_button_cl">Create Pruchase Order<div class="ripple-container"></div></a>
                                <button class="btn-sm btn btn-warning btn-sm btn-rounded l_sel_create_btuuon_load" style="display: none" type="button">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loaidng
                                    <span class="sr-only">Loading...</span>
                                </button>
                                <span class="loadinPro"></span>


                                <a href="javascript:;" onclick="CreateToUretim()" class="btn btn-fill btn-rose create_to_production" style="display:none">Create To Vietnam Production Order <div class="ripple-container"></div></a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script id="TemplateOffer" type="text/html">
    {{#DATA}}

    <tr class="allitemlistlines list_line_{{No}}" data-no="{{No}}">
        <td>
            <input type="hidden" class="l_sel_product_id_{{No}}" value="" />
            <input type="hidden" class="sel_unit_code_{{No}}" value="" />
            <input type="hidden" class="lineitemhidden_{{No}}" value="0" />


            <div class="input-group no-border">
                <input type="text" value="" id="Item_stok_code_{{No}}" class="form-control" placeholder="Select...">
                <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('{{No}}')">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </td>
        <td>
            <div class="input-group no-border">
                <input type="text" value="" class="form-control" id="Item_stok_name_{{No}}" placeholder="Select...">
                <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('{{No}}')">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </td>
      
        <td>
            <input type="text" class="form-control l_sel_miktar_{{No}}" name="" onblur="CalculateAll()" placeholder="Amount" value="">
        </td>

        <td>
            <input type="text" class="form-control l_sel_price_{{No}}" name="" onblur="CalculateAll()" placeholder="Price" value="">
        </td>
        <td>
            <select class="form-control l_sel_doviz_{{No}}">
                <option @(defCurr == "USD" ? "selected" : "") value="USD">USD</option>
                <option @(defCurr == "EUR" ? "selected" : "") value="EUR">EUR</option>
                <option @(defCurr == "TRY" ? "selected" : "") value="TRY">TRY</option>
                <option @(defCurr == "GBP" ? "selected" : "") value="GBP">GBP</option>
            </select>
        </td>
        <td>
            <span class="sel_aratoplam_{{No}}"></span>
        </td>
        @*<td>
            <input type="text" class="form-control sel_discount_{{No}}" onblur="CalculateAll()" placeholder="Rate" value="">
        </td>*@
        <td>
            <input type="text" class="form-control sel_vat_{{No}}" onblur="CalculateAll()" placeholder="%" value="0">
        </td>
        <td>
            <span class="satirKdvToplam_{{No}}"></span>
        </td>
        <td>
            <span class="satirNetToplam_{{No}}"></span>
        </td>
     
        <td>
            <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Not_{{No}}').modal('show')">Note</a>

            <!-- Modal -->
            <div class="modal fade" id="formModal_Not_{{No}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Your Note</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="row">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>

                                                <td>
                                                    <textarea class="form-control l_sel_note_{{No}}" placeholder="Your note" rows="2"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>

        <td>

            <a href="javascript:;" onclick="SatirSil('{{No}}')" data-no="{{No}}" class="btn-rounded l_sel_delet_{{No}}" title="Delete">
                <i class="material-icons">close</i>
            </a>

            <a href="javascript:;" onclick="SatirKopyala('{{No}}')" data-no="{{No}}" class="l_sel_copy_{{No}}" title="Line Copy"><i class="fa fa-copy"></i></a>

        </td>
    </tr>

    {{/DATA}}
</script>

<script id="Template2" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseCari('{{CariId}}')">
        <td>{{Index}} </td>
        <td>
            <input type="hidden" id="CariSel_{{CariId}}" value="{{json}}" />
            {{ChKodu}}
        </td>
        <td>{{ChUnvani}}</td>

        <td>{{Adres1}} {{Adres2}} {{Sehir}} {{Ulke}}</td>

        <td>
            {{TelefonNumarasi1}}
        </td>
        <td>
            {{EmailAdresi}}
        </td>

        <td>
            <a href="javascript:;" onclick="ChooseCari('{{CariId}}')" class="btn btn-sm btn-warning btn-rounded " title="Select"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>


<script id="Template" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseProduct('{{StokId}}')" style="cursor: pointer">
        <td>{{Index}} </td>
        <td>
            <b>{{MalzemeKodu}}</b>
            <input type="hidden" id="ProductSearch_Json_{{StokId}}" value="{{json}}" />
        </td>
        <td>{{MalzemeAdi}}  {{NAME3}}</td>

        <td>{{MerkezStok}} {{BirimSetiKodu}}</td>
        <td>{{Birim2}} {{BirimSetiKodu}}</td>
        <td>{{BekleyenSiparisMiktar}} {{BirimSetiKodu}}</td>
        <td>
            <b>{{EmagazaKodu}} {{BirimSetiKodu}}</b>
        </td>
        <td>{{GrupKodu}}</td>

        <td>
            <a href="javascript:;" onclick="ChooseProduct('{{StokId}}')" class="btn btn-sm btn-warning btn-rounded " title="Choose"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>

<div class="hidden">

    @using (Html.BeginForm("GetList", "Customer", FormMethod.Post, new { id = "FilterForm2" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage2" />
        <input type="hidden" name="Filter" id="Filter2" />
        <input type="hidden" name="Order" id="Order2" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount2" />
        <input type="hidden" name="isall" value="1" />
    }


    @using (Html.BeginForm("GetList", "Stock", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
    }

</div>


@section js{

    <script src="~/assets/App/Filter2.js"></script>
    <script src="~/assets/App/User/User.js"></script>
    <script src="~/assets/App/Offer/Offer.Create.js"></script>

    <script>
        $(".porderNav").addClass("active");

        $(function () {
            SatirEkle();
        });

        $(function () {
            CalculateAll();
        });

    </script>

    <script type="text/javascript">

        function OpenCariSearch() {

            Erp.U.P.Modal.Open("/Customer/OpenSearch",
                {},
                function () { });

        }

        function ChooseCari(id) {

            var json = JSON.parse($("#CariSel_" + id).val());

            $(".choosesupplyclosebutton").click();

            $("#CustomerName").val(json.ChUnvani);
            $("#CustomerCode").val(json.ChKodu);

            $("#ShipAddressCodePrew").val('');
            $("#ShipAddresNameSelected").text('');
            $("#SelectedShipCode").val('');

            if (json.OdemePlanKodu != null) {
                $("#VadeSelect").val(json.OdemePlanKodu)
            }
        }

        function OpenCariSevkAdres() {
            var kod = $("#CustomerCode").val();

            if (kod.length == 0) {
                Erp.U.Pulsate("#CustomerCode");
                Erp.U.P.T.Warning("Warning ", "Please choose client.");
                return false;
            }

            Erp.U.P.Modal.Open("/Customer/OpenAdres",
                { code: kod },
                function () { });
        }

        function ChooseAdres(id) {

            var json = JSON.parse($("#AdresSel_" + id).val());

            $("#ShipAddressCodePrew").val(json.ADRES_KODU + '' + json.ADRES_ADI);

            $("#SelectedShipCode").val(json.ADRES_KODU);

            var str = json.ADRES_ADI + ' ' + json.ADDR1 + ' ' + json.ADDR2 + ' ' + json.CITY + '' + json.COUNTRY;

            $("#ShipAddresNameSelected").text(str);

            Erp.U.Pulsate("#ShipAddressCodePrew");

            $(".closebutton").click();
        }


        var savedLogicalRef = "";

        function SiparisLogoAktar() {

            var order = {
                CreateDate: $("#TeklifTarih").val(),
                SaticiKodu: $("#SalesmanCode").val(),
                CariKodu: $("#CustomerCode").val(),
                SevAdresKodu: $("#SelectedShipCode").val(),
                IsYeri: $("#IsyeriSelect").val(),
                Bolum: $("#BolumSelect").val(),
                Ambar: $("#AmbarSelect").val(),
                VadeKodu: $("#VadeSelect").val(),
                TasiyiciKodu: $("#TasiyiciKodSelect").val(),
                Note1: $("#Aciklama_T").val(),
                OfferId: $(".CreatedOfferId").val(),
                BelgeNo: $(".TeklifNoHidden").val(),
                Items: [],
                OzelKodu: 'DossoDossi',
                MusteriSiparisNo: $("#CustomerOrderNo").val(),
                TeslimTarihi: $("#TeslimTarihiSelect").val(),
                TeslimSekli : $("#DeliveryMethod").val()
            };

            var isValid = true;

            if (order.CariKodu.length < 1) {
                Erp.U.P.T.Warning("Warning !", 'Select client');
                Erp.U.Pulsate("#CustomerCode");
                isValid = false;
            }

            if (order.IsYeri == null || order.IsYeri.length < 1) {
                Erp.U.P.T.Warning("Warning !", 'Select workplace');
                Erp.U.Pulsate("#CustomerCode");
                isValid = false;
            }

            if (order.Bolum == null || order.Bolum.length < 1) {
                Erp.U.P.T.Warning("Warning !", 'Select section');
                Erp.U.Pulsate("#BolumSelect");
                isValid = false;
            }

            if (order.Ambar == null || order.Ambar.length < 1) {
                Erp.U.Pulsate("#AmbarSelect");
                Erp.U.P.T.Warning("Warning !", 'Select warehouse');
                isValid = false;
            }

            if (!isValid) {
                return false;
            }

            var items = GetAllItems();

            if (items.length == 0) {
                Erp.U.P.T.Warning("Warning !", 'Please fill in the required fields.');
                return false;
            }

            order.Items = items;

            bootbox.confirm("Are you sure you want to create order ?",
                function (result) {
                    if (result === true) {

                        $(".sel_create_button_cl").hide();
                        $(".l_sel_create_btuuon_load").show();
                        $(".loadinPro").text("Data is processing...")

                        Erp.U.A.Req.C("POST",
                            "/Order/SatinAlmaLogoAktar",
                            { order: order },
                            function (data) {

                                if (data.Status == true) {

                                    $(".l_sel_create_btuuon_load").hide();

                                    $(".loadinPro").html(data.Message + '  <a href="/Order/PurchIndex"> Go to  List</a>');

                                    $(".sel_create_button_cl").hide();

                                    Erp.U.P.T.Success("Sonuç", data.Message);

                                    savedLogicalRef = data.Code;

                                    $(".create_to_production").show();
                                    CreateToUretim();


                                } else {

                                    $(".sel_create_button_cl").show();
                                    $(".l_sel_create_btuuon_load").hide();

                                    $(".loadinPro").text(data.Message);

                                    Erp.U.P.T.Warning("Warning ", data.Message);

                                }
                            });
                    }
                });
        }

        function CreateToUretim() {

            var fisId = savedLogicalRef;

            bootbox.confirm("Would you like to order Vietnam Comp. for production?",
                function (result) {
                    if (result === true) {

                        $(".loadinPro").text("Data is processing....Please wait !")

                        Erp.U.A.Req.C("POST",
                            "/Order/SatinAlmaUretimeLogoAktar",
                            { id: fisId},
                            function (data) {

                                if (data.Status == true) {

                                    $(".create_to_production").hide();

                                    $(".loadinPro").html(data.Message + '  <a href="/Order/PurchIndex">Production Order was saved!  Go to  List</a>');

                                    Erp.U.P.T.Success("Sonuç", data.Message);

                                } else {

                                    $(".sel_create_button_cl").show();
                                    $(".l_sel_create_btuuon_load").hide();

                                    $(".loadinPro").text(data.Message);

                                    Erp.U.P.T.Warning("Warning ", data.Message);

                                }

                            });



                    }

                });

        }

    </script>


}