﻿@using DossoDossi.Data.Entity;
@{
    ViewBag.Title = "Yetkilendirme";
    var all = ViewBag.All;

    var id = Request.QueryString["id"];

    var userRoels = ViewBag.OwnRoles as List<string>;


}


<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Kullanıcı Yönetimi</a> /

            <a class="navbar-brand" href="javascript:;">Liste</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>

                        <h4 class="card-title">Kullanıc Liste</h4>
                    </div>
                    <div class="card-body" style="min-height:400px">
                        <div class="">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kullanıcı Seç</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <select class="selectpicker UserSelectId" id="UserSelectIDf" data-size="7" data-style="btn btn-primary " name="ParentId" onchange="UserChange()">
                                            <option value="" disabled selected>Seçiniz</option>
                                            @foreach (Account item in all)
                                            {
                                                var cls = "";
                                                if (id == item.Id.ToString())
                                                {
                                                    cls = "selected";
                                                }
                                                <option @cls value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <hr />
                                <br />
                                <br />
                                <br />
                            </div>

                            @if (ViewBag.Roles != null)
                            {
                                var allRoles = ViewBag.Roles as List<DossoDossi.Data.Entity.Role>;
                                var cates = allRoles.Select(a => a.Category).Distinct().ToList();

                                foreach (var cate in cates.OrderBy(a => a))
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h5><b>@cate</b></h5>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Kodu</th>
                                                        <th>Adı</th>
                                                        <th>Açıklama</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var r in allRoles.Where(s => s.Category == cate))
                                                    {

                                                        string cls = "";

                                                        if (userRoels != null && userRoels.Any() && userRoels.Any(a => a == r.Code))
                                                        {
                                                            cls = "checked";
                                                        }
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" @cls class="allitemrole" value="@r.Code" />
                                                            </td>
                                                            <td>
                                                                @r.Code
                                                            </td>
                                                            <td>@r.Name</td>
                                                            <td>@r.Description</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                }

                                <br />
                                <hr />

                                <div class="row">
                                    <div class="col-md-8 text-center">
                                        <a href="javascript:;" onclick="UpdateRole('@Request.QueryString["id"]')" class="btn btn-success text-center">Kaydet</a>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section js{

    <script>
        function UserChange() {
            var id = $(".UserSelectId select").val();
            location.href = "/User/Roles?id=" + id;
        }

        function UpdateRole(id) {
            var arr = [];

            $(".allitemrole").each(function () {

                if ($(this).is(":checked")) {
                    arr.push($(this).val());
                }
            });

            bootbox.confirm("Kaydetmek istediğinize eminmisiniz? ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/User/UpdateRoles",
                            { id: id, arr: arr },
                            function (data) {
                                if (data == true) {
                                    Erp.U.P.T.Success("Result", "Succesfully Saved !");
                                } else {
                                    Erp.U.P.T.Warning("Warning ", "An error occurred, please try again later.");
                                }

                            });
                    }
                });

        }
    </script>
    <script>
        $(".userNav").addClass("active");
               // $(".userNav a").click();
    </script>

}