﻿@using CRM.Data.Entity
@model List<View_SiparisDetayli>
@{
    Layout = null;
    ViewBag.Title = "Sales Order Details";
    int count = 1;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                   
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered tablecontent" style="font-size: 10px !important">
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th>Stock Code</th>
                                                <th>Stock Name</th>
                                                <th>Amount</th>
                                                <th>Shipped Amount</th>
                                                <th>Remaining Amount</th>
                                                <th>Unit</th>
                                                <th>Price</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ListShip">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>
                                                        @item.MalzemeKodu
                                                    </td>
                                                    <td>@item.MalzemeAciklamasi</td>
                                                    <td>@item.Miktar</td>
                                                    <td>@item.SevkedilenMiktar</td>
                                                    <td>@item.KalanMiktar</td>
                                                    <td>@item.Birim</td>
                                                    <td>@item.DovizliFiyat</td>
                                                    <td>
                                                        @item.SatirAciklamasi
                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm closebutton" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

