﻿@using DossoDossi.Data.Entity
@{
    ViewBag.Title = "Order Create";
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Order Management</a> /

            <a class="navbar-brand" href="/Order/Index">List</a> /

            <a class="navbar-brand" href="javascript:;">Create</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }
                    <form method="post" action="@Url.Action("Create","Order")" class="form-horizontal">

                        <div class="row">
                            <label class="col-sm-2 col-form-label">From Offer No :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Name" required value="00008">
                                    <span class="bmd-help">Form field is required</span>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Order Date :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="UserName" required value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                    <span class="bmd-help">Form field is required</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Order Number :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Name" required value="0000345">
                                    <span class="bmd-help">Form field is required</span>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Clietne's Order Number :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="UserName" required>
                                    <span class="bmd-help">Form field is required</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Salesman :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Password" required value="Test User">
                                    <span class="bmd-help">Form field is required</span>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Work Place :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="ParentId">
                                        <option disabled>Please Select</option>
                                        <option selected value="F">France</option>
                                        <option value="F">Italy</option>
                                        <option value="F">Turkey</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Client Code :</label>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="Email" value="00013">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <a class="btn btn-info btn-sm">
                                        <i class="material-icons">search</i>
                                    </a>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Section :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="ParentId">
                                        <option disabled>Please Select</option>
                                        <option value="F">A</option>
                                        <option value="F">B</option>
                                        <option selected value="F">Center</option>
                                        <option value="F">Production</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Client Name :</label>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="Email" value="Test LTD ">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <a class="btn btn-info btn-sm">
                                        <i class="material-icons">search</i>
                                    </a>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Warehouse :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " name="ParentId">
                                        <option disabled selected>Please Select</option>
                                        <option value="F" selected>Netherlands</option>
                                        <option value="F">Turkey</option>
                                        <option value="F">Italy</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Delivery Addres:</label>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <a class="btn btn-info btn-sm">
                                        <i class="material-icons">search</i>
                                    </a>
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">City/ Country :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Delivery Type:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Carrier :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Incoterm:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                            <label class="col-sm-2 col-form-label">Carrier Account Number :</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" value="">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">

                                <table id="classTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th style="max-width:90px">Is Reserved ?</th>
                                            <th>Reserve End Date</th>
                                            <th>Reserve Amount</th>
                                            <th>Warehouse Stock</th>
                                            <th>Net Stock</th>
                                            <th>Amount</th>
                                            <th>Unit Price</th>
                                            <th>Currency</th>
                                            <th>Total</th>
                                            <th>Discount(%)</th>
                                            <th>Net Total</th>
                                            <th>Documents</th>
                                            <th>
                                                @*<a class="btn btn-success btn-sm">
                                    <i class="material-icons">add</i> Line Add
                                </a>*@
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="TEST" class="form-control" placeholder="Select...">
                                                    <a class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="PRODUCT A" class="form-control" placeholder="Select...">
                                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="max-width:90px">
                                                <select class="form-control">
                                                    <option value="F" selected>No</option>
                                                    <option value="F">Yes</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" name="UserName" required value="">
                                            </td>

                                            <td>
                                                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalTest()">
                                                    <i class="material-icons">zoom_in</i> 0
                                                </a>
                                            </td>
                                            <td>100</td>
                                            <td>100</td>

                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Amount" value="100">
                                            </td>



                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="25">
                                            </td>
                                            <td>
                                                <select class="selectpicker" data-size="3" data-style="btn btn-default btn-sm" name="ParentId">
                                                    <option value="F" selected>USD</option>
                                                    <option value="F">EUR</option>
                                                    <option value="F">TRY</option>
                                                    <option value="F">GBP</option>
                                                </select>
                                            </td>
                                            <td>
                                                250 USD
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="0">
                                            </td>
                                            <td>
                                                250 USD
                                            </td>

                                            <td>
                                                <input type="file" class="form-control" name="" placeholder="Price" value="">
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" title="Delete Order">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="TEST2" class="form-control" placeholder="Select...">
                                                    <a class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="PRODUCT B" class="form-control" placeholder="Select...">
                                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control">
                                                    <option value="F" selected>No</option>
                                                    <option value="F">Yes</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" name="UserName" required value="">
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalTest()">
                                                    <i class="material-icons">zoom_in</i> 15
                                                </a>
                                            </td>
                                            <td>100</td>
                                            <td>85</td>
                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Amount" value="10">
                                            </td>

                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="40">
                                            </td>
                                            <td>
                                                <select class="selectpicker" data-size="3" data-style="btn btn-default btn-sm" name="ParentId">
                                                    <option value="F" selected>USD</option>
                                                    <option value="F">EUR</option>
                                                    <option value="F">TRY</option>
                                                    <option value="F">GBP</option>
                                                </select>
                                            </td>
                                            <td>
                                                400 USD
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="0">
                                            </td>
                                            <td>
                                                400 USD
                                            </td>

                                            <td>
                                                <input type="file" class="form-control" name="" placeholder="Price" value="">
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" title="Delete Order">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="TEST3" class="form-control" placeholder="Select...">
                                                    <a class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="input-group no-border">
                                                    <input type="text" value="PRODUCT C" class="form-control" placeholder="Select...">
                                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                        <i class="material-icons">search</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control">
                                                    <option value="F" selected>No</option>
                                                    <option value="F">Yes</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" name="UserName" required value="">
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalTest()">
                                                    <i class="material-icons">zoom_in</i> 33
                                                </a>
                                            </td>
                                            <td>150</td>
                                            <td>117</td>
                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Amount" value="100">
                                            </td>

                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="10">
                                            </td>
                                            <td>
                                                <select class="selectpicker" data-size="3" data-style="btn btn-default btn-sm" name="ParentId">
                                                    <option value="F" selected>USD</option>
                                                    <option value="F">EUR</option>
                                                    <option value="F">TRY</option>
                                                    <option value="F">GBP</option>
                                                </select>
                                            </td>
                                            <td>
                                                100 USD
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="" placeholder="Price" value="20">
                                            </td>
                                            <td>
                                                80 USD
                                            </td>
                                            <td>
                                                <input type="file" class="form-control" name="" placeholder="Price" value="">
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" title="Delete Order">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 col-sm-3"></div>
                                <div class="col-md-3 col-sm-3">
                                    <textarea class="form-control" placeholder="Your Notes" rows="5"></textarea>
                                </div>
                                <div class="col-md-3 " style="float:right">

                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Currency :</label>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select class="selectpicker" data-size="3" data-style="btn btn-info btn-sm" name="ParentId">
                                                    <option value="F" selected>USD</option>
                                                    <option value="F">EUR</option>
                                                    <option value="F">TRY</option>
                                                    <option value="F">GBP</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Total Amount </td>
                                                <td> :</td>
                                                <td>750 USD</td>
                                            </tr>

                                            <tr>
                                                <td>Total Discount </td>
                                                <td> :</td>
                                                <td>20 USD</td>
                                            </tr>
                                            <tr>
                                                <td>Total Net</td>
                                                <td> :</td>
                                                <th>730 USD</th>
                                            </tr>
                                            <tr>
                                                <td>Exchange Rate</td>
                                                <td> :</td>
                                                <td>1 USD  = 7.36 TRY</td>
                                            </tr>

                                            <tr>
                                                <td>Total Net TRY</td>
                                                <td> :</td>
                                                <td>5.372,8 USD</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer ">
                            <button type="submit" class="btn btn-fill btn-rose">Submit<div class="ripple-container"></div></button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="usersmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reserve List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <table id="classTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Reserve Amount</th>
                                <th>End Date</th>
                                <th>Customer Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>01.01.2021</td>
                                <td>TEST LTD</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>20.03.2021</td>
                                <td>TEST LTD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section js{
    <script>
        $(".orderNav").addClass("active");
        // $(".userNav a").click();
    </script>

    <script type="text/javascript">
        // <![CDATA[
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('#phone').mask('(999) 999-9999');
            $('#phone2').mask('0999 999 9999');
        });


        function OpenModalTest() {
            $("#usersmodel").modal("show");
        }
// ]]&gt;</script>


}