﻿@using PagedList
@using PagedList.Mvc
@using DossoDossi.Data.Entity;

@{
    ViewBag.Title = "Sales Orders";
    var saticilar = ViewBag.Saticilar as List<View_SaticiKodlar>;

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Sales Orders</a> /

            <a class="navbar-brand" href="javascript:;">List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>

                        <div class="pull-right">
                            <input type="hidden" id="FileName" value="Orders" />
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownDownlad"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">archive</i>
                                    <p class="d-lg-none d-md-block">
                                        Download
                                    </p>
                                    <div class="ripple-container"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDownlad">
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('xlsx')"><i class="fa fa-file-text-o"></i> Download Excel</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('csv')"><i class="fa fa-file-text-o"></i> Download Csv</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('txt')"><i class="fa fa-file-text-o"></i> Download Txt</a>

                                </div>
                            </div>

                        </div>


                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>
                                            Filter
                                        </th>
                                        <th>Client Name</th>
                                        <th>Product Name</th>
                                        <th>Salesman</th>
                                        <th>Date Range</th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search Keyword...">
                                        </td>
                                        <td>
                                            <input type="text" name="filtre" class="form-control clearprop" placeholder="Search client name..." onchange="$('.F_MusteriAdi').val($(this).val())">
                                        </td>

                                        <td>
                                            <input type="text" name="filtre" class="form-control clearprop" placeholder="Search product..." onchange="$('.F_Product').val($(this).val())">
                                        </td>


                                        <td>
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" style="max-width:120px" class="custom-select clearprop custom-select-sm form-control form-control-sm"
                                                    onchange="$('.F_Satici').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in saticilar)
                                                {
                                                    <option value="@item.CODE">@item.DEFINITION_</option>
                                                }
                                            </select>
                                        </td>

                                        <td>
                                            <input type="date" class="form-control clearprop" onchange="$('.F_Start').val($(this).val())">
                                            - <input type="date" class="form-control clearprop" onchange="$('.F_End').val($(this).val())">

                                        </td>

                                        <td>
                                            <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon" title="Search">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </a>


                                            <a href="javascript:;" id="Refresh" class="btn btn-white btn-round btn-just-icon" title="Refresh">
                                                <i class="material-icons">refresh</i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th><a data-order="FisTarih|ASC" href="javascript:;"> Date<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="FisNo|ASC" href="javascript:;"> Fiche No<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="BelgeNo|ASC" href="javascript:;"> Document Number<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th><a data-order="CariKod|ASC" href="javascript:;"> Customer Code<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="CariUnvan|ASC" href="javascript:;"> Customer Name<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="IsYeri|ASC" href="javascript:;"> Branch<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="GenelToplam|ASC" href="javascript:;"> Total Amount<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="SaticiKodu|ASC" href="javascript:;"> Salesman <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="MusteriSipNo|ASC" href="javascript:;"> Customer Order No <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Aciklama1|ASC" href="javascript:;"> Comments <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="IrsaliyeNo|ASC" href="javascript:;" title="Dispatch Number"> Disp. Number <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="FaturaNo|ASC" href="javascript:;" title="Invoice Number"> Invo. Number <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="IzlemeNo|ASC" href="javascript:;" title="Tracking Number"> Track. Number <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Aciklama4|ASC" href="javascript:;">Broekman Status <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Kapali|ASC" href="javascript:;">Bc Status <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    <tr>
                                        <td colspan="20">
                                            <div style="text-align:center">Loading...</div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>

            <td>{{Kapali}} -  <b>{{Ek3}}</b></td>
            <td>{{FisNo}}</td>
            <td>
                {{BelgeNo}}
            </td>
            <td>{{CariKod}}</td>
            <td>{{CariUnvan}}</td>

            <td>
                {{Isyeri}}
            </td>
            <td>{{GenelToplam}} EUR </td>
            <td>{{SaticiAdi}}</td>
            <td>
                {{MusteriSipNo}}
            </td>
            <td>
                {{Aciklama1}}
            </td>
            <td>
                {{IrsaliyeNo}}
            </td>
            <td>
                {{FaturaNo}}
            </td>
            <td>
                {{IzlemeNo}}
            </td>
            <td>
                {{Aciklama4}}
            </td>
            <th>
                <a class="btn btn-link btn-sm" style="border-radius3px;background-color:{{LabelColor}}">{{LabelText}}</a>
            </th>
            <td>
            <td class="td-actions text-right">

                <a href="javascript:;" onclick="DetayAc('{{FisId}}')" class="btn btn-warning btn-sm btn-light" title="Details">
                    <i class="material-icons">search</i>
                </a>

                {{#Aciklama4}}
                <a class="btn btn-warning btn-link btn-sm" title="Edit Order" href="javascript:;" onclick="alert('Editing is not possible because broekman has processed this order.')">
                    <i class="material-icons">edit</i>
                </a>

                {{/Aciklama4}}
                {{^Aciklama4}}

                <span>
                    {{#IsEdit}}

                    <a class="btn btn-warning btn-link btn-sm" title="Edit Order" href="/Order/EditSalesOrder/{{FisId}}">
                        <i class="material-icons">edit</i>
                    </a>

                    <a class="btn btn-danger btn-link btn-sm" title="Delete Order" onclick="Delete('{{FisId}}')">
                        <i class="material-icons">close</i>
                    </a>

                    {{/IsEdit}}
                </span>

                {{/Aciklama4}}

                <a class="btn btn-default btn-link btn-sm" title="Pdf Print" target="_blank" href="/Api/PrintSalesOrderPdf/{{FisId}}">
                    <i class="fa fa-print"></i>
                </a>

                <a class="btn btn-default btn-link btn-sm" title="File Management" href="javascript:;" onclick="CrmFile.Open('2','{{FisId}}')">
                    <i class="fa fa-file"></i>
                </a>
            </td>
        </tr>
        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("GetList", "Order", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FisId|DESC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />

        <input type="hidden" name="CariAdi" class="F_MusteriAdi clearprop" />
        <input type="hidden" name="SaticiKodu" class="F_Satici clearprop" />
        <input type="hidden" name="MalzemeAdi" class="F_Product clearprop" />
        <input type="hidden" name="Start" class="F_Start clearprop" />
        <input type="hidden" name="End" class="F_End clearprop" />
    }
</div>

@section js{

    <script src="~/assets/App/User/User.js?v=0006"></script>

    <script src="~/assets/App/CrmFile/CrmFile.js"></script>

    <script>

        $(function () {
            User.Event();
        });

        $(".orderNav").addClass("active");

        function DetayAc(id) {
            Erp.U.P.Modal.Open("/Order/DetailModal",
                { id: id },
                function () { });
        }
    </script>

    <script>
        function OpenModalTest() {
            $("#usersmodel").modal("show");
        }

        function SendToManager() {
            $("#sendMmodel").modal("show");
        }

        function Delete(id) {

            bootbox.confirm("Are you sure want to delete sales order ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Order/DeleteSalesOrder", { id: id },
                            function (data) {

                                if (data.Status) {
                                    Erp.U.P.T.Success("Result ", data.Message);
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.Success("Warirng", "Error on occured! Msg : " + data.Message);
                                }
                            });
                    }
                });
        }

        function CancelOrder(id) {

            bootbox.confirm("Are you sure want to cancel sales order ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Order/CancelSalesOrder", { id: id },
                            function (data) {

                                if (data.Status) {
                                    Erp.U.P.T.Success("Result ", data.Message);
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.Success("Warirng", "Error on occured! Msg : " + data.Message);
                                }
                            });
                    }
                });

        }

    </script>

}
