﻿@using DossoDossi.Data.Helper
@using DossoDossi.Data.Entity;

@{
    ViewBag.Title = "Purchase Orders";
    var roles = SessionHelper.User.Roles;
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">@ViewBag.Title</a> /

            <a class="navbar-brand" href="javascript:;">List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        @if (roles.CheckRole("OR4"))
                        {
                            <div class="pull-right" style="text-align:right">
                                <a href="/Order/PurchCreate" class="btn btn-success btn-sm"><i class="material-icons">add</i> Create</a>
                            </div>
                        }

                        <div class="pull-right">
                            <input type="hidden" id="FileName" value="Purchaseorders" />
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownDownlad"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">archive</i>
                                    <p class="d-lg-none d-md-block">
                                        Download
                                    </p>
                                    <div class="ripple-container"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDownlad">
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('xlsx')"><i class="fa fa-file-text-o"></i> Download Excel</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('csv')"><i class="fa fa-file-text-o"></i> Download Csv</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('txt')"><i class="fa fa-file-text-o"></i> Download Txt</a>

                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <span class="bmd-form-group">
                                <div class="input-group no-border">
                                    <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                    <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search...">
                                    <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </div>
                            </span>

                            <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th><a data-order="FisTarih|ASC" href="javascript:;"> Date<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="FisNo|ASC" href="javascript:;"> Fiche No<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="BelgeNo|ASC" href="javascript:;"> Document Number<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th><a data-order="CariKodu|ASC" href="javascript:;"> Customer Code<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="CariUnvan|ASC" href="javascript:;"> Customer Name<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="IsYeri|ASC" href="javascript:;"> Branch<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="GenelToplam|ASC" href="javascript:;"> Total Amount<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="SaticiKodu|ASC" href="javascript:;"> Salesman <i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    <tr>
                                        <td colspan="20">
                                            <div style="text-align:center">Loading...</div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>

            <td>{{Kapali}} -  {{FisTarih}}</td>
            <td>{{FisNo}}</td>
            <td>
                {{BelgeNo}}
            </td>
            <td>{{CariKod}}</td>
            <td>{{CariUnvan}}</td>
            <td>
                {{Isyeri}}
            </td>
            <td>{{DovizliGenelToplam}} EUR </td>
            <td>{{SaticiAdi}}</td>
            <td>
                <a href="javascript:;" onclick="DetayAc('{{FisId}}')" class="btn btn-warning btn-sm" title="Details">
                    <i class="material-icons">search</i>
                </a>

                <a class="btn btn-default btn-link btn-sm" title="Pdf Print" target="_blank" href="/Api/PrintPurchaseOrderPdf/{{FisId}}">
                    <i class="fa fa-print"></i>
                </a>

                <a class="btn btn-default btn-link btn-sm" title="File Management" href="javascript:;" onclick="CrmFile.Open('3','{{FisId}}')">
                    <i class="fa fa-file"></i>
                </a>

            </td>
        </tr>
        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("GetPurchList", "Order", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />
        <input type="hidden" name="yil" class="Filter_Yil" />
    }
</div>

@section js{

    <script src="~/assets/App/User/User.js"></script>
    <script src="~/assets/App/CrmFile/CrmFile.js"></script>

    <script>

        $(function () {
            User.Event();
        });

        $(".porderNav").addClass("active");

        function DetayAc(id) {
            Erp.U.P.Modal.Open("/Order/PurchDetailModal",
                { id: id },
                function () { });
        }

        function ExportToExcel() {

        }
    </script>
}
