﻿@model List<DossoDossi.Data.Entity.Setting>
@{
    ViewBag.Title = "System Settings";

    var grp = Model.Select(a => a.Category).Distinct().ToList();

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">@ViewBag.Title</a> /

            <a class="navbar-brand" href="javascript:;">Edit</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>


<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Groups:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    @for (int i = 0; i < grp.Count; i++)
                                    {
                                        var item = grp[i];

                                        <li class="nav-item">
                                            <a class="nav-link" href="#tabd_@i" data-toggle="tab">
                                                <i class="material-icons">code</i> @item
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            @for (int i = 0; i < grp.Count; i++)
                            {
                                var item = grp[i];
                                var list = Model.Where(a => a.Category == item).ToList();

                                <div class="tab-pane @(i==0?"active show":"")" id="tabd_@i">
                                    <table class="table">
                                        <tbody>

                                            @foreach (var it in list)
                                            {
                                                <tr>
                                                    <td>@it.Code</td>
                                                    <td>@it.Description</td>
                                                    <td>

                                                      <input type="text" class="form-control item_@it.Id" value="@it.Value"/>
                                                    </td>
                                                    <td class="td-actions text-right">

                                                        <a href="javascript:;" onclick="Save(@it.Id)" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Save">
                                                            <i class="material-icons">save</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script>

        function Save(id) {


            var val = $(".item_" + id).val();


            bootbox.confirm("Are you sure ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Setting/UpdateVal",
                            { id: id, val: val},
                            function (data) {
                                if (data == true) {
                                    Erp.U.P.T.Success("Result", "Succesfully Saved !");
                                } else {
                                    Erp.U.P.T.Warning("Warning ", "An error occurred, please try again later.");
                                }
                            });
                    }
                });

        }
    </script>
    
    }