﻿@using DossoDossi.Data.Entity
@{
    ViewBag.Title = "Stant Ürün Yönetimi";
    var products = ViewBag.Products as List<Product>;
    var stand = ViewBag.Stand as View_StandInAccountInFairInSupplier;
    var standInProducts = ViewBag.ProductsInStands as List<View_ProductInStand>;
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Stant</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">language</i>

                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/turkish_flag.png" style="height:25px; width:25px" />
                            <span> &nbsp; Turkish</span>

                        </a>
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/english-flag.png" style="height:25px; width:25px" />

                            <span> &nbsp;  English</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">Ayarlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/Logout">Çıkış</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>

                        <div class="pull-right" style="text-align:right">
                            @* <a href="/Account/Insert" class="btn btn-primary btn-sm"><i class="material-icons">add</i> Ekle</a>*@
                        </div>

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">


                            @*<span class="bmd-form-group">
            <div class="input-group no-border">
                <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>

                <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search...">
                <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </span>*@

                            <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                <thead>


                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Ürün Adı</th>
                                        <th>Adet Sayısı</th>
                                        <th>Fiyat</th>
                                        <th>Döviz Cinsi</th>
                                        <th>
                                            <a class="btn btn-success btn-sm" href="javascript:;" onclick="SatirEkle()">
                                                <i class="material-icons">add</i> Satır Ekle
                                            </a>
                                        </th>


                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var p in standInProducts)
                                    {
                                        <tr style="cursor: pointer" class="allitemlistlines list_line_@p.Id" data-no="@p.Id">

                                            <td><span class="ordernoline"></span></td>
                                            <td>

                                                <select class="form-control" data-style="btn btn-info  btn-sm" name="productId_@p.Id" id="productId_@p.Id">
                                                
                                                    @foreach (var item in products)
                                                    {
                                                        string cls = "";
                                                        if (p.ProductId==item.Id)
                                                        {
                                                            cls = "selected";
                                                        }
                                                        <option @cls value="@item.Id">@item.Name</option>

                                                    }

                                                </select>

                                            </td>
                                            <td>
                                                <input class="form-control" id="qty_@p.Id" value="@p.Qty"/>
                                            </td>
                                            <td>
                                                <input class="form-control" id="price_@p.Id" value="@p.Price"/>
                                            </td>
                                            <td>
                                                <select class="form-control" data-style="btn btn-info  btn-sm" name="currency_@p.Id" id="currency_@p.Id">
                                                    
                                                    <option value="@p.Currency">@p.Currency</option>
                                                    <option value="TL">TL</option>
                                                    <option value="USD">USD</option>
                                                    <option value="EURO">EURO</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a href="javascript:;" onclick="SatirSil('@p.Id')" data-no="@p.Id" class="btn btn-sm btn-warning btn-rounded " title="Choose"><i class="fa fa-trash"></i> Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <a href="javascript:;" onclick="FormKaydet(@stand.Id)" class="btn btn-fill btn-rose sel_create_button_cl">Kaydet<div class="ripple-container"></div></a>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input name="standId" id="standId" value="@stand.Id" hidden/>
<input name="suplierId" id="suplierId" value="@stand.SupplierId" hidden/>
<input name="fairId" id="fairId" value="@stand.FairId" hidden/>
<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr style="cursor: pointer" class="allitemlistlines list_line_{{No}}" data-no="{{No}}">

            <td><span class="ordernoline"></span></td>
            <td>

                <select class="form-control" data-style="btn btn-info  btn-sm" name="productId_{{No}}" id="productId_{{No}}">
                    <option>Seçiniz</option>
                    @foreach (var item in products)
                    {

                        <option value="@item.Id">@item.Name</option>

                    }

                </select>

            </td>
            <td>
                <input class="form-control" id="qty_{{No}}" />
            </td>
            <td>
                <input class="form-control" id="price_{{No}}" />
            </td>
            <td>
                <select class="form-control" data-style="btn btn-info  btn-sm" name="currency_{{No}}" id="currency_{{No}}">
                    <option value="TL">TL</option>
                    <option value="USD">USD</option>
                    <option value="EURO">EURO</option>
                </select>
            </td>
            <td>
                <a href="javascript:;" onclick="SatirSil('{{No}}')" data-no="{{No}}" class="btn btn-sm btn-warning btn-rounded " title="Choose"><i class="fa fa-trash"></i> Sil</a>
            </td>
        </tr>
        {{/DATA}}
    </script>
</div>



@section js{


    <script src="~/assets/App/User/User.js"></script>
    <script src="~/assets/App/User/ProductInStand.Create.js"></script>
    <script>

        $(function () {
            User.Event();
        });
        function Delete(id) {

            bootbox.confirm("Silmek istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Account/Delete",
                            { id: id },
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Result ", "Başarıyla Silindi.");
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.error("Warirng", "Bir hata oluştu lütfen tekrar deneyiniz!");
                                }

                                //todo netstok 0 altı ise talep açılamaz.
                            });


                    }
                });
        }
        function StatusOnchange(id) {

            bootbox.confirm("Durumu değiştirmek istediğinize eminmisiniz ?",
                function (result) {
                    if (result === true) {


                        Erp.U.A.Req.C("POST",
                            "/Account/StatusChange",
                            { id: id },
                            function (data) {

                                if (data.Status) {
                                    Erp.U.P.T.Success("Result ", "Başarıyla durum değiştirldi.");
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.error("Warirng", "Bir hata oluştu. Lütfen tekrar denyiniz.");
                                }

                                //todo netstok 0 altı ise talep açılamaz.
                            });


                    }
                });
        }


    </script>

}
