﻿@using DossoDossi.Data.Helper
@{
    ViewBag.Title = "Products";

    var roles = SessionHelper.User.Roles;

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Product Management</a> /

            <a class="navbar-brand" href="javascript:;">List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        @if (roles.CheckRole("P4"))
                        {
                            <div class="pull-right" style="text-align:right">
                                <a href="/Stock/AmbarTransfer" class="btn btn-default btn-sm"><i class="material-icons">add</i> Wharehouse Transfer</a>
                            </div>
                        }

                        <div class="pull-right">
                            <input type="hidden" id="FileName" value="Products" />
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownDownlad"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">archive</i>
                                    <p class="d-lg-none d-md-block">
                                        Download
                                    </p>
                                    <div class="ripple-container"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDownlad">
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('xlsx')"><i class="fa fa-file-text-o"></i> Download Excel</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('csv')"><i class="fa fa-file-text-o"></i> Download Csv</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="doit('txt')"><i class="fa fa-file-text-o"></i> Download Txt</a>

                                </div>
                            </div>
                        </div>

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>
                                            Search
                                        </th>
                                        <th>Stock Status</th>
                                        <th>
                                            Product Group
                                        </th>
                                        <th>
                                            C.T. And Ferrule
                                        </th>
                                        <th>Fiber Grade</th>
                                        <th>Cab. Diameter</th>
                                        <th>Length</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search Keyword...">
                                        </td>
                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_Stoklu').val($(this).val())">
                                                <option value="">All Stock</option>
                                                <option value="1">Only In Stock</option>
                                                <option value="2">Ordered Stock</option>
                                                <option value="3">Goods In Transit</option>
                                                <option value="4">Goods-in-process</option>
                                            </select>

                                        </td>

                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_OzelKodu').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ViewBag.OzelKodu1)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_OzelKodu2').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ViewBag.OzelKodu2)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_OzelKodu3').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ViewBag.OzelKodu3)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_OzelKodu4').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ViewBag.OzelKodu4)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <select class="form-control  form-control-sm clearprop" onchange="$('.Filter_OzelKodu5').val($(this).val())">
                                                <option value="">All</option>
                                                @foreach (var item in ViewBag.OzelKodu5)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </td>

                                        <td>
                                            <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon" title="Search">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </a>


                                            <a href="javascript:;" id="Refresh" class="btn btn-white btn-round btn-just-icon" title="Refresh">
                                                <i class="material-icons">refresh</i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <span class="bmd-form-group">
                                <div class="input-group no-border">


                                </div>
                            </span>


                            <table class="table table-hover tablecontent table-bordered" style="font-size:11px" id="data-table-list">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th><a data-order="Code|ASC" href="javascript:;">Code<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Name|ASC" href="javascript:;">Name<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="NAME3|ASC" href="javascript:;">Name 2<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th>Reserves</th>

                                        <th><a data-order="BekleyenSiparisMiktar|ASC" href="javascript:;">Ordered Qty<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th><a data-order="Name|ASC" href="javascript:;">Stock QTY<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th>Net Stocks</th>
                                        <th><a data-order="YoldakiMiktar|ASC" href="javascript:;"> Goods In Transit<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="UretimdekiMiktar|ASC" href="javascript:;"> Goods-in-process<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th><a data-order="OzelKodu|ASC" href="javascript:;">Product Group<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="OzelKodu2|ASC" href="javascript:;">Connector Type And Ferrule<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="OzelKodu3|ASC" href="javascript:;">Fiber Grade<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="OzelKodu4|ASC" href="javascript:;">Cable Diameter<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="OzelKodu5|ASC" href="javascript:;">Length<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        @*<th>Group Code</th>*@
                                        <th>Transactions</th>

                                    </tr>
                                </thead>
                                <tbody id="List">
                                    <tr>
                                        <td colspan="20">
                                            <div style="text-align:center">Loading...</div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>

            <td>{{MalzemeKodu}}</td>
            <td>{{MalzemeAdi}}</td>

            <td>{{NAME3}}</td>
            @*<td>{{UreticiKodu}}</td>*@
            <td>
                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalReserve('{{StokId}}')">
                    {{Birim2}}
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalBekleyenSip('{{StokId}}')">
                    {{BekleyenSiparisMiktar}}
                </a>
            </td>
            <td>{{MerkezStok}}</td>
            <td>
                <b>
                    {{EmagazaKodu}}

                </b>
            </td>
            <td>
                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="OpenModalYoldaki('{{StokId}}')">
                    {{YoldakiMiktar}}
                </a>
            </td>
            <td>
                {{UretimdekiMiktar}}
            </td>
            <td>
                {{OzelKodu}}
            </td>
            <td>
                {{OzelKodu2}}
            </td>
            <td>
                {{OzelKodu3}}
            </td>
            <td>
                {{OzelKodu4}}
            </td>
            <td>
                {{OzelKodu5}}
            </td>
            @*<td>
                    {{GrupKodu}}
                </td>*@
            <td>

                @if (roles.Any(a => a == "P2"))
                {
                    <a href="/Stock/Transaction/{{StokId}}" class="btn btn-warning btn-sm" title="Transactions">
                        <i class="material-icons">timeline</i>
                    </a>
                }

                <a class="btn btn-default btn-link btn-sm" title="File Management" href="javascript:;" onclick="CrmFile.Open('5','{{FisId}}')">
                    <i class="fa fa-file"></i>
                </a>

                <a href="javascript:;" onclick="AmbarToplamlariOpen('{{StokId}}')" class="btn btn-default btn-link btn-sm" title="Wharehouse totals">
                    <i class=" fa fa-rss"></i>
                </a>

            </td>
        </tr>
        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("GetList", "Stock", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />
        <input type="hidden" name="yil" class="Filter_Yil" />
        <input type="hidden" name="barkod" class="Filter_Barkod clearprop" />
        <input type="hidden" name="stoklu" class="Filter_Stoklu clearprop" />
        <input type="hidden" name="ozelkod" class="Filter_OzelKodu clearprop" />
        <input type="hidden" name="ozelkod2" class="Filter_OzelKodu2 clearprop" />
        <input type="hidden" name="ozelkod3" class="Filter_OzelKodu3 clearprop" />
        <input type="hidden" name="ozelkod4" class="Filter_OzelKodu4 clearprop" />
        <input type="hidden" name="ozelkod5" class="Filter_OzelKodu5 clearprop" />
    }
</div>



@section js{
    <script src="~/assets/App/User/User.js"></script>

    <script src="~/assets/App/CrmFile/CrmFile.js"></script>


    <script>

        $(function () {
            User.Event();
        });

        $(".stocksNav").addClass("active");

        function OpenModalReserve(id) {

            Erp.U.P.Modal.Open("/Stock/ReserveListPartial",
                { id: id },
                function () { });
        }

        function OpenModalYoldaki(id) {
            Erp.U.P.Modal.Open("/Stock/OnTheRoadListPartial",
                { id: id },
                function () { });
        }


        function OpenModalBekleyenSip(id) {
            Erp.U.P.Modal.Open("/Stock/WaitingOrderPartial",
                { id: id },
                function () { });
        }

        function AmbarToplamlariOpen(id) {
            Erp.U.P.Modal.Open("/Stock/AmbarToplamlariOpen",
                { id: id },
                function () { });
        }

    </script>

}
