﻿@using DossoDossi.Data.Helper
@using DossoDossi.Data.Entity
@using DossoDossi.Data.DataAccess


@{
    var lang = ViewBag.Lang;

    var code = SettingDataAccess.GetValByCode("ActiveFuarNo");

    ViewBag.Title = LangCodeModel.LangDesc(lang, "Müşteri Listesi", "Customer List") + " -" + code;
    Layout = null;

    var id = Request.QueryString["id"];

    var account = ViewBag.Account as Account;

}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    @*<link rel="icon" type="image/png" href="~/Areas/Admin/assets/img/favicon.png">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @LangCodeModel.LangDesc(lang, "Müşteri Listesi", "Customer List")
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/panel/material-dashboard.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/css/panel/demo.css" rel="stylesheet" />
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" />

    <script src="~/assets/js/core/jquery.min.js"></script>

    <style>
        .sidebar .logo {
            padding: 0px 0;
        }
    </style>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
</head>

<body class="">
    <div class="row">
        <div class="col-sm-12">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-rose card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>

                                    <h4 class="card-title">@LangCodeModel.LangDesc(lang, "Müşteri Listesi", "Customer List")</h4>

                                </div>
                                <div class="card-body">
                                    <span class="headerTextArea"></span>

                                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="Refresh('@id')" style="float:right">@LangCodeModel.LangDesc(lang, "Listeyi Yenile", "Refresh List")</a>
                                    <a href="javascript:;" class="btn btn-success btn-sm" onclick="NewMusteriOpen('@id')"
                                       style="float:right">@LangCodeModel.LangDesc(lang, "Yeni Müşteri", "New Customer")</a>

                                    <b style="text-align:left;float:left" class="btn btn-sm headerUserCountVisit"></b>

                                    <div class="table-responsive">

                                        <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Sicil/Kart No</th>
                                                    <th>Adı Soyadı</th>
                                                    <th>Email</th>
                                                    <th>Telefon</th>
                                                    <th>Ülke/Şehir</th>

                                                    <th>Adress</th>
                                                    <th>Firma Bilgileri</th>
                                                    <th>Not</th>
                                                    <th>Durum</th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody id="List">
                                                <tr>
                                                    <td colspan="20">
                                                        <div style="text-align:center">Yükleniyor...</div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <div id="Pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hidden">
        <script id="Template" type="text/html">
            {{#DATA}}
            <tr class="tr_line_nusteri_{{Id}}">
                <td>{{Index}} </td>

                <td>
                    {{#SicilNo}}
                    <span class="badge badge-info" title="Değiştir" style="cursor:pointer;" onclick="OpenSicilNo('{{MusteriId}}','{{SicilNo}}')">
                        <i class="material-icons">fingerprint</i>
                        {{SicilNo}}
                    </span>

                    {{/SicilNo}}
                    {{^SicilNo}}
                    <span class="badge badge-warning" title="Sicil No Gir" style="cursor:pointer;" onclick="OpenSicilNo('{{MusteriId}}','{{SicilNo}}')">
                        <i class="material-icons">fingerprint</i>
                        Gir
                    </span>
                    {{/SicilNo}}

                </td>

                <td>{{Name}}</td>
                <td>{{Email}}</td>
                <td>{{Phone}}</td>
                <td>{{Country}}/ {{City}}</td>
                <td>{{Address}}</td>
                <td>{{CompanyName}} {{TaxNo}} {{TaxOffice}} </td>
                <td>{{Note}}</td>
                <td>
                    {{#Status}}
                    <span class="badge badge-success">Aktif</span>
                    {{/Status}}
                    {{^Status}}
                    <span class="badge badge-danger">Pasif</span>
                    {{/Status}}
                </td>
                <td class="td-actions text-right">

                    <a href="javascript:;" class="btn btn-warning" title="Düzenle" onclick="OpenEditModal('{{MusteriId}}')">
                        <i class="material-icons">edit</i>
                    </a>

                    <a class="btn btn-default btn-link btn-sm" title="Barkod"  href="javascript:;" onclick="OpenBarcodePrint('{{MusteriId}}',$(this))">
                        <i class="fa fa-print"></i>
                    </a>
                    @*<button type="button" class="btn btn-xs btn-sm btn-danger" onclick="DeleteMusteriLine('{{Id}}')" title="Fuar Sil">
            <i class="material-icons">close</i>
        </button>*@
                </td>

            </tr>
            {{/DATA}}
        </script>
    </div>



    <div class="modal fade" id="sicilNoChangeMmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kart No Giriniz</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="C_SicilNo" value="" placeholder="Yazınız..." />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-success btn-link" onclick="ChangeSicilSave()">Güncelle ve Değiştir</button>
                    <button type="button" class="btn btn-danger btn-link closecancelstatusclick" data-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/App/jquery.stringbuilder.min.js"></script>
    <script src="~/assets/App/mustache.min.js"></script>
    <script src="~/assets/App/jquery.form.min.js"></script>
    <script src="~/assets/App/Erp.Core.js"></script>
    <script src="~/assets/App/Erp.Utility.js"></script>

    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <div id="ModalAlani"></div>

    <script>
        $(function () {

            Refresh('@code');
            @*GetVisitorGount('@program.Id', '@id');

            setInterval(function () {
                Refresh('@program.UQ');
                   GetVisitorGount('@program.Id', '@id');
               }, 10000);*@
        });

        var selectedId = 0;
        var selectedProjeCode = '@code';

        function OpenSicilNo(id,val) {
            selectedId = id;

            $("#sicilNoChangeMmodel").modal("show");
            $("#C_SicilNo").val(val);
        }

        function OpenBarcodePrint(id, $this) {

            $this.css("background-color", "aliceblue").css("color", "black");

            var url = "/Api/CreateCustomerBarcode?id=" + id;

            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;
            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (300)) + dualScreenLeft;
            var top = ((height / 2) - (250)) + dualScreenTop;

            window.open(url, 'Yazdır' + 'win', 'width=800, height=700, top = ' + top + ', left= ' + left);
        }

        function ChangeSicilSave() {
            var id = selectedId;
            var val = $("#C_SicilNo").val();

            $.ajax({
                url: "/Api/SaveCustomerSicilNo?code=" + '@account.QU',
                method: "POST",
                data: {
                    id: id,
                    val: val,
                    account: '@account.QU'
                },
                success: function (data) {

                    if (data) {

                        alert("Kayıt başarılı");

                        $("#C_SicilNo").val('');

                        location.reload();

                    } else {
                        alert("Kayıt hatası");
                    }

                }
            })

        }

        function Refresh(id) {

           // $("#List").empty().append('<td colspan="20"><div style="text-align:center">Yükleniyor...</div></td>');

            $.ajax({
                url: "/Api/GetListCustomer?code=" + id,
                method: "POST",
                success: function (data) {

                    var ind = 1;

                    $.each(data, function (i, item) {
                        item.Index = ind;
                        ind++;
                    })

                    var innerHtml = Mustache.to_html($('#Template').html(), { DATA: data });


                    $("#List").html(innerHtml);

                    if (data.length == 0) {
                        $("#List").empty().append('<td colspan="20"><div style="text-align:center">Kayıt yok</div></td>');
                    }

                    $("#data-table-list").DataTable({
                        select: true,
                        ordering: true,
                        paging: false,
                        "searching": true
                    });

                }
            })
        }
    </script>

    <script>

        function GetVisitorGount(id, uq) {

            $.ajax({
                url: "/Moderator/GetVisitorCount",
                data: {
                    "id": id,
                    "uq": uq
                },
                method: "GET",
                success: function (data) {
                    if (data > 0) {
                        $(".headerUserCountVisit").text("Anlık : " + data + " kişi");
                    } else {
                        $(".headerUserCountVisit").text("");
                    }
                }
            })
        }


        function NewMusteriOpen(id) {

            Erp.U.P.Modal.Open("/Customer/NewMusteriPartial",
                {  },
                function () {

                });
        }

        function GenerateNo(target) {

            var no = Math.floor(Math.random() * 100000000);

            $("#C_SicilNoHid").val(no);
        }

        function CreateSave() {

            var form = $("#Create_Musteri_Form");

            bootbox.confirm("Emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.F(form, function (data) {

                            if (data.Status == true) {
                                Erp.U.P.T.Success("Result", "Succesfully Saved !");
                                setTimeout(function () { location.reload() }, 1000);

                            } else {
                                Erp.U.P.T.Warning("Warning ", "An error occurred:" + data.Message);
                            }
                        });
                    }
                });
        }


        function OpenEditModal(id) {

            Erp.U.P.Modal.Open("/Customer/EditMusteriPartial",
                {id:id},
                function () {

                });
        }

        function EditSave() {

            var form = $("#Edit_Musteri_Form");

            bootbox.confirm("Emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.F(form, function (data) {

                            if (data.Status == true) {
                                Erp.U.P.T.Success("Result", "Succesfully Saved !");
                                setTimeout(function () { location.reload() }, 1000);

                            } else {
                                Erp.U.P.T.Warning("Warning ", "An error occurred:" + data.Message);
                            }
                        });
                    }
                });
        }

    </script>

</body>
</html>

