﻿@model List<DossoDossi.Data.Models.UrunAmbarToplamDto>
@{
    Layout = null;
}


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Wharehose Name</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Ambar (@item.AmbarNo)</td>
                                                    <td>@item.StokMiktari</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm closebutton" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

