﻿@model DossoDossi.Data.Entity.OnTheRoadProduct
@{
    Layout = null;
    ViewBag.Title = "Detail";
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered tablecontent" style="font-size: 10px !important">
                                        
                                        <tbody>
                                            <tr>
                                                <td>Product Code</td>
                                                <td>:</td>
                                                <td>@Model.ProductCode</td>
                                            </tr>
                                            <tr>
                                                <td>Product Name</td>
                                                <td>:</td>
                                                <td>@Model.ProductName</td>
                                            </tr>
                                            <tr>
                                                <td>Qty</td>
                                                <td>:</td>
                                                <td>@Model.Qty</td>
                                            </tr>

                                            <tr>
                                                <td>InComing Qty</td>
                                                <td>:</td>
                                                <td>@Model.IncomingQty</td>
                                            </tr>

                                            <tr>
                                                <td>Supplier</td>
                                                <td>:</td>
                                                <td>@Model.SupplierCode  - @Model.SupplierName</td>
                                            </tr>
                                            <tr>
                                                <td>Purchase Order Reference</td>
                                                <td>:</td>
                                                <td>
                                                    @Model.OrderNo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Type</td>
                                                <td>:</td>
                                                <td>@Model.SendType</td>
                                            </tr>

                                            <tr>
                                                <td>Delivery Code</td>
                                                <td>:</td>
                                                <td>@Model.DeliveryCode</td>
                                            </tr>

                                            <tr>
                                                <td>Estimated Delivery Date</td>
                                                <td>:</td>
                                                <td>
                                                    @if (Model.DeliveryDate.HasValue)
                                                    {
                                                        @Model.DeliveryDate.Value.ToString("dd.MM.yyyy")
                                                    }
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Lead Time</td>
                                                <td>:</td>
                                                <td>@Model.LeadTime</td>
                                            </tr>

                                            <tr>
                                                <td>Description </td>
                                                <td>:</td>
                                                <td>@Model.Note1</td>
                                            </tr>

                                            <tr>
                                                <td>Note</td>
                                                <td>:</td>
                                                <td>@Model.Description</td>
                                            </tr>

                                            <tr>
                                                <td>Create Date/ User</td>
                                                <td>:</td>
                                                <td>
                                                    @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm") / @Model.CreateUser

                                                </td>
                                            </tr>
                                            @if (Model.UpdatedDate.HasValue)
                                            {
                                                <tr>
                                                    <td>Updated Date</td>
                                                    <td>:</td>
                                                    <td>
                                                        @Model.UpdatedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm closebutton" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

