﻿@model List<DossoDossi.Data.Models.Report.ExpenseDetailDto>
@{
    Layout = null;
    int count = 1;
}

<div class="table-responsive table--no-card m-b-30">
    <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.ortakdetail_Div')">Kapat <i class="material-icons">cancel</i> </a></span>

    <table class="table table-borderless table-striped" style="font-size:11px">
        <tbody>
            <tr style="background-color: #4f9a94; color: white">
                <th>#</th>
                <td>DATE</td>
                <td>INVOICE NO</td>
                <td>SERVICE CODE/NAME</td>
                @*<td>CLIENT CODE</td>*@
                <td>CLIENT NAME</td>
                
                <td>OPERATION</td>
                <td class="text-right">TOTAL</td>
            </tr>
        </tbody>
        <tbody id="BankaHareketList_Grid">
            @foreach (var item in Model.OrderByDescending(a => a.Tarih))
            {
                <tr class="line_item" data-name="@item.ChUnvan">
                    <td>@count</td>
                    <td>@item.Tarih.ToString("dd/MM/yyyy")</td>
                    <td>@item.FaturaNo</td>
                    <td>@item.HizmetKodu / @item.HizmetAdi</td>
                    @*<td>@item.ChKodu</td>*@
                    <td>@item.ChUnvan</td>
                    @*<td>
                        @item.SatirAciklama
                    </td>*@
                    <td class="text-right">@item.FaturaTuru</td>
                    <td class="text-right">@item.DovizliToplam.ToString("N2") USD</td>
                </tr>

                count++;
            }
            <tr>
                <td colspan="5"></td>
                <td colspan="1">TOTAL</td>
                <td colspan="1" class="text-right">
                    @Model.Sum(a => a.DovizliToplam).ToString("N2") USD
                </td>
            </tr>
        </tbody>
    </table>
</div>

<small>Total : @Model.Count records.</small>
<br />
<hr />