﻿@using DossoDossi.Data.Models
@using Newtonsoft.Json

@model List<DailyReportDetailDto>
@{
    Layout = null;
    var totalSales = Model.Sum(a => a.PRICE * a.AMOUNT);
    var totalCost = Model.Sum(a => a.ALPRICE * a.AMOUNT);

    var colors = new List<SelectItemDto>();
    colors.Add(new SelectItemDto { id = "rgba(255, 99, 132, 0.2)", text = "rgb(255, 99, 132)" });
    colors.Add(new SelectItemDto { id = "rgba(201, 203, 207, 0.2)", text = "rgb(201, 203, 207)" });
    colors.Add(new SelectItemDto { id = "rgba(255, 159, 64, 0.2)", text = "rgb(255, 159, 64)" });
    colors.Add(new SelectItemDto { id = "rgba(255, 205, 86, 0.2)", text = "rgb(255, 205, 86)" });
    colors.Add(new SelectItemDto { id = "rgba(75, 192, 192, 0.2)", text = "rgb(75, 192, 192)" });
    colors.Add(new SelectItemDto { id = "rgba(54, 162, 235, 0.2)", text = "rgb(54, 162, 235)" });

    var fark = totalSales - totalCost;

    var bankTotal = (double)ViewBag.ToplamTL;
    int count = 1;

    var grp = Model.Select(a => a.NAME).Distinct().ToList();

    var p_amount = new List<double>();

    var p_bcolors = new List<string>();
    var p_brcolors = new List<string>();

    for (int i = 0; i < grp.Count; i++)
    {
        var n = grp[i];
        var tot = Math.Round(Model.Where(a => a.NAME == n).Sum(a => a.PRICE * a.AMOUNT), 0);
        p_amount.Add(tot);

        var k = i % 5;

        var itemcol = colors[k];
        p_bcolors.Add(itemcol.id);
        p_brcolors.Add(itemcol.text);
    }

    colors = colors.OrderBy(a => Guid.NewGuid()).ToList();

    var c_grp = Model.Select(a => a.CLNAME).Distinct().ToList();

    var c_amount = new List<double>();

    var c_bcolors = new List<string>();
    var c_brcolors = new List<string>();

    for (int i = 0; i < c_grp.Count; i++)
    {
        var n = c_grp[i];
        var tot = Math.Round(Model.Where(a => a.CLNAME == n).Sum(a => a.PRICE * a.AMOUNT), 0);
        c_amount.Add(tot);

        var k = i % 5;

        var itemcol = colors[k];
        c_bcolors.Add(itemcol.id);
        c_brcolors.Add(itemcol.text);
    }


    double totalGain = 0;

    var bankaList = ViewBag.BankaDetailList as List<DossoDossi.Data.Models.Report.BankaBakiyeDto>;

    var borcAlacakList = ViewBag.BorcAlacakList as List<DossoDossi.Data.Models.Report.BorcAlacakCariDto>;
}


<h6>Sales Report</h6>

<input type="hidden" id="p_names" value="@JsonConvert.SerializeObject(grp)" />
<input type="hidden" id="p_values" value="@JsonConvert.SerializeObject(p_amount)" />
<input type="hidden" id="p_backcolor" value="@JsonConvert.SerializeObject(p_bcolors)" />
<input type="hidden" id="p_bordercolor" value="@JsonConvert.SerializeObject(p_brcolors)" />


<input type="hidden" id="c_names" value="@JsonConvert.SerializeObject(c_grp)" />
<input type="hidden" id="c_values" value="@JsonConvert.SerializeObject(c_amount)" />
<input type="hidden" id="c_backcolor" value="@JsonConvert.SerializeObject(c_bcolors)" />
<input type="hidden" id="c_bordercolor" value="@JsonConvert.SerializeObject(c_brcolors)" />


<div class="row">

    <div class="col-sm-12">



    </div>
</div>

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowListDetail($(this))" data-op="0">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">done</i>
                </div>
                <p class="card-category">TOTAL SALES</p>
                <h3 class="card-title">
                    @totalSales.ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowListDetail($(this))" data-op="0">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">done</i>
                </div>
                <p class="card-category">TOTAL SALES COST</p>
                <h3 class="card-title">
                    @totalCost.ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowListDetail($(this))" data-op="0">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">done</i>
                </div>
                <p class="card-category">GAIN</p>
                <h3 class="card-title">
                    @fark.ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowListDetail($(this))" data-op="0">
            <div class="card-header card-header-default card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">done</i>
                </div>
                <p class="card-category">GAIN %</p>
                <h3 class="card-title">
                    @if (totalSales != 0)
                    {
                        var ind = 100 - Math.Round((totalCost / totalSales) * 100);
                        <span> % @ind.ToString("N0") </span>
                    }
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowBankTransactionDetail($(this))" data-op="0">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">language</i>
                </div>
                <p class="card-category">BANK TOTAL</p>
                <h3 class="card-title">
                    @bankTotal.ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'borc_div')" data-op="0">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">arrow_circle_down</i>
                </div>
                <p class="card-category">TOTAL DEBT</p>
                <h3 class="card-title">
                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'alacak_div')" data-op="0">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">arrow_circle_up</i>
                </div>
                <p class="card-category">TOTAL CREDIT</p>
                <h3 class="card-title">
                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" onclick="MasrafAcDiv($(this))" data-op="0" style="cursor:pointer">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment_returned</i>
                </div>
                <p class="card-category">EXPENSES</p>
                <h3 class="card-title">
                    @(((double)ViewBag.MasrafToplam).ToString("N0")) USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" onclick="InventoryAcDiv($(this))" data-op="0" style="cursor:pointer">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">inventory_2</i>
                </div>
                <p class="card-category">INVENTORY</p>
                <h3 class="card-title">
                    @(((double)ViewBag.InventoryTotal).ToString("N0")) USD
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">date_range</i>
                    <a href="javascript:;">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tbody>

        <tr class="salesDetail_div ortakdetail_Div" style="display:none">
            <td colspan="20">

                <h6>Sales Detail</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #4f9a94;color:white">
                            <th>#</th>
                            <th>DATE</th>
                            <th>FICHE NO</th>
                            <th>CLIENT</th>
                            <th>PRODUCT CODE</th>
                            <th>PRODUCT NAME</th>
                            <th>QTY</th>
                            <th>SALES PRICE</th>
                            <th>PURCH. PRICE</th>
                            <th>TOTAL SALES</th>
                            <th>TOTAL COST</th>
                            <th>GAIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(a => a.DATE_).ThenBy(x => x.FICHENO))
                        {
                            var tot = item.AMOUNT * item.PRICE;
                            var cost = item.AMOUNT * item.ALPRICE;
                            var farkl = tot - cost;
                            totalGain = totalGain + farkl;
                            <tr>
                                <td>@count </td>
                                <td>
                                    @if (item.DATE_.HasValue)
                                    {
                                        <span>@item.DATE_.Value.ToString("dd.MM.yyyy")</span>
                                    }
                                </td>
                                <td>
                                    @item.FICHENO
                                </td>
                                <td>
                                    <b title="@item.CLCODE">@item.CLNAME</b>
                                </td>
                                <td>@item.CODE</td>
                                <td>
                                    @item.NAME
                                </td>
                                <td>
                                    @item.AMOUNT
                                </td>
                                <td>
                                    @item.PRICE
                                </td>
                                <td>
                                    @item.ALPRICE
                                </td>
                                <td>
                                    <span class="pull-right ">
                                        @tot.ToString("N2") USD
                                    </span>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        @cost.ToString("N2") USD
                                    </span>
                                </td>
                                <td>
                                    <span class="pull-right" style="color:@(farkl<0?"red":"")">
                                        @farkl.ToString("N2") USD
                                    </span>
                                </td>
                            </tr>
                            count++;
                        }
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>TOTAL</th>
                            <th>
                                <span class="pull-right">
                                    @Model.Sum(a => a.AMOUNT).ToString("N0")
                                </span>

                            </th>
                            <th>
                                <span class="pull-right">
                                    @Model.Sum(a => a.PRICE).ToString("N2") USD
                                </span>
                            </th>
                            <th>
                                <span class="pull-right">
                                    @Model.Sum(a => a.ALPRICE).ToString("N2") USD
                                </span>
                            </th>
                            <th>
                                <span class="pull-right">
                                    @Model.Sum(a => a.PRICE * a.AMOUNT).ToString("N2") USD
                                </span>

                            </th>
                            <th>
                                <span class="pull-right">
                                    @Model.Sum(a => a.ALPRICE * a.AMOUNT).ToString("N2") USD
                                </span>
                            </th>
                            <th>
                                <span class="pull-right">
                                    @totalGain.ToString("N2") USD
                                </span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

       
        <tr class="bankDetail_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">
                <h6>Bank Transaction</h6>
                <hr />
                <div class="col-lg-12 row">

                    @foreach (var bank in bankaList)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card card-stats" onclick="BankDetailFilterShow('@bank.BankaKodu',$(this))" style="cursor: pointer">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">equalizer</i>
                                    </div>
                                    <p class="card-category">@bank.BankaKodu - @bank.BankaAdi</p>
                                    <p class="card-category"></p>
                                    <h3 class="card-title">@bank.Bakiye.ToString("N0") USD</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <input type="hidden" id="SelectedBankaCodeFilterPayment" value="" />
                <hr />

                <table class="table table-bordered filterBankTableList" style="display:none">
                    <thead>
                        <tr>
                            <td>Start : </td>
                            <td>
                                <input type="date" class="form-control P_Start" value="@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")" />
                            </td>
                            <td>End : </td>
                            <td>
                                <input type="date" class="form-control P_End" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </td>
                            <td>
                                <a href="javascript:;" onclick="FilterBankDetailDateRange()" class="btn btn-white btn-round btn-just-icon" title="Search">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="20" id="P_DetailTransactionListDiv"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr class="borc_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">

                @{
                    var distborc = borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).OrderBy(a => a.ChUnvani).Select(a => a.OzelKod2).Distinct();
                }

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>GROUP</th>
                            <th>VALUE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in distborc)
                        {
                            var totG = borcAlacakList.Where(a => a.OzelKod2 == d && a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi);
                            string cls = d;
                            if (string.IsNullOrEmpty(d))
                            {
                                cls = "OTHER";
                            }
                        <tr>
                            <td>@cls</td>
                            <td>
                                <span class="pull-right">
                                    @totG.ToString("N2") USD
                                </span>
                            </td>
                            <td>
                                <a href="javascript:;" onclick="ShowBorcAlacakDiv($(this), 'borc_detay_div')" data-op="0">Show Detail</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-striped borc_detay_div" style="display:none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CLIENT CODE</th>
                            <th>CLIENT NAME</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int d_borc = 1;
                        }
                        @foreach (var item in borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).OrderBy(a => a.ChUnvani))
                        {
                            <tr>
                                <td>@d_borc</td>
                                <td>@item.ChKodu</td>
                                <td>@item.ChUnvani</td>
                                <td>
                                    <span class="pull-right">
                                        @item.RaporlamaDoviziBakiyesi.ToString("N2") USD
                                    </span>

                                </td>
                            </tr>

                            d_borc++;
                        }
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td class="text-right">
                                @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N2") USD
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
        <tr class="alacak_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">

                @{
                    var disalacak = borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).OrderBy(a => a.ChUnvani).Select(a => a.OzelKod2).Distinct();
                }

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>GROUP</th>
                            <th>VALUE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in disalacak)
                        {
                            var totG = borcAlacakList.Where(a => a.OzelKod2 == d && a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi);
                            string cls = d;
                            if (string.IsNullOrEmpty(d))
                            {
                                cls = "OTHER";
                            }
                            <tr>
                                <td>@cls</td>
                                <td>
                                    <span class="pull-right">
                                        @totG.ToString("N2") USD
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="ShowBorcAlacakDiv($(this), 'alacak_detay_div')" data-op="0">Show Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-bordered table-striped alacak_detay_div" style="display:none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CLIENT CODE</th>
                            <th>CLIENT NAME</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int d_alacak = 1;
                        }
                        @foreach (var item in borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).OrderBy(a => a.ChUnvani))
                        {
                            <tr>
                                <td>@d_alacak</td>
                                <td>@item.ChKodu</td>
                                <td>@item.ChUnvani</td>
                                <td>
                                    <span class="pull-right">
                                        @item.RaporlamaDoviziBakiyesi.ToString("N2") USD
                                    </span>

                                </td>
                            </tr>
                            d_alacak++;
                        }

                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td class="text-right">
                                @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
      

        <tr class="masrafDetay_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20" id="Ex_DetailTransactionListDiv">
            </td>
        </tr>

      

        <tr class="inventoryDetay_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20" id="Ex_DetailInventoryListDiv">
            </td>
        </tr>

    </tbody>
</table>

<hr />

@*<h6>Sales Client</h6>

<canvas id="CustomerList" style="max-height :400px"></canvas>

<hr />*@

<div class="row" style="display:none">
    <div class="col-md-12" style="background-color:white">
        <h6>Sales Product</h6>

        <canvas id="ProductList" style="max-height :400px"></canvas>

    </div>
</div>

<hr />



