﻿@using DossoDossi.Data.Models
@using Newtonsoft.Json

@model List<DailyReportDetailDto>
@{
    Layout = null;
    var totalSales = Model.Sum(a => a.PRICE * a.AMOUNT);
    var totalCost = Model.Sum(a => a.ALPRICE * a.AMOUNT);

    var colors = new List<SelectItemDto>();
    colors.Add(new SelectItemDto { id = "rgba(255, 99, 132, 0.2)", text = "rgb(255, 99, 132)" });
    colors.Add(new SelectItemDto { id = "rgba(201, 203, 207, 0.2)", text = "rgb(201, 203, 207)" });
    colors.Add(new SelectItemDto { id = "rgba(255, 159, 64, 0.2)", text = "rgb(255, 159, 64)" });
    colors.Add(new SelectItemDto { id = "rgba(255, 205, 86, 0.2)", text = "rgb(255, 205, 86)" });
    colors.Add(new SelectItemDto { id = "rgba(75, 192, 192, 0.2)", text = "rgb(75, 192, 192)" });
    colors.Add(new SelectItemDto { id = "rgba(54, 162, 235, 0.2)", text = "rgb(54, 162, 235)" });

    var fark = totalSales - totalCost;

    var bankTotal = (double)ViewBag.ToplamTL;
    int count = 1;

    var grp = Model.Select(a => a.NAME).Distinct().ToList();

    colors = colors.OrderBy(a => Guid.NewGuid()).ToList();

    double totalGain = 0;

    var bankaList = ViewBag.BankaDetailList as List<DossoDossi.Data.Models.Report.BankaBakiyeDto>;

    var borcAlacakList = ViewBag.BorcAlacakList as List<DossoDossi.Data.Models.Report.BorcAlacakCariDto>;

    var startDate = (DateTime)ViewBag.Start;
    var endDate = (DateTime)ViewBag.End;

}
<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center" style="font-size:18px"><b>General Result</b></th>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center" style="font-size:15px">
                                Profil/Loss
                                <p>
                                    @startDate.ToString("dd.MM.yyyy")
                                    @if (startDate != endDate)
                                    {
                                        <span>-@endDate.ToString("dd.MM.yyyy")</span>
                                    }
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor:pointer" onclick="ShowBankTransactionDetail($(this))" data-op="0">
                            <td style="width:40px">
                                <i class="material-icons">language</i>
                            </td>
                            <td>

                                Bank & Petty Cash Closing Balance
                                <p style="color:red">(Banka ve Küçük Kasa Kapanış Bakiyesi)</p>
                            </td>
                            <td>
                                <span class="pull-right" style="color:@(bankTotal<0? "red":"")">
                                    @bankTotal.ToString("N0") USD
                                </span>
                            </td>
                        </tr>
                        <tr style="cursor:pointer" onclick="ShowListDetail($(this))">
                            <td>
                                <i class="material-icons">shopping_cart</i>
                            </td>
                            <td>
                                Sales Revenue
                                <p style="color:red">(Satışlar Toplamı)</p>
                            </td>
                            <td>
                                <span class="pull-right">
                                    @totalSales.ToString("N0") USD
                                </span>
                            </td>
                        </tr>
                        <tr style="cursor:pointer" onclick="ShowListDetail($(this))">
                            <td>
                                <i class="material-icons">legend_toggle</i>
                            </td>
                            <td>
                                Cost
                                <p style="color:red">(Maliyet)</p>
                            </td>
                            <td>
                                <span class="pull-right" style="color:red">
                                    @((totalCost*-1).ToString("N0")) USD
                                </span>
                            </td>
                        </tr>

                        <tr style="cursor:pointer" onclick="ShowListDetail($(this))">
                            <td>
                                <i class="material-icons">explore</i>
                            </td>
                            <td>
                                Profit Margin %
                                <p style="color:red">(Karlılık %)</p>
                            </td>
                            <td>
                                <span class="pull-right">
                                    @if (totalSales != 0)
                                    {
                                        var ind = 100 - Math.Round((totalCost / totalSales) * 100);
                                        <span> % @ind.ToString("N0") </span>}
                                </span>
                            </td>
                        </tr>
                        <tr style="cursor:pointer" onclick="MasrafAcDiv($(this))">
                            <td>
                                <i class="material-icons">arrow_circle_down</i>
                            </td>
                            <td>
                                Expenses
                                <p style="color:red">(Masraflar)</p>
                            </td>
                            <td>
                                <span class="pull-right" style="color:red">
                                    @((((double)ViewBag.MasrafToplam)*-1).ToString("N0")) USD
                                </span>
                            </td>
                        </tr>

                        <tr style="background-color: aliceblue;cursor:pointer">
                            <td>
                                <i class="material-icons">check_circle_outline</i>
                            </td>
                            <td>
                                Profit/Loss
                                <p style="color:red">(Kar Zarar)</p>
                            </td>
                            <td>
                                <span class="pull-right">
                                    @if (totalSales != 0)
                                    {
                                        var masrafDbld = (double)ViewBag.MasrafToplam;

                                        var ind = 100 - Math.Round(((totalCost + masrafDbld) / totalSales) * 100);
                                        <span style="color:@(ind<0?"red":"")"> % @ind.ToString("N0") </span>}
                                </span>

                            </td>
                        </tr>

                        <tr style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'alacak_div')">
                            <td>
                                <i class="material-icons">arrow_upward</i>
                            </td>
                            <td>
                                Total Credit
                                <p style="color:red">(Toplam Alacak)</p>
                            </td>
                            <td>
                                <span class="pull-right">
                                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                                </span>
                            </td>
                        </tr>

                        <tr style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'borc_div')">
                            <td>
                                <i class="material-icons">arrow_downward</i>
                            </td>
                            <td>
                                Total Debt
                                <p style="color:red">(Toplam Borç)</p>
                            </td>
                            <td>
                                <span class="pull-right" style="color:red">
                                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                                </span>
                            </td>
                        </tr>

                        <tr style="cursor:pointer" onclick="InventoryAcDiv($(this))">
                            <td>
                                <i class="material-icons">shopping_cart</i>
                            </td>
                            <td>
                                Inventory
                                <p style="color:red">(Envanter)</p>
                            </td>
                            <td>
                                <span class="pull-right">
                                    @(((double)ViewBag.InventoryTotal).ToString("N0")) USD
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @{
        var countrys = Model.Select(a => a.COUNTRY).Distinct().OrderBy(a => a).ToList();
    }

    @foreach (var country in countrys)
    {

        var totalSalesCr = Model.Where(a => a.COUNTRY == country).Sum(a => a.PRICE * a.AMOUNT);
        var totalCostCr = Model.Where(a => a.COUNTRY == country).Sum(a => a.ALPRICE * a.AMOUNT);

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center" style="font-size:18px"><b>@country</b></th>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center" style="font-size:15px">
                                    Profil/Loss
                                    <p>
                                        @startDate.ToString("dd.MM.yyyy")
                                        @if (startDate != endDate)
                                        {
                                            <span>-@endDate.ToString("dd.MM.yyyy")</span>
                                        }
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr style="cursor:pointer" onclick="">
                                    <td style="width:40px">
                                        <i class="material-icons">language</i>
                                    </td>
                                    <td>
                                        Bank & Petty Cash Closing Balance
                                        <p style="color:red">(Banka ve Küçük Kasa Kapanış Bakiyesi)</p>
                                    </td>
                                    <td>
                                        <span class="pull-right" style="color:@(bankTotal<0? "red":"")">
                                            @bankTotal.ToString("N0") USD
                                        </span>
                                    </td>
                                </tr>*@
                            <tr>
                                <td style="width:40px">
                                    <i class="material-icons">shopping_cart</i>
                                </td>
                                <td>
                                    Sales Revenue
                                    <p style="color:red">(Satışlar Toplamı)</p>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        @totalSalesCr.ToString("N0") USD
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="material-icons">legend_toggle</i>
                                </td>
                                <td>
                                    Cost
                                    <p style="color:red">(Maliyet)</p>
                                </td>
                                <td>
                                    <span class="pull-right" style="color:red">
                                        @((totalCostCr*-1).ToString("N0")) USD
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="material-icons">explore</i>
                                </td>
                                <td>
                                    Profit Margin %
                                    <p style="color:red">(Karlılık %)</p>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        @if (totalSalesCr != 0)
                                        {
                                            var ind = 100 - Math.Round((totalCostCr / totalSalesCr) * 100);
                                            <span> % @ind.ToString("N0") </span>}
                                    </span>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <i class="material-icons">check_circle_outline</i>
                                </td>
                                <td>
                                    Profit/Loss
                                    <p style="color:red">(Kar Zarar)</p>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        @if (totalSalesCr != 0)
                                        {
                                            var ind = 100 - Math.Round(((totalCostCr) / totalSalesCr) * 100);
                                            <span style="color:@(ind<0?"red":"")"> % @ind.ToString("N0") </span>}
                                    </span>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="material-icons">arrow_upward</i>
                                </td>
                                <td>
                                    Total Credit
                                    <p style="color:red">(Toplam Alacak)</p>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        @borcAlacakList.Where(a => a.Ulke == country && a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="material-icons">arrow_downward</i>
                                </td>
                                <td>
                                    Total Debt
                                    <p style="color:red">(Toplam Borç)</p>
                                </td>
                                <td>
                                    <span class="pull-right" style="color:red">
                                        @borcAlacakList.Where(a => a.Ulke == country && a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    @*



        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="cursor:pointer" onclick="ShowBankTransactionDetail($(this))" data-op="0">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">language</i>
                    </div>
                    <p class="card-category">BANK TOTAL</p>
                    <h3 class="card-title">
                        @bankTotal.ToString("N0") USD
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-warning">date_range</i>
                        <a href="javascript:;">Show Detail</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'borc_div')" data-op="0">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">arrow_circle_down</i>
                    </div>
                    <p class="card-category">TOTAL DEBT</p>
                    <h3 class="card-title">
                        @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-warning">date_range</i>
                        <a href="javascript:;">Show Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="cursor:pointer" onclick="ShowBorcAlacakDiv($(this), 'alacak_div')" data-op="0">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">arrow_circle_up</i>
                    </div>
                    <p class="card-category">TOTAL CREDIT</p>
                    <h3 class="card-title">
                        @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-warning">date_range</i>
                        <a href="javascript:;">Show Detail</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="MasrafAcDiv($(this))" data-op="0" style="cursor:pointer">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment_returned</i>
                    </div>
                    <p class="card-category">EXPENSES</p>
                    <h3 class="card-title">
                        @(((double)ViewBag.MasrafToplam).ToString("N0")) USD
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-warning">date_range</i>
                        <a href="javascript:;">Show Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" onclick="InventoryAcDiv($(this))" data-op="0" style="cursor:pointer">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">inventory_2</i>
                    </div>
                    <p class="card-category">INVENTORY</p>
                    <h3 class="card-title">
                        @(((double)ViewBag.InventoryTotal).ToString("N0")) USD
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-warning">date_range</i>
                        <a href="javascript:;">Show Detail</a>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<table class="table table-bordered">
    <tbody>

        <tr class="salesDetail_div ortakdetail_Div" style="display:none">
            <td colspan="20">
                <div class="card">
                    <div class="card-body">

                        <h6>Sales Detail</h6>

                        <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.bankDetail_div')">Kapat <i class="material-icons">cancel</i> </a></span>

                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color: #4f9a94;color:white">
                                    <th>#</th>

                                    <th>Client</th>
                                    <th>Total Sales</th>
                                    <th>Total Cost</th>
                                    <th>Gain</th>
                                    <th>Profit Margin %</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var grpSalesChList = Model.Select(a => new { a.CLCODE, a.CLNAME, a.COUNTRY }).Distinct().ToList();
                                }

                                @foreach (var item in grpSalesChList)
                                {
                                    var grpSalesList = Model.Where(a => a.CLCODE == item.CLCODE).ToList();

                                    var jsonGrp = JsonConvert.SerializeObject(grpSalesList);


                                    var tot = grpSalesList.Sum(a => a.AMOUNT * a.PRICE);
                                    var cost = grpSalesList.Sum(a => a.AMOUNT * a.ALPRICE);
                                    var farkl = tot - cost;
                                    totalGain = totalGain + farkl;

                                    <tr>
                                        <td>@count</td>
                                        <td>@item.CLNAME</td>

                                        <td>
                                            <span class="pull-right ">
                                                @tot.ToString("N2") USD
                                            </span>
                                        </td>
                                        <td>
                                            <span class="pull-right">
                                                @cost.ToString("N2") USD
                                            </span>
                                        </td>
                                        <td>
                                            <span class="pull-right" style="color:@(farkl<0?"red":"")">
                                                @farkl.ToString("N2") USD
                                            </span>
                                        </td>

                                        <td>
                                            <span class="pull-right">
                                                @if (tot != 0)
                                                {
                                                    var rft = (farkl / tot * 100).ToString("N2");
                                                    <span style="color:@(farkl<0?"red":"")">% @rft</span>
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            <input type="hidden" class="salesdetaillist_general_@count" value="@jsonGrp" />
                                            <a href="javascript:;" onclick="OpenSalesDetailModalJson('.salesdetaillist_general_@count')" class="btn btn-sm btn-round btn-warning">
                                                <i class="material-icons">local_printshop</i>
                                            </a>
                                        </td>
                                    </tr>
                                    count++;
                                }

                                <tr>
                                    <th></th>

                                    <th>TOTAL</th>
                                    <th>
                                        <span class="pull-right">
                                            @Model.Sum(a => a.PRICE * a.AMOUNT).ToString("N2") USD
                                        </span>

                                    </th>
                                    <th>
                                        <span class="pull-right" style="color:red">
                                            @Model.Sum(a => a.ALPRICE * a.AMOUNT).ToString("N2") USD
                                        </span>
                                    </th>
                                    <th>
                                        <span class="pull-right">
                                            @totalGain.ToString("N2") USD
                                        </span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </td>
        </tr>


        <tr class="bankDetail_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">
                <h6>Bank Transaction</h6>

                <hr />

                <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.bankDetail_div')">Kapat <i class="material-icons">cancel</i> </a></span>
                <div class="col-lg-12 row">

                    @foreach (var bank in bankaList)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-stats" onclick="BankDetailFilterShow('@bank.BankaKodu',$(this))" style="cursor: pointer">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">equalizer</i>
                                    </div>
                                    <p class="card-category">@bank.BankaKodu - @bank.BankaAdi</p>
                                    <p class="card-category"></p>
                                    <h3 class="card-title">@bank.Bakiye.ToString("N0") USD</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <input type="hidden" id="SelectedBankaCodeFilterPayment" value="" />
                <hr />

                <table class="table table-bordered filterBankTableList" style="display:none">
                    <thead>
                        <tr>
                            <td>Start : </td>
                            <td>
                                <input type="date" class="form-control P_Start" value="@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")" />
                            </td>
                            <td>End : </td>
                            <td>
                                <input type="date" class="form-control P_End" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </td>
                            <td>
                                <a href="javascript:;" onclick="FilterBankDetailDateRange()" class="btn btn-white btn-round btn-just-icon" title="Search">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="20" id="P_DetailTransactionListDiv"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr class="borc_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">

                @{
                    var distborc = borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).OrderBy(a => a.ChUnvani).Select(a => a.ChUnvani).Distinct();
                }


                <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.ortakdetail_Div')">Kapat <i class="material-icons">cancel</i> </a></span>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>CLIENT</th>
                            <th>VALUE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in distborc)
                        {
                            var totG = borcAlacakList.Where(a => a.ChUnvani == d && a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi);
                            string cls = d;
                            if (string.IsNullOrEmpty(d))
                            {
                                cls = "-";
                            }
                            <tr>
                                <td>@cls</td>
                                <td>
                                    <span class="pull-right">
                                        @totG.ToString("N2") USD
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="ShowBorcAlacakDiv($(this), 'borc_detay_div')" data-op="0">Show Detail</a>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>TOTAL</td>
                            <td>
                                <span class="pull-right" style="font-weight:bold">
                                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N2") USD
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-striped borc_detay_div" style="display:none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CLIENT CODE</th>
                            <th>CLIENT NAME</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int d_borc = 1;
                        }
                        @foreach (var item in borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).OrderBy(a => a.ChUnvani))
                        {
                            <tr>
                                <td>@d_borc</td>
                                <td>@item.ChKodu</td>
                                <td>@item.ChUnvani</td>
                                <td>
                                    <span class="pull-right">
                                        @item.RaporlamaDoviziBakiyesi.ToString("N2") USD
                                    </span>

                                </td>
                            </tr>

                            d_borc++;
                        }
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td class="text-right">
                                @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi < 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N2") USD
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="alacak_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20">

                @{
                    var disalacak = borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).OrderBy(a => a.ChUnvani).Select(a => a.ChUnvani).Distinct();
                    int disalacakCount = 1;
                }

                <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.ortakdetail_Div')">Kapat <i class="material-icons">cancel</i> </a></span>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>CLIENT</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in disalacak)
                        {
                            var totG = borcAlacakList.Where(a => a.ChUnvani == d && a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi);
                            string cls = d;
                            if (string.IsNullOrEmpty(d))
                            {
                                cls = "-";
                            }
                            //data-toggle="collapse" data-target="#multiCollapseExampleA@(disalacakCount)" aria-expanded="false"  aria - controls = "multiCollapseExampleA@(disalacakCount)"
                            <tr>
                                <td>@cls</td>
                                <td>
                                    <span class="pull-right">
                                        @totG.ToString("N2") USD
                                    </span>
                                </td>
                            </tr>

                            @*<tr>
                                <td colspan="200">
                                    <div class="col">
                                        <div class="collapse" id="multiCollapseExampleA@(disalacakCount)">
                                            <div class="card card-body">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Borç</th>
                                                            <th>Alacak</th>
                                                            <th>Bakiye</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var b in borcAlacakList.Where(a => a.ChUnvani == d && a.RaporlamaDoviziBakiyesi > 0))
                                                        {
                                                            <tr>
                                                                <td>@b.ChUnvani</td>
                                                                <td>@b.Borc</td>
                                                                <td>@b.Alacak</td>
                                                                <td>@b.Bakiye</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>*@

                            disalacakCount++;
                        }

                        <tr>
                            <td>TOTAL</td>
                            <td>
                                <span class="pull-right" style="font-weight:bold">
                                    @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N2") USD
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-striped alacak_detay_div" style="display:none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CLIENT CODE</th>
                            <th>CLIENT NAME</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int d_alacak = 1;
                        }
                        @foreach (var item in borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).OrderBy(a => a.ChUnvani))
                        {
                            <tr>
                                <td>@d_alacak</td>
                                <td>@item.ChKodu</td>
                                <td>@item.ChUnvani</td>
                                <td>
                                    <span class="pull-right">
                                        @item.RaporlamaDoviziBakiyesi.ToString("N2") USD
                                    </span>

                                </td>
                            </tr>
                            d_alacak++;
                        }

                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td class="text-right">
                                @borcAlacakList.Where(a => a.RaporlamaDoviziBakiyesi > 0).Sum(a => a.RaporlamaDoviziBakiyesi).ToString("N0") USD
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr class="masrafDetay_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20" id="Ex_DetailTransactionListDiv">
            </td>
        </tr>



        <tr class="inventoryDetay_div ortakdetail_Div" style="display:none;background:white">
            <td colspan="20" id="Ex_DetailInventoryListDiv">
            </td>
        </tr>

    </tbody>
</table>

<hr />

@*<h6>Sales Client</h6>

    <canvas id="CustomerList" style="max-height :400px"></canvas>

    <hr />*@

<div class="row" style="display:none">
    <div class="col-md-12" style="background-color:white">
        <h6>Sales Product</h6>

        <canvas id="ProductList" style="max-height :400px"></canvas>

    </div>
</div>

<hr />



