﻿@model List<DossoDossi.Data.Models.Report.InventoryDetailDto>
@{
    Layout = null;
    int count = 1;

    var ozelKods = Model.Select(a => a.OzelKodu).Distinct().ToList();
    var totalGeneral = Math.Round(Model.Sum(item => item.AlPrice * item.Stock), 2);
}

<div class="table-responsive table--no-card m-b-30">

    <span style="float:right"><a class="btn btn-sm btn-circle btn-round btn-rose" href="javascript:;" onclick="CloseDivAndUp('.ortakdetil_Div')">Kapat <i class="material-icons">cancel</i> </a></span>

    <table class="table table-borderless table-striped">
        <tbody>
            <tr style="background-color: #4f9a94; color: white">
                <th>#</th>
                <td>ITEM GROUP</td>
                <td>STOCK QTY</td>
                <td>EXPENSE TOTAL</td>
            </tr>
        </tbody>
        <tbody id="">
            @foreach (var ozel in ozelKods)
            {
                int countIt = 1;

                var list = Model.Where(a => a.OzelKodu == ozel).ToList();
                var tot = Math.Round(list.Sum(item => item.AlPrice * item.Stock), 2);
            <tr class="line_item" data-name="" data-toggle="collapse" data-target="#multiCollapseExample@(count)" aria-expanded="false"
                aria-controls="multiCollapseExample@(count)">
                <td>@count</td>
                <td>@ozel</td>
                <td>
                    <span class="pull-right">
                        @list.Sum(a => a.Stock).ToString("N0")
                    </span>
                </td>
                <td>
                    <span class="pull-right" style="color:@(tot>0?"green":"red") ">
                        @tot.ToString("N2") USD
                    </span>
                </td>
            </tr>
                <tr>
                    <td colspan="200">
                        <div class="col">
                            <div class="collapse" id="multiCollapseExample@(count)">
                                <div class="card card-body">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>PRODUCT NAME</th>
                                                <th>QTY</th>
                                                <th>PURCH. PRICE</th>
                                                <th>TOTAL COST</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in list.OrderByDescending(a => a.Stock).ThenBy(a => a.AlPrice))
                                            {
                                                var totIt = Math.Round(item.AlPrice * item.Stock, 2);
                                                <tr class="line_item" data-name="">
                                                    <td>@countIt</td>
                                                    <td>@item.StokAdi</td>
                                                    <td>
                                                        <span class="pull-right">
                                                            @item.Stock.ToString("N0")
                                                        </span>
                                                    </td>
                                                    <td>@item.AlPrice USD</td>
                                                    <td>
                                                        <span class="pull-right" style="color:@(tot>0?"green":"red") ">
                                                            @totIt.ToString("N2") USD
                                                        </span>
                                                    </td>
                                                </tr>

                                                countIt++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                count++;
            }

            <tr>
                <td></td>
                <td>TOTAL</td>
                <td>@Model.Sum(a => a.Stock)</td>
                <td>
                    <span class="pull-right" style="color:@(totalGeneral>0?"green":"red") ">
                        @totalGeneral.ToString("N2") USD
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<small>Total : @Model.Count records.</small>
<br />
<hr />