﻿@using DossoDossi.Data.Helper
@model List<DossoDossi.Data.Models.Report.R_BorcAlacakTakip>
@{
    Layout = null;
}

<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>
    @foreach (var item in Model.OrderBy(a=>a.CariHesapAdi).Where(a=>!a.CariHesapAdi.ToControl()&&a.Kalan>1))
    {
    <li onclick="level4Ac('Level4GridCariAlacak?kodu=@(item.CariHesapKod)')">
        <a href="javascript:;">@item.CariHesapAdi <b>(@((item.Kalan ?? 0).ToString("N0")) €)</b></a>
    </li>
    }
</ul>