﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_MalzemeHareketleri>

@{
    Layout = null;
}

<a href="javascript:;" onclick="anamenu2don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records .</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
        <tr>
            <td colspan="1">
                Start:<br /> 
                <input type="date" id="StartDate" class="form-control" onchange="FilterDate('Level3MalzemeHareketTable?kodu=@(ViewBag.Kodu)')"/>
            </td>
            <td colspan="1">
                End :<br />
                <input type="date" id="EndDate" class="form-control" onchange="FilterDate('Level3MalzemeHareketTable?kodu=@(ViewBag.Kodu)')"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Müşteri Ara" onkeyup="SearchFast($(this))"/>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>Fiche Type</td>
            <td>Fiche No</td>
            <td>Client Name</td>
            <td>City</td>
            <th>Is Billed</th>
            <td>Amount</td>
            <td class="text-right">Total</td>
        </tr>
        </tbody>
        <tbody id="GridListPartial">

        @Html.Partial("~/Views/FinanceReport/_Level3MalzemeHareketTable.cshtml", Model)

        </tbody>
    </table>
</div>



