﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">A Demirbaşı<b>(14)</b></a>
    </li>
    <li>
        <a href="javascript:;">B Demirbaşı<b>(85)</b></a>
    </li>
</ul>