﻿@model List<DossoDossi.Data.Models.Report.R_BorcAlacakTakip>

@{
    Layout = null;
}

<a href="javascript:;" onclick="anamenu3don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
       
        <tr>
            <td>Date</td>
            <td>Process</td>
            <td class="text-right">Total</td>
        </tr>
        </tbody>
        <tbody>
        @foreach (var item in Model.OrderByDescending(a => a.HareketTarihi))
        {
            item.Kalan = item.Kalan?? 0;

            <tr>
                <td>@item.HareketTarihi.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.HareketTuru</td>
                <td class="text-right">@item.Kalan.Value.ToString("N0") ₺</td>
            </tr>
        }
        </tbody>
    </table>
</div>
