﻿@using CRM.Data.Helper
@using CRM.Data.Models.Report

@{
    Layout = null;
    var list = ViewBag.GroupSum as List<CekSenetAyBazliTotalDto>;

    var months = UtilityHelper.GetMonths();
    var yils = list.Select(a => int.Parse(a.Yil)).Distinct().ToList();
  
}

<a href="javascript:;" onclick="anamenu3don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>


@foreach (var yil in yils.OrderByDescending(x => x))
{
    <h3 style="text-align:center">@yil YEAR</h3>
    <hr />

    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-bordered table-hover table-striped" style="font-size:10px ">
            <tbody>
                <tr>
                    <td>Month</td>
                    <td>Total</td>
                </tr>
            </tbody>
            <tbody>
                @foreach (var ayDto in months.OrderBy(a => a.ayint))
                {
                    var tutar = list.Where(a => a.Ay == ayDto.id && a.Yil == yil.ToString()).Sum(x => x.Tutar);
                    <tr style="cursor:pointer" onclick="level5Ac('Level5GridSenet?csTuru=@(ViewBag.CsTuru)&durumu=@(ViewBag.Durumu)&doviz=@(ViewBag.Doviz)&yil=@(yil)&ay=@(ayDto.id)')">
                        <th>@ayDto.text</th>
                        <th>@tutar.ToString("N0") @ViewBag.Doviz</th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
