﻿@model List<DossoDossi.Data.Models.Report.R_BankaHareketleri>
@{
    Layout = null;
    var curr =(string)ViewBag.Currency;
}

<a href="javascript:;" onclick="anamenu4don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">

    <table class="table table-borderless table-striped" style="font-size: 10px">
        <tbody>
        <tr>
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Search client" onkeyup="SearchFast($(this))"/>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>Client</td>
            <td>Description</td>
            <td>Operation</td>
            <td class="text-right">Debt</td>
            <td class="text-right">Payee</td>
            <td class="text-right">Balance</td>
        </tr>
        </tbody>
        <tbody id="BankaHareketList_Grid">
        @foreach (var item in Model.OrderByDescending(a => a.Tarih))
        {
            item.Bakiye = item.Bakiye ?? 0;

            <tr class="line_item" data-name="@item.ChUnvani">
                <td>@item.Tarih.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.ChUnvani</td>
                <td>
                    @item.SatirAciklamasi
                </td>

                <td class="text-right">@item.IslemTuru</td>
                @if (curr == "TL")
                {
                    <td class="text-right">@item.Borc.Value.ToString("N0") @ViewBag.Currency </td>
                    <td class="text-right">@item.Alacak.Value.ToString("N0") @ViewBag.Currency </td>
                    <td class="text-right">@item.Bakiye.Value.ToString("N0") @ViewBag.Currency </td>
                }
                else
                {
                    <td class="text-right">@item.IslemDoviziBorc.Value.ToString("N0") @ViewBag.Currency </td>
                    <td class="text-right">@item.IslemDoviziAlacak.Value.ToString("N0") @ViewBag.Currency </td>
                    <td class="text-right">@item.IslemDoviziBakiye.Value.ToString("N0") @ViewBag.Currency </td>
                }

            </tr>
        }
        </tbody>
    </table>
</div>