﻿@using DossoDossi.Data.Helper
@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.CariToplamDto>

@{

    Layout = null;
    var bosToplam = Model.Where(a => a.Adi.ToControl()).Sum(a => a.Toplam);
}

<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>

    <li>
        <small>@DateTime.Now.Year Yılı Toplam : @Model.Sum(a => a.Toplam).ToString("N0") ₺</small>
    </li>

    <li>
        <input type="text" class="form-control" placeholder="Müşteri Ara" onkeyup="SearchFast($(this))" />
    </li>

    @foreach (var item in Model.Where(a => !a.Adi.ToControl()).OrderBy(a => a.Adi))
    {
        <li onclick="level4Ac('Level4GridCariBazli?kodu=@(item.Kodu)')" class="line_item"  data-name="@item.Adi">
            <a href="javascript:;">
                @item.Adi <b>(@item.Toplam.ToString("N0") €)</b>
            </a>
        </li>
    }

    <li>
        <a href="javascript:;">
            -NONE- <b>(@bosToplam.ToString("N0") €)</b>
        </a>
    </li>
</ul>

