﻿@using DossoDossi.Data.Models.Report
@using DossoDossi.Data.Helper
@model List<DossoDossi.Data.Models.Report.BankaBakiyeDto>
@{
    Layout = null;
    var bankalar = ViewBag.Bankalar as List<R_Bankalar>;

    var hesapKodları = bankalar.Select(a => new {a.BankaAdi,a.BankaKodu}).Distinct().ToList();
    var baknAdis = hesapKodları.Select(a => a.BankaAdi).Distinct().ToList();

}

<style>
    .bankaulliste > li {
        text-align: center;
        border-bottom: solid 1px black
    }
</style>
<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    @foreach (var bankaAdi in baknAdis)
    {
        var bankaitem = hesapKodları.FirstOrDefault(a => a.BankaAdi == bankaAdi);
        var bakiye= Model.Where(a => a.BankaAdi == bankaAdi).Sum(a => a.Bakiye);

        <li onclick="level4Ac('Level4GrupBankaDetay?kodu=@(bankaAdi)&curr=@ViewBag.Currency&sorgu=@ViewBag.Sorgu')">
            <a href="javascript:;">
                @*<img src="@bankaitem.BankaKodu.GetBankaLog()" style="height: 40px" data-kod ="@bankaitem.BankaKodu" alt="@bankaAdi"/>
                <br/>*@
        @bankaAdi
                
                <br />
                <b>(@bakiye.ToString("N0") @ViewBag.Currency)</b>
            </a>
        </li>
    }
</ul>