﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">Alış Siparişleri <b>(750.000 ₺)</b></a>
    </li>
    <li>
        <a href="javascript:;">Satış Siparişleri<b> (1.000.000 ₺)</b></a>
    </li>
</ul>