﻿@using System.Web.UI.WebControls
@using CRM.Data.Helper
@model System.Collections.Generic.List<CRM.Data.Models.Report.CekSenetAyBazliTotalDto>

@{
    Layout = null;
}
<ul class="list-unstyled navbar__list">
    <li onclick="anamenu3don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>

    @foreach (var item in Model.OrderBy(a => a.Aciklama).Where(a => a.Tutar> 1))
    {
        <li onclick="level5Ac('Level4GridSenet?kodu=@(item.Kod)&doviz=@ViewBag.Doviz&yil=@ViewBag.Yil&ay=@ViewBag.Ay')">
            <a href="javascript:;">
                @if (item.Aciklama.ToControl())
                {
                    <span>No description</span>
                }
                else
                {
                    @item.Aciklama
                }<br />
                <b>(@(item.Tutar.ToString("N0")) @ViewBag.Doviz)</b>
            </a>
        </li>
    }

</ul>