﻿@using DossoDossi.Data.Helper
@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.SehirToplamDto>

@{
    Layout = null;
    var bosToplam = Model.Where(a => a.Sehir.ToControl()).Sum(a => a.Toplam);
}

<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>

    <li>
        <small>@DateTime.Now.Year Yılı Toplam : @Model.Sum(a => a.Toplam).ToString("N0") €</small>
    </li>

    @foreach (var item in Model.Where(a=>!a.Sehir.ToControl()).OrderBy(a => a.Sehir))
    {
        <li onclick="level4Ac('Level4GridBolge?kodu=@(item.Sehir)')">
            

            <a href="javascript:;">
                @item.Sehir <b>(@item.Toplam.ToString("N0") €)</b>
            </a>
        </li>
    }
    
    <li>
        <a href="javascript:;">
            -BOŞ- <b>(@bosToplam.ToString("N0") €)</b>
        </a>
    </li>
</ul>

