﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">A Tipi <b>(758)</b></a>
    </li>
    <li>
        <a href="javascript:;">B Tipi<b> (144)</b></a>
    </li>
    <li>
        <a href="javascript:;">C Tipi<b> (256)</b></a>
    </li>
</ul>