﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.SatisElemanToplamDto>

@{
    Layout = null;
}

<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>

    <li>
        <small>@DateTime.Now.Year Year Total : @Model.Sum(a => a.Toplam).ToString("N0") €</small>
    </li>

    @foreach (var item in Model.OrderBy(a => a.Adi))
    {
        <li onclick="level4Ac('Level4SehirSatisEleman?kodu=@(item.Kodu)')">
            <a href="javascript:;">
                @item.Adi <b>(@item.Toplam.ToString("N0") €)</b>
            </a>
        </li>
    }
</ul>
