﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenudon()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li onclick="level3ac('Level3BorcluCari',true)">
        <a href="javascript:;">MÜŞTERİLER (1.096.000 ₺)</a>
    </li>
    <li onclick="level3ac('Level3AlacakCari',true)">
        <a href="javascript:;">SATICILAR (145.000 ₺)</a>
    </li>
    
</ul>