﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_SatisFaturalari>

@{
    Layout = null;
}

@foreach (var item in Model.OrderByDescending(a => a.Tarih))
{
    item.Tutar = item.Tutar ?? 0;

    <tr class="line_item" data-sel="@item.StokKodu" data-date="@item.Tarih.Value.ToString("yyyy-MM-dd")" data-name="@item.CariHesapUnvani">
        <td>@item.Tarih.Value.ToString("dd/MM/yyyy")</td>
        <td>@item.StokAdi</td>
        <td>@item.CariHesapUnvani</td>
        <td>@item.Miktar</td>
        <td class="text-right">@item.SatirNetTutari.Value.ToString("N0") €</td>
    </tr>
}