﻿@using DossoDossi.Data.DataAccess

@{
    ViewBag.Title = "Report";

    var firmNo = SettingDataAccess.GetValByCode("Logo.FirmNumber");

    var allFirms = ViewBag.AllFirm as List<DossoDossi.Data.Helper.SelectItemDto>;

    var fStart = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);

}


<style>
    #loadingPane {
        display: none;
        z-index: 9000;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #032d83;
        opacity: 0.7;
    }

    .isloading-wrapper.isloading-right {
        margin-left: 10px;
    }

    .isloading-overlay {
        position: relative;
        text-align: center;
    }

        .isloading-overlay .isloading-wrapper {
            background: #FFFFFF;
            -webkit-border-radius: 10px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 10px;
            -moz-background-clip: padding;
            border-radius: 10px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 10%;
            z-index: 9000;
        }
</style>


<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">@ViewBag.Title</a> /

            <a class="navbar-brand" href="javascript:;"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="pull-right">
                            <input type="hidden" id="FileName" value="OrderReports" />
                        </div>

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">

                        @*<div class="menu-sidebar__content level1divialani">
                                <nav class="navbar-sidebar">
                                    @{
                                        Html.RenderPartial("~/Views/FinanceReport/_Level1Menus.cshtml");
                                    }
                                </nav>
                            </div>*@
                        <div class="menu-sidebar__content level2divialani">
                            <nav class="navbar-sidebar level2navlist">

                            </nav>
                        </div>

                        <div class="menu-sidebar__content level3divialani">
                            <nav class="navbar-sidebar level3navlist">

                            </nav>
                        </div>

                        <div class="menu-sidebar__content level4divialani">
                            <nav class="navbar-sidebar level4navlist">

                            </nav>
                        </div>

                        <div class="menu-sidebar__content level5divialani">
                            <nav class="navbar-sidebar level5navlist">

                            </nav>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body table-responsive">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td colspan="21">Choose Firm : </td>
                                                </tr>
                                                <tr>

                                                    <td colspan="20">
                                                        @foreach (var item in allFirms)
                                                        {
                                                            if (item.id == "999")
                                                            {
                                                                continue;
                                                            }

                                                            <a class="btn btn-default btn-sm selectFirmBtn selFirmBtn_@item.id" onclick="ChooseFirm('@item.id')"
                                                               href="javascript:;">(@item.id) @item.text</a>
                                                        }

                                                    </td>
                                                </tr>
                                                <tr style="display:none" class="FilterDateGroupTr">
                                                    <td>Start : </td>
                                                    <td>
                                                        <input type="date" class="form-control F_Start" value="@fStart.ToString("yyyy-MM-dd")" />
                                                    </td>
                                                    <td>End : </td>
                                                    <td>
                                                        <input type="date" class="form-control F_End" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                                        <input type="hidden" class="F_FirmNo" value="" />
                                                    </td>

                                                    @*<td>Firm No :</td>
                                                        <td>
                                                            <select class="form-control F_FirmNo">
                                                                @foreach (var item in allFirms)
                                                                {
                                                                    if(item.id == "999")
                                                                    {
                                                                        continue;
                                                                    }

                                                                    <option value="@item.id">(@item.id) @item.text</option>
                                                                }
                                                            </select>

                                                        </td>*@
                                                    <td>
                                                        <a href="javascript:;" onclick="GetDailyReportByCountry()" class="btn btn-primary btn-round btn-just-icon" title="Search">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </thead>
                                            @*<tbody>
                                                    <tr>
                                                        <td colspan="50">
                                                        </td>
                                                    </tr>
                                                </tbody>*@
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="DailyReportHtml">
                    <div class="card">
                        <div class="card-body table-responsive text-center">
                            <b>Please choose a firm (Lütfen bir şirket grubu seçiniz.)</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="SalesDetailListmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-sm-12">
                        <table class="table table-bordered" style="font-size:11px">
                            <thead>
                                <tr>
                                    <th>DATE</th>
                                    <th>ITEM GROUP</th>
                                    <th>ITEM CODE</th>
                                    <th>ITEM NAME</th>
                                    <th>ITEM QTY</th>
                                    <th>PURCH. PRICE</th>
                                    <th>SALES PRICE</th>
                                    @*<th>TOTAL</th>*@
                                </tr>
                            </thead>
                            <tbody class="salesdetail_modalbody">
                            </tbody>
                        </table>
                    </div>
                    <table class=""></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="hidden">
    <script id="TemplateSalesDetail" type="text/html">
        {{#DATA}}
        <tr>
       
            <td>{{DATE_}}</td>

            <td>{{SPECODE}}</td>
            <td>{{CODE}}</td>
            <td>{{NAME}}</td>
            <td>{{AMOUNT}}</td>

            <td>{{PRICE}}</td>
            <td>{{ALPRICE}}</td>
            @*<td>{{}}</td>*@
            
        </tr>
        {{/DATA}}
    </script>
</div>

@section js{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="~/assets/animsition/animsition.min.js"></script>
    <script src="~/assets/animsition/jquery.isloading.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        var loadingPane = {
            show: function () {
                $.isLoading({
                    text: '<b>LOADING</b>',
                    'tpl':
                        '<span class="isloading-wrapper %wrapper%"><img src="/assets/loading.gif" width="60" height="60" alt=""/><br/>%text%</span>',
                });
            },
            hide: function () {

                $.isLoading("hide");
            }
        };

        function ChooseFirm(id) {

            $('.selectFirmBtn').removeClass("btn-success").removeClass("btn-default").addClass("btn-default");
            $('.selFirmBtn_' + id).removeClass("btn-default").addClass("btn-success");


            $(".FilterDateGroupTr").show();
            $(".F_FirmNo").val(id);

            GetDailyReportByCountry();

        }

        $(function () {
            // GetDailyReport();
        });

        function BankDetailFilterShow(bankCode) {

            $("#SelectedBankaCodeFilterPayment").val(bankCode);
            $(".filterBankTableList").show();

            $(".allbankbuttons").removeClass("btn-success").removeClass("btn-default");

            FilterBankDetailDateRange();


        }

        function FilterBankDetailDateRange() {

            var start = $(".P_Start").val();
            var end = $(".P_End").val();
            var firmNo = $(".F_FirmNo").val();
            var bankCode = $("#SelectedBankaCodeFilterPayment").val();

            $("#P_DetailTransactionListDiv").html("<div class='text-center'>Loading...</div>");

            $.ajax({
                type: "GET",
                url: "/FinanceReport/Level4GridBankaDateRange?start=" + start + "&end=" + end + "&firmNo=" + firmNo + '&bankCode=' + bankCode,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $("#P_DetailTransactionListDiv").html(data);

                },
                error: function (jqxhr, settings, thrownError) {
                    $("#P_DetailTransactionListDiv").html("<div class='texcenter'>An error occured.Please try again...</div>");
                }
            });

        }

        function ShowListDetail($this) {

            var op = $this.attr("data-op");

            //if (op == "0") {
            $(".ortakdetail_Div").hide();

            $(".salesDetail_div").show();
            $this.find(".card-footer").find("a").text("Hide Detail");
            $this.attr("data-op", "1")

            $("html, body").animate({ scrollTop: 10000 }, 1000);
            //} else {
            //    $(".salesDetail_div").hide();
            //    $this.find(".card-footer").find("a").text("itemidhow Detail");
            //    $this.attr("data-op", "0")
            //}
        }


        function OpenSalesDetailModalJson(cls) {
            var json = JSON.parse($(cls).val());

            var innerHtml = Mustache.to_html($('#TemplateSalesDetail').html(), { DATA: json});
            $(".salesdetail_modalbody").empty().append(innerHtml);

            $("#SalesDetailListmodel").modal("show");
        }

        function ShowBorcAlacakDiv($this, divCls) {

            var op = $this.attr("data-op");

            $(".ortakdetail_Div").hide();

            $("." + divCls).show();

            $("html, body").animate({ scrollTop: 10000 }, 1000);

            //} else {
            //    $("." + divCls).hide();
            //    $this.find(".card-footer").find("a").text("Show Detail");
            //    $this.attr("data-op", "0")

            //    $("html, body").animate({ scrollTop: 570 }, 1000);
            //}
        }

        function ShowBankTransactionDetail($this) {

            var op = $this.attr("data-op");

            $(".ortakdetail_Div").hide();
            $(".filterBankTableList").hide();

            //if (op == "0") {
            $(".bankDetail_div").show();

            $this.find(".card-footer").find("a").text("Hide Detail");
            $this.attr("data-op", "1")

            $("html, body").animate({ scrollTop: 10000 }, 1000);

            //} else {
            //    $(".bankDetail_div").hide();
            //    $this.find(".card-footer").find("a").text("Show Detail");
            //    $this.attr("data-op", "0")

            //    $("html, body").animate({ scrollTop: 570 }, 1000);
            //}

        }

        function CloseDivAndUp(cls) {

            $(cls).hide();

            $("html, body").animate({ scrollTop: 450 }, 1000);

        }

        function MasrafAcDiv($this) {

            var divCls = "masrafDetay_div";

            var op = $this.attr("data-op");
            $(".ortakdetail_Div").hide();
            // if (op == "0") {
                $("." + divCls).show();
                $this.find(".card-footer").find("a").text("Hide Detail");
                $this.attr("data-op", "1");

            $("html, body").animate({ scrollTop: 10000 }, 1000);

                GetExpenseDetailTransactionPartial();

            //} else {
            //    $("." + divCls).hide();
            //    $this.find(".card-footer").find("a").text("Show Detail");
            //    $this.attr("data-op", "0")
            //}
        }

        function InventoryAcDiv($this) {

            var divCls = "inventoryDetay_div";
            $(".ortakdetail_Div").hide();
            var op = $this.attr("data-op");

            //if (op == "0") {
                $("." + divCls).show();
                //$this.find(".card-footer").find("a").text("Hide Detail");
                //$this.attr("data-op", "1");
            $("html, body").animate({ scrollTop: 10000 }, 1000);
                GetInventoryDetailListPartial();

            //} else {
            //    $("." + divCls).hide();
            //    $this.find(".card-footer").find("a").text("Show Detail");
            //    $this.attr("data-op", "0")
            //}
        }


        function GetInventoryDetailListPartial() {

            $("#Ex_DetailInventoryListDiv").html("<div class='text-center'>Loading...</div>");

            var start = $(".F_Start").val();
            var end = $(".F_End").val();
            var firmNo = $(".F_FirmNo").val();
            loadingPane.show();

            $.ajax({
                type: "GET",
                url: "/FinanceReport/GetInventoryDetailListPartial?start=" + start + "&end=" + end + "&firmNo=" + firmNo,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);
                    $("#Ex_DetailInventoryListDiv").html(data);
                    loadingPane.hide();
                },
                error: function (jqxhr, settings, thrownError) {
                    $("#Ex_DetailInventoryListDiv").html("<div class='texcenter'>An error occured.Please try again...</div>");
                    loadingPane.hide();
                }
            });

        }

        function GetExpenseDetailTransactionPartial() {

            $("#Ex_DetailTransactionListDiv").html("<div class='text-center'>Loading...</div>");

            var start = $(".F_Start").val();
            var end = $(".F_End").val();
            var firmNo = $(".F_FirmNo").val();

            loadingPane.show();

            $.ajax({
                type: "GET",
                url: "/FinanceReport/GetExpenseDetailListPartial?start=" + start + "&end=" + end + "&firmNo=" + firmNo,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);
                    $("#Ex_DetailTransactionListDiv").html(data);

                    loadingPane.hide();

                },
                error: function (jqxhr, settings, thrownError) {
                    $("#Ex_DetailTransactionListDiv").html("<div class='texcenter'>An error occured.Please try again...</div>");

                    loadingPane.hide();
                }
            });
        }

        function GetDailyReportByCountry() {

            $("#DailyReportHtml").html("<div class='text-center'>Loading...</div>");

            var start = $(".F_Start").val();
            var end = $(".F_End").val();
            var firmNo = $(".F_FirmNo").val();

            loadingPane.show();

            $.ajax({
                type: "GET",
                url: "/FinanceReport/DateReportByCountry?start=" + start + "&end=" + end + "&firmNo=" + firmNo,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $("#DailyReportHtml").html(data);

                    // DailyDashboardRun();

                    loadingPane.hide();

                    $("html, body").animate({ scrollTop: 600 }, 1000);
                    // DailyDashboardRun_C();

                },
                error: function (jqxhr, settings, thrownError) {
                    $("#DailyReportHtml").html("<div class='texcenter'>An error occured.Please try again...</div>");
                    loadingPane.hide();

                }
            });
        }


        function GetDailyReport() {

            $("#DailyReportHtml").html("<div class='text-center'>Loading...</div>");

            var start = $(".F_Start").val();
            var end = $(".F_End").val();
            var firmNo = $(".F_FirmNo").val();

            loadingPane.show();

            $.ajax({
                type: "GET",
                url: "/FinanceReport/DateReport?start=" + start + "&end=" + end + "&firmNo=" + firmNo,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $("#DailyReportHtml").html(data);

                    DailyDashboardRun();

                    loadingPane.hide();

                    // DailyDashboardRun_C();

                },
                error: function (jqxhr, settings, thrownError) {
                    $("#DailyReportHtml").html("<div class='texcenter'>An error occured.Please try again...</div>");
                    loadingPane.hide();

                }
            });
        }


        function DailyDashboardRun_C() {

            const labels = JSON.parse($("#c_names").val());
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Client Sales Base (EUR)',
                    data: JSON.parse($("#c_values").val()),
                    backgroundColor: JSON.parse($("#c_backcolor").val()),
                    borderColor: JSON.parse($("#c_bordercolor").val()),
                    borderWidth: 1
                }]
            };

            const config = {
                type: 'pie',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            };

            var myChart = new Chart(
                document.getElementById('CustomerList'),
                config
            );
        }

        function DailyDashboardRun() {

            const labels = JSON.parse($("#p_names").val());
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Product Base',
                    data: JSON.parse($("#p_values").val()),
                    backgroundColor: JSON.parse($("#p_backcolor").val()),
                    borderColor: JSON.parse($("#p_bordercolor").val()),
                    borderWidth: 1
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            };

            var myChart = new Chart(
                document.getElementById('ProductList'),
                config
            );

        }

        function level2ac(action, isright) {

            $(".level1divialani").hide("slide", { direction: "left" }, 500);

            loadingPane.show();

            $.ajax({
                type: "GET",
                url: "/FinanceReport/" + action,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $(".level2navlist").html(data);
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 250);
                    setTimeout(function () {
                        $(".level2divialani").show("slide", { direction: "right" }, 200);
                    }, 350);
                },
                error: function (jqxhr, settings, thrownError) {
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                }
            });
        }

        function level3ac(action, isright) {

            $(".level2divialani").hide("slide", { direction: "left" }, 500);
            loadingPane.show();
            $.ajax({
                type: "GET",
                url: "/FinanceReport/" + action,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $(".level3navlist").html(data);
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                    setTimeout(function () {
                        $(".level3divialani").show("slide", { direction: "right" }, 200);
                    }, 350);
                },
                error: function (jqxhr, settings, thrownError) {
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                }
            });
        }

        function level4Ac(action, isright) {

            //if (!isMobile.any()) {
            //    location.href = "/Home/" + action + "_V";
            //    return false;
            //}


            $(".level3divialani").hide("slide", { direction: "left" }, 500);
            loadingPane.show();
            $.ajax({
                type: "GET",
                url: "/FinanceReport/" + action,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $(".level4navlist").html(data);

                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);

                    setTimeout(function () {
                        $(".level4divialani").show("slide", { direction: "right" }, 200);
                    }, 350);
                },
                error: function (jqxhr, settings, thrownError) {
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                }
            });
        }

        function level5Ac(action, isright) {

            //if (!isMobile.any()) {
            //    location.href = "/Home/" + action + "_V";
            //    return false;
            //}


            $(".level4divialani").hide("slide", { direction: "left" }, 500);
            loadingPane.show();
            $.ajax({
                type: "GET",
                url: "/FinanceReport/" + action,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                // data: params, //JSON.stringify($params),
                success: function (data) {
                    //  alert(data);

                    $(".level5navlist").html(data);

                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);

                    setTimeout(function () {
                        $(".level5divialani").show("slide", { direction: "right" }, 200);
                    }, 350);
                },
                error: function (jqxhr, settings, thrownError) {
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                }
            });
        }

        function anamenudon() {

            $(".level1divialani").show("slide", { direction: "left" }, 500);
            $(".level2divialani").hide("slide", { direction: "right" }, 200);


        }
        function anamenu2don() {

            $(".level2divialani").show("slide", { direction: "left" }, 500);
            $(".level3divialani").hide("slide", { direction: "right" }, 200);


        }
        function anamenu3don() {

            $(".level3divialani").show("slide", { direction: "left" }, 500);
            $(".level4divialani").hide("slide", { direction: "right" }, 200);

        }

        function anamenu4don() {

            $(".level4divialani").show("slide", { direction: "left" }, 500);
            $(".level5divialani").hide("slide", { direction: "right" }, 200);

        }

        var isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        //if (isMobile.any()) {
        if (true) {
            $(".header-desktop").hide();

            var html = $(".anamenulistesi").html();
            $(".anamenulistesi").remove();
            $(".main-content").prepend(html);
            $(".pagecontaindiv").removeClass("page-container");
            $(".mobillllogo").show();
            $(".desktoplogo").remove();
        }


        function SearchFast($this) {
            var val = $this.val();
            $(".line_item").hide();
            if (val == null || val.length == 0) {
                $(".line_item").show();
            } else {

                var upper = $.trim(val.toUpperCase());

                $(".line_item").each(function () {
                    var $this = $(this);
                    var name = $this.data('name');
                    if (name.indexOf(upper) >= 0) {
                        $(this).show();
                    }
                });
            }
        }

        function FilterDate(action) {
            var start = $("#StartDate").val();
            var end = $("#EndDate").val();

            loadingPane.show();
            $.ajax({
                type: "GET",
                url: "/FinanceReport/" + action + '&start=' + start + '&end=' + end,
                dataType: "HTML",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                async: true,
                cache: false,
                success: function (data) {

                    $("#GridListPartial").html(data);

                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);

                },
                error: function (jqxhr, settings, thrownError) {
                    setTimeout(function () {
                        loadingPane.hide();
                    }, 150);
                }
            });
        }

        function SelectChange($this) {
            var val = $this.val();
            $(".line_item").hide();
            if (val == null || val.length == 0) {
                $(".line_item").show();
            } else {

                var upper = $.trim(val);

                $(".line_item").each(function () {
                    var $this = $(this);
                    var name = $this.data('sel');
                    if (name == upper) {
                        $(this).show();
                    }
                });
            }
        }


    </script>
}