﻿
@{


}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon.ico" ">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Yönetim Paneli | @ViewBag.Title
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/panel/material-dashboard.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/css/panel/demo.css" rel="stylesheet" />
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" />

    <script src="~/assets/js/core/jquery.min.js"></script>

    @RenderSection("css", false)

    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
</head>

<body class="">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper ">

        <div class="sidebar" data-color="rose" data-background-color="black" data-image="../../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                @*<a href="/Home/Index" class="simple-text logo-mini">
                        <img src="~/assets/img/logo.png" />
                    </a>*@
                <a href="/Home/Index" class="simple-text logo-normal" style="background-color: black; text-align: center">
                    <img src="~/assets/img/logo-dossodossi.png" style="max-height:100px; " />
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="https://via.placeholder.com/150" />
                    </div>
                    <div class="user-info">
                        <a data-toggle="collapse" href="#collapseExample" class="username">
                            <span>
                                Admin
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> </span>
                                        <span class="sidebar-normal"> Profil </span>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> EP </span>
                                            <span class="sidebar-normal"> Kulanıcı Ayarları  </span>
                                        </a>
                                    </li>*@
                                <li class="nav-item">
                                    <a class="nav-link" href="/Account/Logout">
                                        <span class="sidebar-mini">  </span>
                                        <span class="sidebar-normal"> Çıkış </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>
                    <!--<li class="nav-item userNav">
                        <a class="nav-link" data-toggle="collapse" href="#pagesUsers">
                            <i class="material-icons">groups</i>
                            <p>
                                Ürün Yönetimi
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="pagesUsers">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("Index","Account")">
                                        <span class="sidebar-mini">
                                            <i class="material-icons">person</i>
                                        </span>
                                        <span class="sidebar-normal"> Personel liste </span>
                                    </a>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("Insert","Customer")">
                                        <span class="sidebar-mini"> <i class="material-icons">gavel</i>  </span>
                                        <span class="sidebar-normal"> Yetkilendirme </span>
                                    </a>
                                </li>-->
                    @*<li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("Roles", "Users")">
                                <span class="sidebar-mini"> <i class="material-icons">list</i>  </span>
                                <span class="sidebar-normal"> Permissions</span>
                            </a>
                        </li>*@

                    <!--</ul>
                        </div>
                    </li>-->
                    @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Account")">
                                <i class="material-icons">manage_accounts</i>
                                <p>
                                    Yönetici İşlemleri

                                </p>
                            </a>

                        </li>*@
                    <li class="nav-item ">
                        <a class="nav-link" href="">
                            <i class="material-icons">production_quantity_limits</i>
                            <p>
                                Ürün Yönetimi

                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=")">
                            <i class="material-icons">local_library</i>
                            <p>
                                Siparişler

                            </p>
                        </a>

                    </li>
                    <li class="nav-item programNav">
                        <a class="nav-link" href="@Url.Action("Index","Product")">
                            <i class="material-icons">category</i>
                            <p>
                                Raporlar

                            </p>
                        </a>

                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" href="/Users/User/Logout">
                            <i class="material-icons">logout</i>
                            <p> Çıkış </p>
                        </a>
                    </li>

                    @*<li class="nav-item ">
                                                  <a class="nav-link" href="../examples/charts.html">
                                                      <i class="material-icons">timeline</i>
                        n                            </a>
                                              </li>
                                              <li class="nav-item ">
                                                  <a class="nav-link" href="../examples/calendar.html">
                                                      <i class="material-icons">date_range</i>
                                                      <p> Calendar </p>
                                                  </a>
                                              </li>*@
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <!-- End Navbar -->
            @RenderBody()
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> <i class="material-icons">favorite</i>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->

    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="~/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/css/panel/material-dashboard.min.js" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/css/panel/demo.js"></script>

    <script src="~/assets/exportplugin/shim.min.js"></script>
    <script src="~/assets/exportplugin/xlsx.full.min.js"></script>
    <script src="~/assets/exportplugin/Blob.min.js"></script>
    <script src="~/assets/exportplugin/FileSaver.min.js"></script>
    @*<script src="~/assets/jquery.stickytableheaders.min.js"></script>*@


    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <!-- Sharrre libray -->
    <script src="~/assets/css/panel/jquery.sharrre.js"></script>
    @*<script src="~/assets/js/jquery.maskedinput-1.3.min.js"></script>*@


    <script src="~/assets/App/bootbox.min.js"></script>
    <script src="~/assets/App/toastr.min.js"></script>
    <script src="~/assets/App/jquery.pulsate.min.js"></script>
    <script src="~/assets/App/jquery.stringbuilder.min.js"></script>
    <script src="~/assets/App/mustache.min.js"></script>
    <script src="~/assets/App/jquery.form.min.js"></script>
    <script src="~/assets/App/Erp.Core.js"></script>
    <script src="~/assets/App/Erp.Utility.js"></script>

    @RenderSection("js", false)
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

            md.initVectorMap();

        });


        function doit(type, fn, dl) {
            $(".moneyvalue").each(function () {
                var t = $(this).text();
                $(this).text(t.replace('.', '').replace('.', ''));
            });

            $(".formthid").show();

            var elt = document.getElementById('data-table-list');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sayfa" });

            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ($("#FileName").val() + '.' + (type || 'xlsx')));

        }

        function doitTable(type, fn, dl, ele) {
            $(".moneyvalue").each(function () {
                var t = $(this).text();
                $(this).text(t.replace('.', '').replace('.', ''));
            });

            $(".formthid").show();

            var elt = document.getElementById(ele);
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sayfa" });

            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ($("#FileName").val() + '.' + (type || 'xlsx')));

        }


    </script>

    <div id="ModalAlani"></div>

    @*<div id="ajax-modal" style="overflow: auto !important" class="modal fade" role="dialog" tabindex="-1" data-backdrop="" data-keyboard="true"></div>*@
    <div id="ajax-modal2" style="overflow: auto !important" class="modal fade" role="dialog" tabindex="1" data-backdrop="static" data-keyboard="false"></div>
    <div id="ajax-modal3" style="overflow: auto !important" class="modal fade" role="dialog" tabindex="1" data-backdrop="static" data-keyboard="false"></div>

</body>

</html>