﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper
@using DossoDossi.Data.Models
@using DossoDossi.Data.DataAccess

@model List<DemandItem>

@{
    ViewBag.Title = "Demand Update";

    var user = ViewBag.User as Account;
    var isyeri = ViewBag.Isyeri as List<View_Isyeri>;
    var bolumler = ViewBag.Bolum as List<View_Bolumler>;
    var ambarlar = ViewBag.Ambarlar as List<View_Ambarlar>;

    var vadeler = ViewBag.VadeList as List<View_OdemePlanlari>;

    var tasiyiciKodlar = ViewBag.TasiyiciKodlar as List<View_TasiyiciKodlar>;

    var defCurr = (string)ViewBag.DefCurrency;

    var account = ViewBag.User as Account;

    var offer = ViewBag.Data as Demand;

    var items = Model;

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Demand Management</a> /

            <a class="navbar-brand" href="/Offer/Index">List</a> /

            <a class="navbar-brand" href="javascript:;">Update</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-success card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("FileAddForItem", "Demand", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", id = "DemandFileItemForm" }))
                        {
                            <input type="hidden" class="CreatedOfferId" value="@offer.Id" name="id" />
                            <input type="hidden" name="nos" class="demandItemNos" value="" />
                            <input type="hidden" name="counts" class="fileCounts" value="" />
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Date :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="date" id="TeklifTarih" class="form-control" value="@offer.Tarih.ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label" style="display:none">Branch :</label>
                                <div class="col-sm-4" style="display:none">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="IsyeriSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in isyeri)
                                            {
                                                var cls = "";

                                                if (offer.Isyeri == item.NR.Value.ToString())
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Salesman :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="SalesmanCode" readonly value="@offer.SaticiKodu">
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label" style="display:none">Region :</label>
                                <div class="col-sm-4" style="display:none">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" id="BolumSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in bolumler)
                                            {
                                                var cls = "";

                                                if (offer.Bolum == item.NR.Value.ToString())
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label">Warehouse :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="AmbarSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in ambarlar)
                                            {
                                                string cls = "";

                                                if (ambarlar.Count == 1)
                                                {
                                                    cls = "selected";
                                                }


                                                if (!offer.Ambar.ToControl() && offer.Ambar == item.NR.Value.ToString())
                                                {
                                                    cls = "selected";
                                                }


                                                <option @cls value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-1 col-form-label">Client Code :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerCode" placeholder="Choose" value="@offer.CariKodu">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>
                             

                                <label class="col-sm-1 col-form-label">Payment Type :</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="VadeSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in vadeler)
                                            {
                                                string cls = "";
                                                if (!offer.VadeKodu.ToControl() && offer.VadeKodu == item.CODE)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.CODE">@item.DEFINITION_</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Client Name :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="CustomerName" placeholder="Choose" value="@offer.CariUnvan">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSearch()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>

                            

                                <label class="col-sm-1 col-form-label">Carrier :</label>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm " id="TasiyiciKodSelect">
                                            <option disabled selected>Please Select</option>
                                            @foreach (var item in tasiyiciKodlar.Where(a => a.CODE.StartsWith("1")))
                                            {
                                                string cls = "";
                                                if (!offer.TransferKodu.ToControl() && offer.TransferKodu == item.CODE)
                                                {
                                                    cls = "selected";
                                                }

                                                <option @cls value="@item.CODE">@item.TITLE</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-sm-1 col-form-label">Shipping Address :</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" readonly class="form-control" id="ShipAddressCodePrew" placeholder="Choose" value="@offer.SevkKodu">
                                        <label id="ShipAddresNameSelected">@offer.SevkiyatAciklama</label>
                                        <input type="hidden" id="SelectedShipCode" value="@offer.SevkKodu" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:;" onclick="OpenCariSevkAdres()" class="btn btn-info btn-sm">
                                            <i class="material-icons">search</i>
                                        </a>
                                    </div>
                                </div>

                                <label class="col-sm-1 col-form-label" style="color:red;">Expected Delivery Date :</label>
                                <div class="col-sm-2" style="">
                                    <input type="date" class="form-control" id="TeslimTarihiSelect" value="@(offer.TeslimTarihi.HasValue? offer.TeslimTarihi.Value.ToString("yyyy-MM-dd"):"")">
                                </div>

                                <label class="col-sm-1 col-form-label">Cust. Order No :</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="CustomerOrderNo" placeholder="Customer Order No" value="@offer.MusteriSipNo">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <table id="classTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>Reserve QTY</th>
                                                <th>Warehouse Stock</th>
                                                <th>Net Stock</th>
                                                <th>QTY</th>
                                               
                                                <th>Documents</th>
                                                <th>Note</th>
                                                <th>Client Code</th>
                                                <th>
                                                    <a class="btn btn-success btn-sm" href="javascript:;" onclick="SatirEkle()">
                                                        <i class="material-icons">add</i> Line Add
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="ListOffer">

                                            @foreach (var item in items)
                                            {
                                                var araToplam = item.Qty * item.Price;

                                            <tr class="allitemlistlines list_line_@item.Id" data-no="@item.Id">
                                                <td>
                                                    <input type="hidden" class="l_sel_product_id_@item.Id" value="@item.ProductId" />
                                                    <input type="hidden" class="sel_unit_code_@item.Id" value="@item.UnitCode" />


                                                    <input type="hidden" class="lineitemhidden_@item.Id" value="@item.Id" />

                                                    <div class="input-group no-border">
                                                        <input type="text" value="@item.ProductCode" id="Item_stok_code_@item.Id" class="form-control" placeholder="Select...">
                                                        <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('@item.Id')">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group no-border">
                                                        <input type="text" value="@item.ProductName" class="form-control" id="Item_stok_name_@item.Id" placeholder="Select...">
                                                        <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('@item.Id')">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </div>
                                                </td>
                                               
                                                <td>
                                                    <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="ReserveListAc('@item.Id')">
                                                        <i class="material-icons">zoom_in</i> <span class="reserveliToplamAdet_@item.Id"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <span class="ambarStok_@item.Id"></span>
                                                </td>
                                                <td>
                                                    <span class="netStok_@item.Id"></span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control l_sel_miktar_@item.Id" onblur="CalculateAll()" placeholder="Amount" value="@item.Qty">
                                                </td>

                                                <td>

                                                    <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_File_@item.Id').modal('show')">File</a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="formModal_File_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Choose File</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                                                        <div class="row">
                                                                            <table class="table table-sm table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            @if (!item.FilePath.ToControl())
                                                                                            {
                                                                                                var arr = item.FilePath.Split(',').Where(x => !x.ToControl()).ToList();
                                                                                                if (arr.Count > 0)
                                                                                                {
                                                                                                    for (int i = 0; i < arr.Count; i++)
                                                                                                    {
                                                                                                        <p>
                                                                                                            <a class="" target="_blank" href="@arr[i]"><i class="fa fa-download"></i>@(i+1). File</a>
                                                                                                        </p>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <span>-</span>
                                                                                            }
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Not_@item.Id').modal('show')">Note</a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="formModal_Not_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Your Note</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                                                        <div class="row">
                                                                            <table class="table table-sm table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <textarea class="form-control l_sel_note_@item.Id" placeholder="Your note" rows="2">@item.Note</textarea>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Cr_@item.Id').modal('show')">Code</a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="formModal_Cr_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Client Product Code</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                                                        <div class="row">
                                                                            <table class="table table-sm table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <input type="text" class="form-control l_clientpr_code_@item.Id" placeholder="Client Product Code" value="@item.CustomerPrCode" />
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </td>

                                                <td>

                                                    <a href="javascript:;" onclick="SatirSilEdit('@item.Id')" data-no="@item.Id" class="btn-rounded l_sel_delet_@item.Id" title="Delete">
                                                        <i class="material-icons">close</i>
                                                    </a>

                                                    <a href="javascript:;" onclick="SatirKopyala('@item.Id')" data-no="@item.Id" class="l_sel_copy_@item.Id" title="Line Copy"><i class="fa fa-copy"></i></a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3  col-sm-4"></div>
                                    <div class="col-md-3  col-sm-4">
                                        <textarea class="form-control" id="Aciklama_T" placeholder="Your Comments" rows="5"></textarea>
                                    </div>
                                    <div class="col-md-3 " style="float:right;display:none">

                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Total Amount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalAmount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Discount </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalDiscount_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Vat </td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalVat_T"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Net</td>
                                                    <td> :</td>
                                                    <td>
                                                        <span class="pull-right totalNet_T"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <a href="javascript:;" onclick="FormGuncelle()" class="btn btn-fill btn-rose sel_create_button_cl">Submit<div class="ripple-container"></div></a>

                                <button class="btn-sm btn btn-warning btn-sm btn-rounded l_sel_create_btuuon_load" style="display: none" type="button">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loaidng
                                    <span class="sr-only">Loading...</span>
                                </button>

                                <span class="loadinPro"></span>

                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="hidden">
    <script id="TemplateOffer" type="text/html">
        {{#DATA}}

        <tr class="allitemlistlines list_line_{{No}}" data-no="{{No}}">
            <td>
                <input type="hidden" class="l_sel_product_id_{{No}}" value="" />
                <input type="hidden" class="sel_unit_code_{{No}}" value="" />
                <input type="hidden" class="lineitemhidden_{{No}}" value="0" />
                <div class="input-group no-border">
                    <input type="text" value="" id="Item_stok_code_{{No}}" class="form-control" placeholder="Select...">
                    <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('{{No}}')">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </td>
            <td>
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" id="Item_stok_name_{{No}}" placeholder="Select...">
                    <a class="btn btn-white btn-round btn-just-icon" href="javascript:;" onclick="OpenSearchProduct('{{No}}')">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </td>
           
            <td>
                <a class="btn btn-info btn-sm" title="Get Detail" href="javascript:;" onclick="$('#reserveModal_{{No}}').modal('show')">
                    <i class="material-icons">zoom_in</i> <span class="reserveliToplamAdet_{{No}}"></span>
                </a>

                <div class="modal fade" id="reserveModal_{{No}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Reserve List</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="row">
                                        <table class="table table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Offer No</td>
                                                    <td>Amount</td>
                                                    <td>Last Date</td>
                                                </tr>
                                            </thead>
                                            <tbody id="reservelistmodal_{{No}}"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
            <td>
                <span class="ambarStok_{{No}}"></span>
            </td>
            <td>
                <span class="netStok_{{No}}"></span>
            </td>
            <td>
                <input type="text" class="form-control l_sel_miktar_{{No}}" name="" onblur="CalculateAll()" placeholder="Amount" value="">
            </td>

            <td>

                <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_File_{{No}}').modal('show')">File</a>

                <!-- Modal -->
                <div class="modal fade" id="formModal_File_{{No}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Choose File</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="row">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="file" name="files[]" class="uploaditemfile" data-no="{{No}}" multiple="" value="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
            <td>
                <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Not_{{No}}').modal('show')">Note</a>

                <!-- Modal -->
                <div class="modal fade" id="formModal_Not_{{No}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Your Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="row">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>

                                                    <td>
                                                        <textarea class="form-control l_sel_note_{{No}}" placeholder="Your note" rows="2"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <a class="btn btn-xs btn-sm btn-info" href="javascript:;" onclick="$('#formModal_Cr_{{No}}').modal('show')">Code</a>

                <!-- Modal -->
                <div class="modal fade" id="formModal_Cr_{{No}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Client Product Code</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="row">
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control l_clientpr_code_{{No}}" placeholder="Client Product Code" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button onclick="" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
            <td>

                <a href="javascript:;" onclick="SatirSil('{{No}}')" data-no="{{No}}" class="btn-rounded l_sel_delet_{{No}}" title="Delete">
                    <i class="material-icons">close</i>
                </a>

                <a href="javascript:;" onclick="SatirKopyala('{{No}}')" data-no="{{No}}" class="l_sel_copy_{{No}}" title="Line Copy"><i class="fa fa-copy"></i></a>

            </td>
        </tr>

        {{/DATA}}
    </script>
</div>


<script id="Template2" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseCari('{{CariId}}')">
        <td>{{Index}} </td>
        <td>
            <input type="hidden" id="CariSel_{{CariId}}" value="{{json}}" />
            {{ChKodu}}
        </td>
        <td>{{ChUnvani}}</td>

        <td>{{Adres1}} {{Adres2}} {{Sehir}} {{Ulke}}</td>

        <td>
            {{TelefonNumarasi1}}
        </td>
        <td>
            {{EmailAdresi}}
        </td>

        <td>
            <a href="javascript:;" onclick="ChooseCari('{{CariId}}')" class="btn btn-sm btn-warning btn-rounded " title="Select"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>


<script id="Template" type="text/html">
    {{#DATA}}
    <tr ondblclick="ChooseProduct('{{StokId}}')" style="cursor: pointer">
        <td>{{Index}} </td>
        <td>
            <b>{{MalzemeKodu}}</b>
            <input type="hidden" id="ProductSearch_Json_{{StokId}}" value="{{json}}" />
        </td>
        <td>{{MalzemeAdi}}  {{NAME3}}</td>

        <td>{{MerkezStok}} {{BirimSetiKodu}}</td>
        <td>{{Birim2}} {{BirimSetiKodu}}</td>
        <td>{{BekleyenSiparisMiktar}} {{BirimSetiKodu}}</td>
        <td>
            <b>{{EmagazaKodu}} {{BirimSetiKodu}}</b>
        </td>
        <td>{{GrupKodu}}</td>

        <td>
            <a href="javascript:;" onclick="ChooseProduct('{{StokId}}')" class="btn btn-sm btn-warning btn-rounded " title="Choose"><i class="fa fa-hand-o-up"></i> Choose</a>
        </td>
    </tr>
    {{/DATA}}
</script>
<input type="hidden" id="StockControlIgnore" value="1" />
<div class="hidden">

    @using (Html.BeginForm("GetList", "Customer", FormMethod.Post, new { id = "FilterForm2" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage2" />
        <input type="hidden" name="Filter" id="Filter2" />
        <input type="hidden" name="Order" id="Order2" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount2" />
    }


    @using (Html.BeginForm("GetList", "Stock", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
    }

</div>


@section js{
    <script src="~/assets/App/Filter2.js"></script>
    <script src="~/assets/App/User/User.js"></script>
    <script src="~/assets/App/Demand/Demand.Create.js?v=002"></script>

    <script>
        $(".podemandsNav").addClass("active");

        $(function () {
            //CalculateAll();
        });
    </script>

    <script type="text/javascript">

        function OpenCariSearch() {

            Erp.U.P.Modal.Open("/Customer/OpenSearch",
                {},
                function () { });

        }

        function ChooseCari(id) {

            var json = JSON.parse($("#CariSel_" + id).val());

            $(".choosesupplyclosebutton").click();

            $("#CustomerName").val(json.ChUnvani);
            $("#CustomerCode").val(json.ChKodu);

            $("#ShipAddressCodePrew").val('');
            $("#ShipAddresNameSelected").text('');
            $("#SelectedShipCode").val('');

            if (json.OdemePlanKodu != null) {
                $("#VadeSelect").val(json.OdemePlanKodu)
            }
        }

        function OpenCariSevkAdres() {
            var kod = $("#CustomerCode").val();

            if (kod.length == 0) {
                Erp.U.Pulsate("#CustomerCode");
                Erp.U.P.T.Warning("Warning ", "Please choose client.");
                return false;
            }

            Erp.U.P.Modal.Open("/Customer/OpenAdres",
                { code: kod },
                function () { });
        }

        function ChooseAdres(id) {

            var json = JSON.parse($("#AdresSel_" + id).val());

            $("#ShipAddressCodePrew").val(json.ADRES_KODU + '' + json.ADRES_ADI);

            $("#SelectedShipCode").val(json.ADRES_KODU);

            var str = json.ADRES_ADI + ' ' + json.ADDR1 + ' ' + json.ADDR2 + ' ' + json.CITY + '' + json.COUNTRY;

            $("#ShipAddresNameSelected").text(str);

            Erp.U.Pulsate("#ShipAddressCodePrew");

            $(".closebutton").click();
        }


    </script>


}