﻿@{
    Layout = null;
    ViewBag.Title = "Search Client";
}


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-4 col-md-2 pull-right">

                            <div class="dataTables_length" id="sample-data-table_length">

                                <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList2" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <input id="FiltreInput2" class="form-control" placeholder="Keyword..." title="Search keyword..." type="text">
                        </div>
                        <div class="col-sm-4 col-md-2 pull-right ">

                            <a href="javascript:;" id="FiltreButton2" class="btn btn-sm btn-rounded btn-default">Search <i class="m-icon-swapright m-icon-white"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered tablecontent" style="font-size: 10px !important">
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th>Code</th>
                                                <th>Name</th>

                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Email</th>

                                                <th><i class="fa fa-fire"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody id="List2"></tbody>
                                    </table>
                                </div>
                                <div id="Pager2"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm closebutton choosesupplyclosebutton" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>

    setTimeout(function () {
        Filter2.Event();
    }, 300);

</script>