﻿@using DossoDossi.Data.Entity
@{
    Layout = null;
    var data = ViewBag.List as Account;
}

<thead>
    <tr>
        <th>Adı</th>
        <th>@data.Name</th>

    </tr>
    <tr>
        <th>Kullanıcı Adı</th>
        <th>@data.UserName</th>

    </tr>
    <tr>
        <th>E-mail</th>
        <th>@data.Email</th>

    </tr>
    <tr>
        <th>Telefon</th>
        <th>@data.Phone</th>

    </tr>
    <tr>
        <th>Yetki</th>
        <th>@data.Type</th>

    </tr>
    <tr>
        <th>Satış Personeli Kodu</th>
        <th>@data.SalesManCode</th>

    </tr>
    <tr>
        <th>Durumu</th>
        <th>@data.Status</th>

    </tr>
    <tr>
        <th>Sorumlu Personel</th>
        <th>@data.ParentId</th>

    </tr>
    <tr>
        <th>Oluşturma Tarihi</th>
        <th>@data.CreateDatetime</th>

    </tr>
    <tr>
        <th>Departman Kodu</th>
        <th>@data.DepartmanNameCode</th>

    </tr>
 
</thead>

