﻿@using DossoDossi.Data.Entity;

@{

    var list = ViewBag.List as List<ProjeTedarikciUrunler>;

    var code = ViewBag.Code;

    var id = ViewBag.Id;
    int count = 1;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Tedarikci Ürünleri</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">clear</i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    
                    <a style="float:right" href="~/assets/OrnekMalzemeAktarim.xlsx" download="~/assets/OrnekMalzemeAktarim.xlsx">Örnek Excel Şablon İndir</a>

                    <span>

                    </span>
                </div>

                <br />
                <div class="row"></div>
                @using (Html.BeginForm("ExcelMalzemePost", "Project", FormMethod.Post, new
                {
                    enctype = "multipart/form-data",
                    @class = "col-md-6",
                    @role = "form",
                    id = "frmExcelUploadStock"
                }))
                {
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="file" name="file" required />
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="DosyaOkuStok()" class="btn btn-sm btn-warning">Dosya Oku</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

                <hr />


                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th></th>
                            <th colspan="20">

                            </th>
                        </tr>
                    </thead>
                    <tbody id="StokReadList">
                    </tbody>
                </table>

                <a class="btn btn-success" href="javascript:;" onclick="SaveLoopStok('@code','@id')">Seçilileri Aktar</a>


                <hr />


                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Stok Kodu
                            </th>
                            <th>
                                Stok Adı
                            </th>
                            <th>
                                Seri Adedi
                            </th>
                            <th>
                                Marka
                            </th>
                            <th>
                                Grup Kodu
                            </th>
                            <th>Satış Fiyatı</th>
                            <th>Barkodu</th>
                            <th >

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                        <tr class="tr_line_stok_@item.Id"> 
                            <td>
                                @count
                            </td>
                            <td>
                                @item.StokKodu
                            </td>
                            <td>
                                @item.StokAdi
                            </td>
                            <td>
                                @item.SeriAdedi
                            </td>
                            <td>
                                @item.Marka
                            </td>
                            <td>
                                @item.GrupKodu
                            </td>
                            <td>
                                @item.SatisFiyat @item.Doviz
                            </td>
                            <td>
                                @item.Barkodu
                            </td>
                            <td class="td-actions text-right">

                                <button type="button" class="btn btn-xs btn-sm btn-warning"
                                        onclick="DeleteLineStok('@item.Id')" title="Ürün Kaldır">
                                    <i class="material-icons">close</i>
                                </button>

                            </td>
                        </tr>
                            count++;
                        }

                    </tbody>
                </table>


            </div>

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger btn-sm closecancelstatusclick" data-dismiss="modal">Kapat</button>
        </div>
    </div>
</div>


<script id="TemplateStokExcel" type="text/html">
    {{#DATA}}
    <tr>
        <td>
            <input class="checkmustitemallstok checkmustitem_{{Item}}" data-i="{{Index}}" checked type="checkbox" value="{{json}}" />
        </td>
        <td>
            {{Index}}
        </td>

        <td>{{StokKodu}}</td>

        <td>{{StokAdi}}</td>
        <td>{{NAME3}}</td>
        <td>{{GrupKodu}}</td>
        <td>{{MarkaKodu}}</td>
        <td>{{Erisim}}</td>
        <td>{{OzelKodu5}}</td>
        <td>{{OzelKodu}}</td>
        <td>{{OzelKodu2}}</td>
        <td>{{OzelKodu3}}</td>
        <td>{{OzelKodu4}}</td>
        <td>{{EmagazaKodu}}</td>

        <td>
            <span class="stokcheckallitemresult_{{Index}}">

            </span>
        </td>
    </tr>
    {{/DATA}}
</script>