﻿
@{
    ViewBag.Title = "Fuar/Proje Oluştur";
}


<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Fuar Oluşturma</a> /

            <a class="navbar-brand" href="/Project/Index">Liste</a> /

            <a class="navbar-brand" href="javascript:;">Yeni Kayıt</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                    <input type="hidden" value="@ViewBag.RespJson"/>
                                </div>
                            </div>
                        }
                        <div class="col-md-6">

                        
                        <form method="post" action="@Url.Action("Create","Project")" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kodu </label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Code" required>
                                        <span class="bmd-help">Bu Alan Zorunludur</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Fuar Adı</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Name" required>
                                        <span class="bmd-help">Bu Alan Zorunludur</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="date" name="Start" required class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Bitiş  Tarihi</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="date" class="form-control" required name="End">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-rose">Kaydet<div class="ripple-container"></div></button>

                                <a href="javascript:window.history.back(-1);" class="btn btn-fill btn-default">Geri Dön<div class="ripple-container"></div></a>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>