﻿@model DossoDossi.Data.Entity.View_Projeler
@{
    ViewBag.Title = "Fuar/Proje Güncelle";
}


<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Fuar Güncelle</a> /

            <a class="navbar-brand" href="/Project/Index">Liste</a> /

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">

                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#tabd_1" data-toggle="tab">
                                            DETAY
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#tabd_2" data-toggle="tab">
                                            ALICILAR
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#tabd_3" data-toggle="tab">
                                            SATICILAR
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="card-body ">

                        <div class="tab-content">
                            <div class="tab-pane active show" id="tabd_1">
                                @if (ViewBag.Hata != null)
                                {
                                    <div class="form-group">
                                        <div class="form-label-group" style="color:red">
                                            @ViewBag.Hata
                                        </div>
                                    </div>
                                }

                                <div class="col-md-6">

                                    <form method="post" action="@Url.Action("Edit","Project")" class="form-horizontal">
                                        <input type="hidden" name="Id" value="@Model.LOGICALREF" />
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Kodu </label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="Code" required value="@Model.CODE">
                                                    <span class="bmd-help">Bu Alan Zorunludur</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Fuar Adı</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="Name" required value="@Model.NAME">
                                                    <span class="bmd-help">Bu Alan Zorunludur</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <input type="date" name="Start" required class="form-control" value="@(Model.BEGDATE.HasValue?Model.BEGDATE.Value.ToString("yyyy-MM-dd"):"")">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Bitiş  Tarihi</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" required name="End" value="@(Model.ENDDATE.HasValue?Model.ENDDATE.Value.ToString("yyyy-MM-dd"):"")">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer ">
                                            <button type="submit" class="btn btn-fill btn-rose">Kaydet<div class="ripple-container"></div></button>

                                            <a href="javascript:window.history.back(-1);" class="btn btn-fill btn-default">Geri Dön<div class="ripple-container"></div></a>
                                        </div>
                                    </form>
                                </div>
                                <div>

                                </div>
                            </div>

                            <div class="tab-pane" id="tabd_2">
                                <h6>Rezervasyonlu Müşteri Listesi</h6>

                                <a href="javascript:;" onclick="OpenModalMuSteriToplu()" style="float:right" class="btn btn-sm btn-default">Toplu Aktarım</a>
                                <a href="javascript:;" onclick="DeleteAllMuSteriToplu('@Model.CODE')" style="float:right" class="btn btn-sm btn-danger">Tümünü Boşalt</a>

                                <br />
                                <hr />

                                <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Sicil No</th>
                                            <th>Adı Soyadı</th>
                                            <th>Email</th>
                                            <th>Telefon</th>
                                            <th>Ülke/Şehir</th>

                                            <th>Adress</th>
                                            <th>Firma Bilgileri</th>
                                            <th>Not</th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="MusteriList">
                                        <tr>
                                            <td colspan="20">
                                                <div style="text-align:center">Kayıt bulunamadı...</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabd_3">
                                <h6>Satıcı Firma Listesi (TEDARİKÇİLER)</h6>

                                <a href="javascript:;" onclick="OpenModalTedarikciToplu()" style="float:right" class="btn btn-sm btn-default">Toplu Aktarım</a>
                                <a href="javascript:;" onclick="DeleteAllTedarikToplu('@Model.CODE')" style="float:right" class="btn btn-sm btn-danger">Tümünü Boşalt</a>

                                <br />
                                <hr />

                                <table class="table table-bordered tablecontent" style="font-size:11px" id="data-table-list">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Cari Kodu</th>
                                            <th>Cari Ünvan</th>
                                            <th>Kullanıcı Adı</th>
                                            <th>Parola</th>
                                            <th>Ürün Adedi</th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="TedarikciList">
                                        <tr>
                                            <td colspan="20">
                                                <div style="text-align:center">Kayıt bulunamadı...</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <script id="TemplateMusteri" type="text/html">
        {{#DATA}}
        <tr class="tr_line_nusteri_{{Id}}">
            <td>{{Index}} </td>

            <td>{{SicilNo}}</td>

            <td>{{Name}}</td>
            <td>{{Email}}</td>
            <td>{{Phone}}</td>
            <td>{{Country}}/ {{City}}</td>
            <td>{{Address}}</td>
            <td>{{CompanyName}} {{TaxNo}} {{TaxOffice}} </td>
            <td>{{Note}}</td>
            <td class="td-actions text-right">

                @*<a href="javascript:;" class="btn btn-warning" title="Düzenle">
                        <i class="material-icons">edit</i>
                    </a>*@

                <button type="button" class="btn btn-xs btn-sm btn-danger" onclick="DeleteMusteriLine('{{Id}}')" title="Fuar Sil">
                    <i class="material-icons">close</i>
                </button>
            </td>

        </tr>
        {{/DATA}}
    </script>
    <script id="TemplateTedarikList" type="text/html">
        {{#DATA}}
        <tr class="tr_line_tedarik_{{Id}}">
            <td>{{Index}} </td>

            <td>{{CariKodu}}</td>
            <td>{{CariUnvan}}</td>

            <td>{{KullaniciAdi}}</td>
            <td>{{Sifre}}</td>
            <td>{{Adet}}</td>

            <td class="td-actions text-right">

                <button type="button" class="btn btn-xs btn-sm btn-success"
                        onclick="OpenTedarikciUrunler('{{Id}}', '@Model.CODE')" title="Ürünleri">
                    Ürünleri
                </button>

                <button type="button" class="btn btn-xs btn-sm btn-warning" onclick="DeleteLineTedarik('{{Id}}')" title="Tedarikci Kaldı">
                    <i class="material-icons">close</i>
                </button>
            </td>

        </tr>
        {{/DATA}}
    </script>

    <script id="TemplateMusteriExcel" type="text/html">
        {{#DATA}}
        <tr>
            <td>
                <input class="checkmustitemall checkmustitem_{{Item}}" data-i="{{Index}}" checked type="checkbox" value="{{json}}" />
            </td>
            <td>
                {{Index}}
            </td>

            <td>{{SicilNo}}</td>

            <td>{{Name}}</td>
            <td>{{Email}}</td>
            <td>{{Phone}}</td>
            <td>{{Country}}/ {{City}}</td>
            <td>{{Address}}</td>
            <td>{{CompanyName}} {{TaxNo}} {{TaxOffice}} </td>
            <td>{{Note}}</td>
            <td>
                <span class="checkallitemresult_{{Index}}">

                </span>
            </td>
        </tr>
        {{/DATA}}
    </script>
    <script id="TemplateTedarikExcel" type="text/html">
        {{#DATA}}
        <tr>
            <td>
                <input class="checkmustitemalltedark checkmustitem_{{Item}}" data-i="{{Index}}" checked type="checkbox" value="{{json}}" />
            </td>
            <td>
                {{Index}}
            </td>

            <td>{{CariKodu}}</td>

            <td>{{CariUnvan}}</td>
            <td>{{KullaniciAdi}}</td>
            <td>{{Sifre}}</td>

            <td>
                <span class="tedarikcicheckallitemresult_{{Index}}">

                </span>
            </td>
        </tr>
        {{/DATA}}
    </script>

</div>


<div class="modal fade" id="musterTopluModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Toplu Aktarım</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <a style="float:right" href="~/assets/OrnekMusteriAktarim.xlsx" download="~/assets/OrnekMusteriAktarim.xlsx">Örnek Excel Şablon İndir</a>
                        <span>
                            Not: aktarım sırasında müşteri kaydı email adresiyle referans alınır. Eğer önceden kaydı var ise o kişinin bilgileri güncellenir.
                            Lütfen excel de email alanını dolu gönderiniz.
                        </span>
                    </div>

                    <br />
                    <div class="row"></div>
                    @using (Html.BeginForm("ExcelMusteriPost", "Project", FormMethod.Post,
                        new { enctype = "multipart/form-data", @class = "col-md-6", @role = "form", id = "frmExcelUploadMusteri" }))
                    {
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="file" name="file" required />
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="DosyaOkuMusteri()" class="btn btn-sm btn-warning">Dosya Oku</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }

                    <hr />

                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th colspan="20">

                                </th>
                            </tr>
                        </thead>

                        <tbody id="MusteriReadList">
                        </tbody>
                    </table>

                    <a class="btn btn-success" href="javascript:;" onclick="SaveLoopMusteri('@Model.CODE')">Seçilileri Aktar</a>

                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm closecancelstatusclick" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tedarikTopluModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Toplu Aktarım Tedarikçi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <a style="float:right" href="~/assets/OrnekTedarikAktarim.xlsx"
                           download="~/assets/OrnekTedarikAktarim.xlsx">Örnek Excel Şablon İndir</a>
                        <span>
                            Not: aktarım sırasında dosyaya müşteri cari kodunu eksiksiz yazınız.
                        </span>
                    </div>

                    <br />
                    <div class="row"></div>
                    @using (Html.BeginForm("ExcelTedarikPost", "Project", FormMethod.Post,
                        new { enctype = "multipart/form-data", @class = "col-md-6", @role = "form", id = "frmExcelUploadTedarik" }))
                    {
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="file" name="file" required />
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="DosyaOkuTedarik()" class="btn btn-sm btn-warning">Dosya Oku</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }

                    <hr />

                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th colspan="20">

                                </th>
                            </tr>
                        </thead>

                        <tbody id="TedarikciReadList">
                        </tbody>
                    </table>

                    <a class="btn btn-success" href="javascript:;" onclick="SaveLoopTedarikci('@Model.CODE')">Seçilileri Aktar</a>

                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger btn-sm closecancelstatusclick" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section js{

    <script>

        $(".fuarNav").addClass("active");

        $(function () {

            GetMusteriList('@Model.CODE');
            GetTedarikciList('@Model.CODE');

        });

        function OpenModalTedarikciToplu() {
            $("#tedarikTopluModal").modal("show");
        }

        function OpenModalMuSteriToplu() {
            $("#musterTopluModal").modal("show");
        }

        function SaveLoopMusteri(code) {

            bootbox.confirm("İşlemi başlatmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        SaveLoop(code);
                    }
                });
        }

        function SaveLoopTedarikci(code) {

            bootbox.confirm("İşlemi başlatmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        SaveLoopTedarikFor(code);
                    }
                });
        }


        function SaveLoopStok(code,id) {

            bootbox.confirm("İşlemi başlatmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        SaveLoopStockFor(code,id);
                    }
                });
        }



        function OpenTedarikciUrunler(id,code) {

            Erp.U.P.Modal.Open("/Project/OpenTedarikUrunler",
                { code: code, id: id },
                function () {

                });
        }

        function SaveLoopTedarikFor(code) {

            $(".checkmustitemalltedark").each(function () {
                var $this = $(this);

                var count = $this.attr("data-i");

                if ($this.is(":checked")) {

                    var obj = $this.val();
                    var model = JSON.parse(obj);

                    $(".tedarikcicheckallitemresult_" + count).text("Yükleniyor...");

                    model.ProjeKodu = code;

                    $.ajax({
                        type: "POST",
                        url: "/Project/UpsertTedarikciPost",
                        data: JSON.stringify({ model: model}),
                        dataType: 'JSON',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        cache: false,
                        //timeout: 3000,
                        success: function (data) {
                            if (data.Status) {
                                $(".itemst_" + count).addClass("success");
                            } else {
                                $(".itemst_" + count).addClass("warning");
                            }

                            $(".tedarikcicheckallitemresult_" + count).text(data.Message);

                        },
                        error: function (jqxhr, settings, thrownError) {
                            if (fnErrorCallback == null) {
                                alert("Hata oluştu");
                            } else {
                                alert("Uyarı ! Hata oluştu");
                            }
                        },
                        complete: function () {
                            // if (!hideLoader)
                            //     Metronic.stopPageLoading();
                        }
                    });
                }
            });

        }

        function SaveLoopStockFor(code,id) {

            $(".checkmustitemallstok").each(function () {
                var $this = $(this);

                var count = $this.attr("data-i");

                if ($this.is(":checked")) {

                    var obj = $this.val();
                    var model = JSON.parse(obj);

                    model.ProjeKodu = code;
                    model.CariId = id;

                    $(".stokcheckallitemresult_" + count).text("Yükleniyor...");

                    $.ajax({
                        type: "POST",
                        url: "/Project/UpsertStockPost",
                        data: JSON.stringify({ model: model,code: code}),
                        dataType: 'JSON',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        cache: false,
                        //timeout: 3000,
                        success: function (data) {
                            if (data.Status) {
                                $(".itemst_" + count).addClass("success");
                            } else {
                                $(".itemst_" + count).addClass("warning");
                            }

                            $(".stokcheckallitemresult_" + count).text(data.Message);

                        },
                        error: function (jqxhr, settings, thrownError) {
                            if (fnErrorCallback == null) {
                                alert("Hata oluştu");
                            } else {
                                alert("Uyarı ! Hata oluştu");
                            }
                        },
                        complete: function () {
                            // if (!hideLoader)
                            //     Metronic.stopPageLoading();
                        }
                    });
                }
            });

        }


        function SaveLoop(code) {

            $(".checkmustitemall").each(function () {
                var $this = $(this);

                var count = $this.attr("data-i");

                if ($this.is(":checked")) {

                    var obj = $this.val();
                    var model = JSON.parse(obj);

                    $(".checkallitemresult_" + count).text("Yükleniyor...");

                    $.ajax({
                        type: "POST",
                        url: "/Project/UpsertMusteriPost",
                        data: JSON.stringify({ model: model , code: code}),
                        dataType: 'JSON',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        cache: false,
                        //timeout: 3000,
                        success: function (data) {
                            if (data.Status) {
                                $(".itemst_" + count).addClass("success");
                            } else {
                                $(".itemst_" + count).addClass("warning");
                            }

                            $(".checkallitemresult_" + count).text(data.Message);

                        },
                        error: function (jqxhr, settings, thrownError) {
                            if (fnErrorCallback == null) {
                                alert("Hata oluştu");
                            } else {
                                alert("Uyarı ! Hata oluştu");
                            }
                        },
                        complete: function () {
                            // if (!hideLoader)
                            //     Metronic.stopPageLoading();
                        }
                    });
                }

            });
        }


        function DosyaOkuMusteri() {

            var form = $("#frmExcelUploadMusteri");

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {

                        $("#MusteriReadList").html("Yükleniyor..");

                        Erp.U.A.Req.F(form,
                            function (data) {

                                if (data.Status == true) {

                                    $.each(data.Data, function (i, item) {
                                        item.Index = i + 1;
                                        item.json = JSON.stringify(item);
                                    });

                                    var innerHtml = Mustache.to_html($('#TemplateMusteriExcel').html(), { DATA: data.Data });
                                    $("#MusteriReadList").empty().append(innerHtml);

                                } else {
                                    Erp.U.P.T.Warning("Uyarı ", data.Message);
                                    $("#MusteriReadList").html("Hata oluştu.." + data.Message);
                                }
                            });
                    }
                });

        }

        function DosyaOkuTedarik() {

            var form = $("#frmExcelUploadTedarik");

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {

                        $("#TedarikciReadList").html("Yükleniyor..");

                        Erp.U.A.Req.F(form,
                            function (data) {

                                if (data.Status == true) {

                                    $.each(data.Data, function (i, item) {
                                        item.Index = i + 1;
                                        item.json = JSON.stringify(item);
                                    });

                                    var innerHtml = Mustache.to_html($('#TemplateTedarikExcel').html(), { DATA: data.Data });
                                    $("#TedarikciReadList").empty().append(innerHtml);

                                } else {
                                    Erp.U.P.T.Warning("Uyarı ", data.Message);
                                    $("#TedarikciReadList").html("Hata oluştu.." + data.Message);
                                }
                            });
                    }
                });

        }
        function DosyaOkuStok() {

            var form = $("#frmExcelUploadStock");

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {

                        $("#StokReadList").html("Yükleniyor..");

                        Erp.U.A.Req.F(form,
                            function (data) {

                                if (data.Status == true) {

                                    $.each(data.Data, function (i, item) {
                                        item.Index = i + 1;
                                        item.json = JSON.stringify(item);
                                    });

                                    var innerHtml = Mustache.to_html($('#TemplateStokExcel').html(), { DATA: data.Data });
                                    $("#StokReadList").empty().append(innerHtml);

                                } else {
                                    Erp.U.P.T.Warning("Uyarı ", data.Message);
                                    $("#StokReadList").html("Hata oluştu.." + data.Message);
                                }
                            });
                    }
                });

        }

        function GetMusteriList(code) {

            Erp.U.A.Req.C("GET",
                "/Project/GetProjeMusteriler",
                { code : code},
                function (data) {

                    if (data.length > 0) {

                        $.each(data, function (i, item) {
                            item.Index = i + 1;
                        });

                        var innerHtml = Mustache.to_html($('#TemplateMusteri').html(), { DATA: data });
                        $("#MusteriList").empty().append(innerHtml);
                    }
                });
        }

        function GetTedarikciList(code) {

            Erp.U.A.Req.C("GET",
                "/Project/GetProjeTedarikciler",
                { code : code},
                function (data) {

                    if (data.length > 0) {

                        $.each(data, function (i, item) {
                            item.Index = i + 1;
                        });

                        var innerHtml = Mustache.to_html($('#TemplateTedarikList').html(), { DATA: data });
                        $("#TedarikciList").empty().append(innerHtml);
                    }
                });
        }

        function DeleteAllMuSteriToplu(code) {

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Project/DeleteAllMusteri",
                            { code: code },
                            function (data) {

                                if (data) {

                                    alert("Tüm liste boşaltıldı");

                                    location.reload();

                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            });
                    }

                    });
        }

        function DeleteAllTedarikToplu(code) {

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Project/DeleteAllTedarik",
                            { code: code },
                            function (data) {

                                if (data) {

                                    alert("Tüm liste boşaltıldı");

                                    location.reload();

                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            });
                    }

                    });
        }


        function DeleteMusteriLine(id) {

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Project/DeleteLineMusteri",
                            { id: id},
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Sonuç ", "Kaldırıldı !");
                                    $('.tr_line_nusteri_' + id).remove();

                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            });
                    }
                });
        }

        function DeleteLineTedarik(id) {

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Project/DeleteLineTedarik",
                            { id: id},
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Sonuç ", "Kaldırıldı !");
                                    $('.tr_line_tedarik_' + id).remove();

                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            });
                    }
                });
        }

        function DeleteLineStok(id) {

            bootbox.confirm("İşlemi yapmak istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Project/DeleteLineStok",
                            { id: id},
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Sonuç ", "Kaldırıldı !");
                                    $('.tr_line_stok_' + id).remove();

                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            });
                    }
                });
        }


    </script>

}