﻿@model List<DossoDossi.Data.Models.DossoDossiFileDto>
@{
    Layout = null;
    int count = 1;
}

<div class="table-responsive">

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>File Name</td>
                <td>Preview</td>
                <td>Download</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>@item.FileName</td>
                        <td>
                            <a href="@item.FilePath" target="_blank"><i class="fa fa-eye"></i> Preview File</a>

                        </td>
                        <td>

                            <a href="@item.FilePath" download="@item.FilePath" title="@item.FileName">
                                <i class="fa fa-download"></i> Download
                            </a>
                        </td>
                        <td>
                            <a href="javascript:;" onclick="CrmFile.Delete('@item.Id')"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>

                    count++;
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>No files saved.</div>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
