﻿@model List<DossoDossi.Data.Models.DossoDossiFileDto>
@{
    Layout = null;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="portlet-body">

                                @using (Html.BeginForm("FileAdd", "CrmFile", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", id = "OrderFileForm" }))
                                {
                                <div class="" style="display: inline-flex">

                                    <input type="hidden" id="CrmFile_RecordId" name="recordId" value="@ViewBag.RecordId" />
                                    <input type="hidden" id="CrmFile_Type" name="type" value="@ViewBag.Type" />

                                    <input type="file" name="file" class="uploaditemfile" id="orderGenelFile" multiple="">
                                    <a class="btn btn-sm btn-info" href="javascript:;" onclick="CrmFile.Create()" title="."> Upload And Save</a>
                                </div>
                                }

                                <div class="fileHtmlDiv">
                                    @Html.Partial("~/Views/CrmFile/_ListPartial.cshtml", Model)
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm closebutton" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

