﻿@{
    ViewBag.Title = "Tedarikçi Kullanıcı Oluştur";
    var id = ViewBag.SupplierId;
}



<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Tedarikçi</a>/

            <a class="navbar-brand" href="javascript:;">Ekle</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">language</i>

                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/turkish_flag.png" style="height:25px; width:25px" />
                            <span> &nbsp; Turkish</span>

                        </a>
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/english-flag.png" style="height:25px; width:25px" />

                            <span> &nbsp;  English</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">Ayarlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/Logout">Çıkış</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("SupplierUserInsert", "Supplier", FormMethod.Post, new { @class = "form-horizontal", @role = "form", id = "frmCreate" }))
                        {
                            <input name="SupplierId" value="@id" hidden/>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kullanıcı  Adı</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Name" required>
                                        <span class="bmd-help">Zorunlu alandır.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kullanıcı Uvan</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Title">

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Email">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Telefon</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Phone">

                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Sifre</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Password">

                                    </div>
                                </div>
                            </div>
                            

                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-rose">Kaydet<div class="ripple-container"></div></button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section js{




}
