﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.DataAccess
@using DossoDossi.Data.Helper

@model Musteriler
@{
    ViewBag.Title = "Barcode";
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
</head>
<body>


    <img src="@UtilityHelper.GenerateBarcodeBase64(Model.SicilNo)" alt=""/>


</body>
</html>

