﻿@using DossoDossi.Data.Models
@using DossoDossi.Data.Helper

@model List<DossoDossi.Data.Entity.OfferItem>

@{
    Layout = null;
    int count = 1;
}

<div class="row">
    <div class="col-md-12 table-responsive" style="min-height: 200px">
        
        <table class="table table-bordered" style="font-size: 9px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Reserve End Date</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                    <th>Currency</th>
                    <th>Total</th>
                    <th>Discount(%)</th>
                    <th>Vat(%)</th>
                    <th>Vat Total</th>
                    <th>Net Total</th>
                    <th>Documents</th>
                    <th>Note</th>
                    <th>Client Code</th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    var araTOplam = item.Qty * item.Price;

                    if (item.Vat == null)
                    {
                        item.Vat = 0;
                    }
                    <tr>
                        <td>@count</td>
                        <td>@item.ProductCode</td>
                        <td>@item.ProductName</td>
                        <td>
                            @if (item.IsReserved == "1")
                            {
                                <span>YES</span>
                            }
                            else
                            {
                                <span>NO</span>
                            }

                            @if (item.ReserveDate.HasValue)
                            {
                                @item.ReserveDate.Value.ToString("dd.MM.yyyy")
                            }
                        </td>
                        <td>
                            @item.Qty @item.UnitCode
                        </td>
                        <td>@item.Price</td>
                        <td>@item.Currency</td>
                        <td>
                            @(araTOplam) @item.Currency
                        </td>
                        <td>
                          % @item.Discount
                        </td>
                        <th>
                            % @item.Vat
                        </th>
                        <td>
                            @{ 
                                var disCikmis = (araTOplam - (araTOplam * (item.Discount ?? 0) / 100));
                                var kdv = (disCikmis) * (item.Vat.Value / 100);
                            }

                            @kdv.ToString("N2") @item.Currency
                        <td>
                            @((disCikmis + kdv).ToString("N2")) @item.Currency
                        </td>
                        <td>
                            @if (!item.FilePath.ToControl())
                            {
                                var arr = item.FilePath.Split(',').Where(x => !x.ToControl()).ToList();
                                if (arr.Count() > 0)
                                {
                                    for (int i = 0; i < arr.Count(); i++)
                                    {
                                        <p>
                                            <a class="" target="_blank" href="@arr[i]"><i class="fa fa-download"></i>@(i+1). File</a>
                                        </p>
                                    }
                                }
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @item.Note
                        </td>
                        <td>
                            @item.CustomerPrCode
                        </td>
                    </tr>

                    count++;
                }

            </tbody>
        </table>
    </div>
</div>