﻿@model List<DossoDossi.Data.Models.Report.R_BankaHareketleri>
@{
    Layout = null;
    int count = 1;

    var cariList = Model.Select(a => new { a.ChKodu, a.ChUnvani }).Distinct().ToList() ;
}

<div class="table-responsive table--no-card m-b-30">

    <table class="table table-borderless table-striped">
        <tbody>
            <tr>
                <td colspan="6">
                    <input type="text" class="form-control" placeholder="Search client" onkeyup="SearchFast($(this))" />
                </td>
            </tr>
            <tr style="background-color: #4f9a94; color: white">
                <td>#</td>
                @*<td>DATE</td>
                <td>BANK</td>*@
                <td>CLIENT</td>
                @*<td>DESCRIPTION</td>*@
                @*<td>OPERATION</td>*@
                <td class="text-right">DEBT</td>
                <td class="text-right">CREDIT</td>
                <td class="text-right">BALANCE</td>
            </tr>
        </tbody>
        <tbody id="BankaHareketList_Grid">
            @foreach (var ch in cariList.OrderBy(a=>a.ChUnvani))
            {
                var list = Model.Where(a => a.ChKodu == ch.ChKodu).ToList();
           
                    <tr class="line_item" data-name="@ch.ChUnvani">
                        <td>@count</td>
                        @*<td>@item.Tarih.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.BankaHesapKodu</td>*@
                        <td>@ch.ChUnvani</td>
                        @*<td>
                        @item.SatirAciklamasi
                    </td>*@
                        @*<td class="text-right">@item.IslemTuru</td>*@
                        <td class="text-right">@list.Sum(a=>a.Borc.Value).ToString("N0") USD</td>
                        <td class="text-right">@list.Sum(a => a.Alacak.Value).ToString("N0") USD</td>
                        <td class="text-right">@list.Sum(a => a.Bakiye.Value).ToString("N0") USD</td>
                        
    @*}
                    else
                    {
                        <td class="text-right">@item.IslemDoviziBorc.Value.ToString("N0") @ViewBag.Currency </td>
                        <td class="text-right">@item.IslemDoviziAlacak.Value.ToString("N0") @ViewBag.Currency </td>
                        <td class="text-right">@item.IslemDoviziBakiye.Value.ToString("N0") @ViewBag.Currency </td>
                    }*@

                    </tr>

                    count++;
                }


        <tr>
            <td></td>
            <td>TOTAL</td>
            <td class="text-right">@Model.Sum(a => a.Borc.Value).ToString("N0") USD</td>
            <td class="text-right">@Model.Sum(a => a.Alacak.Value).ToString("N0") USD</td>
            <td class="text-right">@Model.Sum(a => a.Bakiye.Value).ToString("N0") USD</td>
        </tr>
            </tbody>
    </table>
</div>

<small>Total : @Model.Count records.</small>
<br />
<hr />