﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_CekSenetHareketleri>

@{
    Layout = null;
}

<a href="javascript:;" onclick="anamenu4don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
        <tr>
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Search client" onkeyup="SearchFast($(this))"/>
            </td>
        </tr>
        <tr>
            <td>Expiry Date</td>
            <td>Portfoy No</td>
            <td>Debt</td>
            <td>Status</td>
            <td class="text-right">Total</td>
        </tr>
        </tbody>
        <tbody>
        @foreach (var item in Model.OrderByDescending(a => a.VadeTarihi))
        {
            item.Tutar = item.Tutar?? 0;

            <tr class="line_item" data-name="@item.Aciklama">
                <td>@item.VadeTarihi.Value.ToString("dd/MM/yyyy")</td>
                <td>@item.PortfoyNo</td>
                <td>@item.Borclu</td>
                <td>@item.IslemTuru</td>
                <td class="text-right">@((item.Tutar??0).ToString("N0")) @ViewBag.Doviz</td>
            </tr>
        }
        </tbody>
    </table>
</div>


