﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">A Ticari Mal<b>(4500)</b></a>
    </li>
    <li>
        <a href="javascript:;">B Ticari Mal<b>(2300)</b></a>
    </li>
</ul>