﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">X Fatura <b>(320..750 ₺)</b></a>
    </li>
    <li >
        <a href="javascript:;">Y Fatura<b> (256.000 ₺)</b></a>
    </li>
</ul>