﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">Alış İrsaliyeleri <b>(500.000 ₺)</b></a>
    </li>
    <li>
        <a href="javascript:;">Satış İrsaliyeleri <b> (420.000 ₺)</b></a>
    </li>
</ul>