﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenudon()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li onclick="level3ac('Level3UretimEmir',true)">
        <a href="javascript:;">ÜRETİM EMİRLERİ (440.000 ₺)</a>
    </li>

</ul>