﻿@using DossoDossi.Data.Helper
@model List<DossoDossi.Data.Models.Report.CekSenetAyBazliTotalDto>
@{
    Layout = null;
    var years = Model.Select(a => a.Yil).Distinct().ToList();
    var months = UtilityHelper.GetMonths();
}


<a href="javascript:;" onclick="anamenu2don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-bordered table-hover table-striped" style="font-size:10px ">
        <tbody>
        <tr>
            <td>Date</td>
            <td>Total</td>
        </tr>
        </tbody>
        <tbody>
        @foreach (var year in years.OrderByDescending(x=>x))
        {
            foreach (var item in months.OrderByDescending(a=>int.Parse(a.id)))
            {
                var tot = Model.Where(a =>a.Yil==year&&  a.Ay== item.id).Sum(a => a.Tutar);

                <tr onclick="level4Ac('Level3Senetler?doviz=@ViewBag.Doviz&ay=@item.id&yil=@year')">
                    <th>@year / @item.text</th>
                    <td>@tot.ToString("N0") @ViewBag.Doviz</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>



