﻿@using DossoDossi.Data.Helper
@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_CekSenetHareketleri>

@{
    Layout = null;
    var months = UtilityHelper.GetMonths();

    var years = Model.Select(a => a.VadeTarihi.Value.Year).Distinct().ToList();
}

<a href="javascript:;" onclick="anamenu3don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br />
<hr />

<h4>@ViewBag.Turu :  @ViewBag.Durum </h4> 
<div class="table-responsive table--no-card m-b-30">
    <table class="table table-bordered table-hover table-striped" style="font-size:10px ">
        <tbody>
            <tr>
                <td>Expiry Date</td>
                <td>Total</td>
            </tr>
        </tbody>
        <tbody>
        @foreach (var year in years.OrderByDescending(x=>x))
        {
            foreach (var item in months.OrderByDescending(a=>int.Parse(a.id)))
             {
                 var tot = Model.Where(a =>a.VadeTarihi.Value.Year==year&&  a.VadeTarihi.Value.Month == int.Parse(item.id)).Sum(a => a.TOTAL ?? 0);
                 <tr onclick="level5Ac('Level4GridCek?turu=@(ViewBag.Turu)&durum=@(ViewBag.Durum)&doviz=@ViewBag.Doviz&ay=@item.id&yil=@year')">
                     <th>@year / @item.text</th>
                     <td>@tot.ToString("N0") @ViewBag.Doviz</td>
                 </tr>
             }
        }
        </tbody>
    </table>
</div>


