﻿@model System.Collections.Generic.List<CRM.Data.Models.Report.R_CekSenetHareketleri>

@{
    Layout = null;
}

<a href="javascript:;" onclick="anamenu4don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
            <tr>
                <td>Date</td>
                <td>Process</td>
                <td>Status</td>
                <td class="text-right">Total</td>
                <td>Customer Name</td>
                </tr>
        </tbody>
        <tbody>
            @foreach (var item in Model.OrderByDescending(a => a.VadeTarihi))
            {
                item.TOTAL = item.TOTAL ?? 0;

                <tr>
                    <td>@item.VadeTarihi.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.IslemTuru</td>
                    <td>@item.Durumu</td>
                    <td class="text-right">@item.TOTAL.Value.ToString("N0") @Request.QueryString["doviz"]</td>
                    <td>@item.CariUnvan</td>
                </tr>
            }
        </tbody>
    </table>
</div>

