﻿
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>
    </li>
    <li>
        <a href="javascript:;">A Mamulleri<b>(120)</b></a>
    </li>
    <li>
        <a href="javascript:;">B Mamulleri<b>(400)</b></a>
    </li>
</ul>