﻿@model System.Collections.Generic.List<CRM.Data.Models.Report.SatisElemanToplamDto>

@{
    Layout = null;
}


<ul class="bankaulliste list-unstyled navbar__list">
    <li onclick="anamenu3don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>
    @foreach (var item in Model.OrderBy(a=>a.Kodu))
    {
        
        <li onclick="level5Ac('Level5SatisElemanSehirGrid?sehir=@(item.Kodu)&satici=@ViewBag.Kodu')">
            <a href="javascript:;">
                @item.Kodu
                <br />
                <b>(@item.Toplam.ToString("N0") €)</b>
            </a>
        </li>
    }
</ul>