﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_KasaHareketleri>

@{
    
    Layout = null;
}

<a href="javascript:;" onclick="anamenu3don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
        <tr>
            <td colspan="1">
                Start:<br /> 
                <input type="date" id="StartDate" class="form-control" onchange="FilterDate('Level4GridKasaTable?kodu=@(ViewBag.Kodu)')"/>
            </td>
            <td colspan="1">
                End :<br />
                <input type="date" id="EndDate" class="form-control" onchange="FilterDate('Level4GridKasaTable?kodu=@(ViewBag.Kodu)')"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Search keyword" onkeyup="SearchFast($(this))"/>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Process</td>
            <td class="text-right">Balance</td>
        </tr>
        </tbody>
        <tbody id="GridListPartial">
        
            @Html.Partial("~/Views/FinanceReport/_Level4GridKasaTable.cshtml", Model)
        
        </tbody>
    </table>
</div>

