﻿@{
    Layout = null;
}


<div class="level1list row navbar__list">

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats" onclick="level2ac('Level2Finans',true)" style="cursor: pointer">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">FINANCE</p>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats" onclick="level2ac('Level2Satis',true)" style="cursor: pointer">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">grid_on</i>
                </div>
                <p class="card-category">SALES</p>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-stats" onclick="level2ac('Level2MalzemeStok',true)" style="cursor: pointer">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_paste</i>
                </div>
                <p class="card-category">PRODUCT</p>
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    @*<div class="col-md-4">
            <div class="dashboard-stat grey btn btn-default" onclick="level2ac('Level2Finans',true)" style="cursor: pointer">
                <div class="visual">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value=""></span>
                    </div>
                    <div class="desc"> FINANCE</div>
                </div>
            </div>
        </div>*@

    @*<div class="col-md-4">
        <div class="dashboard-stat grey btn btn-default" " onclick="level2ac('Level2Satis',true)" style="cursor: pointer">
            <div class="visual">
                <i class="fas fa-table"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value=""></span>
                </div>
                <div class="desc"> SALES</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="dashboard-stat grey btn btn-default" " onclick="level2ac('Level2MalzemeStok',true)" style="cursor: pointer">
            <div class="visual">
                <i class="fas fa-key"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value=""></span>
                </div>
                <div class="desc"> PRODUCT REPORT</div>
            </div>
        </div>
    </div>*@
</div>