﻿@using DossoDossi.Data.Models.Report

@{
    Layout = null;
    var list = ViewBag.GroupSum as List<CekTutarGroupSumDto>;
    var doviz = (string)ViewBag.Doviz;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenu2don()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go back</a>
    </li>

    <li style="text-align: center">
        <hr />
        <h3>Müşteri Çeki</h3>
    </li>

    @Total(list, "Musteri Ceki", "Portfoyde")
    @Total(list, "Musteri Ceki", "Tahsile Verildi")
    @Total(list, "Musteri Ceki", "Tahsil Edildi")
    @Total(list, "Musteri Ceki", "Protesto Edildi")

    <li style="text-align: center">
        <hr />
        <h3>Kendi Çekimiz</h3>
    </li>

    @Total(list, "Kendi Cekimiz", "Portfoyde")
    @Total(list, "Kendi Cekimiz", "Tahsile Verildi")
    @Total(list, "Kendi Cekimiz", "Tahsil Edildi")
    @Total(list, "Kendi Cekimiz", "Protesto Edildi")

</ul>

@helper Total(List<CekTutarGroupSumDto> list, string csTuru, string durumu)
{
    <br />

    var f = list.Where(x => x.CsTuru == csTuru && x.Durumu == durumu).ToList();
    if (f.Any())
    {
        foreach (var item in f)
        {
            <li onclick="level4Ac('Level4GridCekAyBazli?turu=@csTuru&durum=@(durumu)&doviz=@item.Doviz')">
                <a href="javascript:;">
                    <b>
                        @item.Durumu :  @item.Toplam.ToString("N0") @item.Doviz
                    </b>
                </a>
            </li>
        }
    }
    else
    {
        <li onclick="level4Ac('Level4GridCekAyBazli?turu=@csTuru&durum=@(durumu)&doviz=@ViewBag.Doviz')">
            <a href="javascript:;">
                <b>
                    @durumu :  0 @ViewBag.Doviz
                </b>
            </a>
        </li>
    }

}
