﻿@model System.Collections.Generic.List<DossoDossi.Data.Models.Report.R_SatisFaturalari>

@{

    Layout = null;
}

<a href="javascript:;" onclick="anamenu3don()"><i class="fa fa-arrow-circle-left"></i> Geri dön</a>

<small>Toplam : @Model.Count kayıt bulunmaktadır.</small>
<br />
<br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
            <tr>
                <td colspan="1">
                    Başlangıç:<br />
                    <input type="date" id="StartDate" class="form-control" onchange="FilterDate('Level4GridUrunGrupTable?kodu=@(ViewBag.Kodu)')" />
                </td>
                <td colspan="1">
                    Bitiş :<br />
                    <input type="date" id="EndDate" class="form-control" onchange="FilterDate('Level4GridUrunGrupTable?kodu=@(ViewBag.Kodu)')" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <select class="form-control" onchange="SelectChange($(this))">
                        <option value="">Tüm Ürünler</option>
                        @foreach (var item in Model.Select(a => new { a.StokKodu, a.StokAdi }).Distinct())
                        {
                            <option value="@item.StokKodu">@item.StokAdi</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="text" class="form-control" placeholder="Müşteri Ara" onkeyup="SearchFast($(this))" />
                </td>
            </tr>
            <tr>
                <td>Tarih</td>
                <th>Ürün Adı</th>
                <td>Cari Hesap</td>
                <td>Miktar</td>
                <td class="text-right">Tutar</td>
            </tr>
        </tbody>
        <tbody id="GridListPartial">

            @Html.Partial("~/Views/FinanceReport/_Level4GridUrunGrupTable.cshtml", Model)

        </tbody>
    </table>
</div>


