﻿@model System.Collections.Generic.List<CRM.Data.Models.Report.R_SatisFaturalari>

@{
    Layout = null;
    var satici = ViewBag.Satici;
    var sehir = ViewBag.Sehir;
}


<a href="javascript:;" onclick="anamenu4don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

<small>Total : @Model.Count records.</small>
<br /><br />
<hr />

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped" style="font-size:10px ">
        <tbody>
        <tr>
            <td colspan="1">
                Start:<br /> 
                <input type="date" id="StartDate" class="form-control" onchange="FilterDate('Level5SatisElemanSehirGridTable?sehir=@(sehir)&satici=@satici')"/>
            </td>
            <td colspan="1">
                End :<br />
                <input type="date" id="EndDate" class="form-control" onchange="FilterDate('Level5SatisElemanSehirGridTable?sehir=@(sehir)&satici=@satici')"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <select class="form-control" onchange="SelectChange($(this))">
                    <option value="">All Products</option>
                    @foreach (var item in Model.Select(a => new {a.StokKodu, a.StokAdi}).Distinct())
                    {
                        <option value="@item.StokKodu">@item.StokAdi</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Client Search" onkeyup="SearchFast($(this))"/>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <th>Product Name</th>
            <td>Client Name</td>
            <td>Amount</td>
            <td class="text-right">Total</td>
        </tr>
        </tbody>
        <tbody id="GridListPartial">

        @Html.Partial("~/Views/FinanceReport/_Level4GridSatisElemanTable.cshtml", Model)

        </tbody>
    </table>
</div>



