﻿  
@{
    Layout = null;
}

<ul class="list-unstyled navbar__list">
    <li onclick="anamenudon()">
        <a href="javascript:;"><i class="fa fa-arrow-circle-left"></i> Go Back</a>
    </li>

    @*<li onclick="level3ac('Level3Banka?id=CARDTYPE = 3 AND TRCURR = 20&curr=EUR',true)">
        <a href="javascript:;"><i class="fa fa-bars"></i> TOTAL BANK BALANCE (@(((double)ViewBag.ToplamEUR).ToString("N0")) EUR)</a>
    </li>*@

    <li onclick="level3ac('Level3Banka?id=CARDTYPE = 1&curr=TL',true)">
        <a href="javascript:;"><i class="fa fa-bars"></i> TOTAL BANK BALANCE (@(((double)ViewBag.ToplamTL).ToString("N0")) EUR)</a>
    </li>

    <li onclick="level3ac('Level3Banka?id=CARDTYPE = 3 AND TRCURR = 1&curr=USD',true)">
        <a href="javascript:;"><i class="fa fa-bars"></i> TOTAL BANK BALANCE (@(((double)ViewBag.ToplamUSD).ToString("N0")) USD)</a>
    </li>

    <li onclick="level3ac('Level3FinansKasa',true)">
        <a href="javascript:;"><i class="fa fa-cog"></i>  CASH (@(((double)ViewBag.KasaToplam).ToString("N0")) ₺)</a>
    </li>

    <li onclick="level3ac('Level3Musteriler?id=120',true)">
        <a href="javascript:;"><i class="fa fa-cog"></i>  CUSTOMERS (@(((double)ViewBag.MusteriToplam).ToString("N0")) ₺)</a>
    </li>

    <li onclick="level3ac('Level3Musteriler?id=320',true)">
        <a href="javascript:;"><i class="fa fa-cog"></i>  SUPPLİERS (@(((double)ViewBag.TedarikciToplam).ToString("N0")) ₺)</a>
    </li>

    @*<li onclick="level3ac('Level3BorcluCari',true)">
            <a href="javascript:;"><i class="fa fa-cog"></i>  CARİ BORÇ (@(((double)ViewBag.BorcToplam).ToString("N0")) ₺)</a>
        </li>

        <li onclick="level3ac('Level3AlacakCari',true)">
            <a href="javascript:;"><i class="fa fa-cog"></i>  CARİ ALACAK (@(((double)ViewBag.AlacakToplam).ToString("N0")) ₺)</a>
        </li>*@

    <li onclick="level3ac('Level3Cekler?doviz=EURO',true)">
        <a href="javascript:;"><i class="fa fa-money-bill-alt"></i>  CHECKS (@(((double)ViewBag.CekToplamEUR).ToString("N0")) €)</a>
    </li>

    <li onclick="level3ac('Level3Cekler?doviz=TL',true)">
        <a href="javascript:;"><i class="fa fa-money-bill-alt"></i>  CHECKS (@(((double)ViewBag.CekToplamTL).ToString("N0")) ₺)</a>
    </li>

    <li onclick="level3ac('Level3Cekler?doviz=USD',true)">
        <a href="javascript:;"><i class="fa fa-money-bill-alt"></i>  CHECKS (@(((double)ViewBag.CekToplamUSD).ToString("N0")) $)</a>
    </li>

    <li onclick="level3ac('Level3SenetlerGenel?doviz=EURO',true)">
        <a href="javascript:;"><i class="fa fa-file-text"></i>  BILLS (@(((double)ViewBag.SenetToplamEUR).ToString("N0")) €)</a>
    </li>

    <li onclick="level3ac('Level3SenetlerGenel?doviz=TL',true)">
        <a href="javascript:;"><i class="fa fa-file-text"></i>  BILLS (@(((double)ViewBag.SenetToplamTL).ToString("N0")) ₺)</a>
    </li>

    <li onclick="level3ac('Level3SenetlerGenel?doviz=USD',true)">
        <a href="javascript:;"><i class="fa fa-file-text"></i>  BILLS (@(((double)ViewBag.SenetToplamUSD).ToString("N0")) $)</a>
    </li>

</ul>