﻿@using DossoDossi.Data.Helper
@using DossoDossi.Data.Models.Report

@{
    Layout = null;
    var list = ViewBag.GroupSum as List<CekSenetAyBazliTotalDto>;

    var months = UtilityHelper.GetMonths();
}

<a href="javascript:;" onclick="anamenu2don()"><i class="fa fa-arrow-circle-left"></i> Go back</a>

@*<small>Toplam : @Model.Count kayıt bulunmaktadır.</small>
    <br />
    <hr />*@

<li style="text-align: center">
    <hr />
    <h3>Müşteri Senedi</h3>
</li>

@Total(list, "Musteri Senedi", "Portfoyde")
@Total(list, "Musteri Senedi", "Tahsile Verildi")
@Total(list, "Musteri Senedi", "Tahsil Edildi")
@Total(list, "Musteri Senedi", "Protesto Edildi")

<li style="text-align: center">
    <hr />
    <h3>Borç Senedimiz</h3>
</li>

@Total(list, "Borc Senedimiz", "Portfoyde")
@Total(list, "Borc Senedimiz", "Tahsile Verildi")
@Total(list, "Borc Senedimiz", "Tahsil Edildi")
@Total(list, "Borc Senedimiz", "Protesto Edildi")

@*<div class="table-responsive table--no-card m-b-30">
        <table class="table table-bordered table-hover table-striped" style="font-size:10px ">
            <tbody>
                <tr>
                    <td>Tarih</td>
                    <td>Tutar</td>
                </tr>
            </tbody>
            <tbody>
                @foreach (var year in years.OrderByDescending(x => x))
                {
                    foreach (var item in months.OrderByDescending(a => int.Parse(a.id)))
                    {
                        var tot = Model.Where(a => a.Yil == year && a.Ay == item.id).Sum(a => a.Tutar);

                        <tr onclick="level5Ac('Level3Senetler?doviz=@ViewBag.Doviz&ay=@item.id&yil=@year')">
                            <th>@year / @item.text</th>
                            <td>@tot.ToString("N0") @ViewBag.Doviz</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>*@



@helper Total(List<CekSenetAyBazliTotalDto> list, string csTuru, string durumu)
{
    <br />

    var f = list.Where(x => x.CsTuru == csTuru && x.Durumu == durumu).ToList();
    if (f.Any())
    {
        foreach (var item in f)
        {
            <li onclick="level4Ac('Level4SenetlerAyBazli?doviz=@item.Doviz&durumu=@item.Durumu&csTuru=@item.CsTuru')">
                <a href="javascript:;">
                    <b>
                        @item.Durumu :  @item.Tutar.ToString("N0") @item.Doviz
                    </b>
                </a>
            </li>
        }
    }
    else
    {
        <li onclick="level4Ac('Level4SenetlerAyBazli?turu=@csTuru&durum=@(durumu)&doviz=@ViewBag.Doviz')">
            <a href="javascript:;">
                <b>
                    @durumu :  0 @ViewBag.Doviz
                </b>
            </a>
        </li>
    }

}
