﻿@using DossoDossi.Data.Entity
@{
    Layout = null;
    var data = ViewBag.List as Account;
}

<thead>
    <tr>
        <th>Adı Soyadı</th>
        <th>@data.Name</th>

    </tr>
    <tr>
        <th>Kullanıcı</th>
        <th>@data.UserName</th>

    </tr>

    <tr>
        <th>Sifre</th>
        <th>****</th>

    </tr>
    <tr>
        <th>E-mail</th>
        <th>@data.Email</th>

    </tr>
    <tr>
        <th>elefon</th>
        <th>@data.Phone</th>

    </tr>
    <tr>
        <th>Kullanıc Tipi</th>
        <th>@data.Type</th>

    </tr>
    <tr>
        <th>Satış Kodu</th>
        <th>@data.SalesManCode</th>

    </tr>
    <tr>
        <th>Durumu</th>
        <th>
            @if (data.Status == true)
            {
                <button type="button" rel="tooltip" class="btn btn-success btn-sm" >
                    <i class="material-icons">how_to_reg</i> Aktif
                </button>
            }
            else
            {
                <button type="button" rel="tooltip" class="btn btn-danger btn-sm">
                    <i class="material-icons">how_to_reg</i> Pasif
                </button>
            }
        </th>
    </tr>
    <tr>
        <th>Oluşturma Tarihi</th>
        <th>@data.CreateDatetime</th>

    </tr>
    <tr>
        <th>Departman Adı</th>
        <th>@data.DepartmanNameCode</th>

    </tr>

</thead>

