﻿@using DossoDossi.Data.Entity
@{
    var parent = ViewBag.Parent as List<Account>;
    ViewBag.Title = "Kullanıcı Adı";

    var isyeri = ViewBag.Isyeri as List<View_Isyeri>;

    var bolumler = ViewBag.Bolum as List<View_Bolumler>;
    var saticilar = ViewBag.Saticilar as List<View_SaticiKodlar>;

    var projelers = ViewBag.Projeler as List<View_Projeler>;

}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Kullanıcı Oluşturma</a> /

            <a class="navbar-brand" href="/Users/Index">List</a> /

            <a class="navbar-brand" href="javascript:;">Create</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@ViewBag.Title</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <div class="form-label-group" style="color:red">
                                    @ViewBag.Hata
                                </div>
                            </div>
                        }
                        <form method="post" action="@Url.Action("Insert","User")" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Adı Soyadı</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Name" required>
                                        <span class="bmd-help">Bu Alan Zorunludur</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="UserName" required>
                                        <span class="bmd-help">Bu Alan Zorunludur</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Sifre</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Password" required>
                                        <span class="bmd-help">Bu Alan Zorunludur</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Telefon</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" name="Phone" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Kullanıcı Tipi</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Type">
                                        <div>(0 : yönetici , 1 : danışman müşteri karşılama , 2 : satış destek sipariş sorumlusu)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Görev Aldığı Proje</label>
                                <div class="col-sm-10">
                                    <div class="form-group">

                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="ProjeKodu">
                                            <option value="">Projeler</option>
                                            @foreach (var item in projelers)
                                            {
                                        <option value="@item.CODE">(@item.CODE)  @item.NAME</option>
                                            }
                                        </select>

                                        <div>(Sadece tip 1,2 olanlar için seçiniz.)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Logo Satış Kodu</label>
                                <div class="col-sm-10">
                                    <div class="form-group">

                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="SalesManCode" id="SalesManCodeSelect">
                                            <option disabled selected>Şeçiniz</option>
                                            @foreach (var item in saticilar)
                                            {
                                                <option value="@item.CODE">@item.DEFINITION_</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Üst Yönetici Şeçiniz</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary " name="ParentId">
                                            <option disabled selected></option>
                                            @foreach (var item in parent)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Departman Adı</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="DepartmanNameCode" required>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Bölüm Şeç</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="Bolum" id="BolumSelect">
                                            <option disabled selected>Şeçiniz</option>
                                            @foreach (var item in bolumler)
                                            {
                                                <option value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">İş Yer Şeç</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <select class="selectpicker" data-size="5" data-style="btn btn-info  btn-sm" name="IsYeri" id="IsyeriSelect">
                                            <option disabled selected>Şeçiniz</option>
                                            @foreach (var item in isyeri)
                                            {
                                                <option value="@item.NR">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-rose">Kaydet<div class="ripple-container"></div></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section js{

    <script type="text/javascript">
        // <![CDATA[
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('#phone').mask('(999) 999-9999');
            $('#phone2').mask('0999 999 9999');
        });
        // ]]&gt;</script>

    <script>
        $(".userNav").addClass("active");
                   // $(".userNav a").click();
    </script>
}