﻿@model DossoDossi.Data.Models.LogoCustomerDeliveryAddressRequestDto
@{
    ViewBag.Title = "Create Shipping Address";
    Layout = null;
    var customerId = (int)ViewBag.CustId;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br />
        <div class="col-md-12">
            <div style="float: right">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> Close</button>
            </div>
        </div>
        <div class="modal-header">
            <h6><b>@ViewBag.Title</b></h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box green">
                       
                        <div class="portlet-body">

                            @using (Html.BeginForm("CreateCustomerDeliveryAddress", "Customer", FormMethod.Post, new { id = "Create_Customer_Tiger_Delivery_Adress_Form" }))
                            {
                                <input type="hidden" name="@Html.NameFor(a=>a.CariId)" value="@customerId" />
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="font-size:10px">
                                        <tbody>
                                            <tr>
                                                <th>ADDRESS CODE</th>
                                                <td>
                                                    <input id="C_AdresKodu" type="text" class="form-control" required name="@Html.NameFor(a=>a.AdresKodu)"  
                                                           maxlength="24" placeholder="Address Code must be unique" />
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                   DEFINITION
                                                </th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.AdresAciklama)" id="C_AdresAciklama" 
                                                           placeholder="Write client or person name" />
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b style="color: red">CONTACT</b>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 33%"> ADDRESSES</th>
                                                <td>
                                                    <textarea class="form-control" rows="2" name="@Html.NameFor(a => a.AdresAlan1)" id="C_AdresAlan1" placeholder="Address 1"></textarea>
                                                    <textarea class="form-control" rows="2" name="@Html.NameFor(a => a.AdresAlan2)" placeholder="Address 2"></textarea>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered" style="font-size:10px">
                                        <tbody>
                                            @*<tr>
                                                  <th>ÖZEL KOD</th>
                                                  <td>
                                                    <input type="text" class="form-control" />
                                                  </td>
                                                  <th>STATÜSÜ</th>
                                                  <td>
                                                    <select class="form-control">
                                                      <option>Kullanımda</option>
                                                      <option>Kullanım Dışı</option>
                                                    </select>
                                                  </td>
                                                  <th>YETKİ KODU</th>
                                                  <td>
                                                    <input type="text" class="form-control" />
                                                  </td>
                                                </tr>*@
                                            <tr>
                                                <th><b>COUNTRY</b></th>
                                               <th></th>
                                                <td>
                                                    <input type="text" class="form-control country_textbox_code" name="@Html.NameFor(a=>a.UlkeKodu)" id="C_UlkeKodu" placeholder="Country Code" value="" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control country_textbox_title" name="@Html.NameFor(a=>a.UlkeAdi)" id="C_UlkeAdi" placeholder="Country Name" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><b>CITY</b></th>
                                                <th></th>
                                                <td>
                                                    <input type="text" class="form-control city_textbox_code" name="@Html.NameFor(a=>a.SehirKodu)" placeholder="City Code" value="" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control city_textbox_title" name="@Html.NameFor(a=>a.SehirAdi)" id="C_SehirAdi" placeholder="City Name" value="" />
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <th><b>TOWN </b></th>
                                                <th></th>
                                                <td>
                                                    <input type="text" class="form-control town_textbox_code" name="@Html.NameFor(a=>a.IlceKodu)" placeholder="Town Code" value="" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control town_textbox_title" name="@Html.NameFor(a=>a.IlceAdi)" placeholder="Town Name" value="" />
                                                </td>
                                            </tr>*@
                                            @*<tr>
                                                <th>SEMT</th>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.SemtKodu)" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.SemtAdi)" />
                                                </td>
                                            </tr>*@
                                            <tr>
                                                <th>POST CODE</th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.PostaKodu)" id="C_PostaKodu"/>
                                                </td>
                                                <th>FAX NO</th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.FaksNo)" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>PHONE NO 1</th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a => a.TelefonNo1)" />
                                                </td>
                                                <th>PHONE NO 2</th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a => a.TelefonNo2)" />
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <th>İLGİLİ</th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a => a.Ilgili)" />
                                                </td>
                                            </tr>*@
                                            <tr>
                                                <th>EMAIL </th>
                                                <td>
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.EPostaAdresi)" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" onclick="CreateSave()" class="btn btn-sm btn-success form_savebutton">Save</a>
            <a href="javascript:;" class="btn btn-warning loading_create_form" style="display: none"><i class="fa fa-spin fa-spinner"></i> Yükleniyor</a>

            <a href="javascript:;" class="btn btn-sm btn-success done_create_form" style="display: none"> Başarılı !</a>

            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

