﻿@using DossoDossi.Data.Entity
@model DossoDossi.Data.Entity.Butceler

@{
                ViewBag.Title = "Yeni Bütçe Tanımı";
    var hesaplars = ViewBag.MuhasebeKodlari as List<View_MuhasebeKodlari>;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    @using (Html.BeginForm("Create", "Butce", FormMethod.Post, new { @id = "AddForm", @role = "form" }))
                    {
                        <input type="hidden" name="HesapAdi" id="HesapAdi_C"/>
                        <div class="form-group row">
                            
                            <div class="col-md-3">
                                <label for="Name">HesapKodu</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me HesapKodu_Sel" required="" name="HesapKodu" onchange="HesapChange()">
                                    <option data-name="" value="">Seçiniz</option>
                                    @foreach (View_MuhasebeKodlari item in hesaplars.OrderBy(x=>x.CODE))
                                    {
                                        <option data-name="@item.DEFINITION_" value="@item.CODE">@item.CODE @item.DEFINITION_ </option>
                                    }
                                </select>
                                @*@Html.TextBoxFor(a => a.HesapKodu, new {@class = "form-control", @required = ""})
                                @Html.ValidationMessageFor(m => m.HesapKodu, null, new {@class = "help-block"})*@

                            </div>
                        </div>

                        @*<div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="NameEn">Hesap Adı</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.HesapAdi, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.HesapAdi, null, new { @class = "help-block" })
                            </div>
                        </div>*@

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="CostCenterCode">Hesap Adi En</label>
                            </div><div class="col-md-9 showcase_content_area">
                                
                                @Html.TextBoxFor(a => a.HesapAdiEn, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.HesapAdiEn, null, new {@class = "help-block"})
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Phone">Masraf Merkezi Kodu</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="MasrafMerkeziKodu" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (View_MasrafMerkezleri item in ViewBag.MasrafMerkezleri)
                                    {
                                        <option value="@item.MasrafMerkeziKodu">@item.MasrafMerkeziKodu @item.MasrafMerkeziAciklamasi </option>
                                    }
                                </select>
                                @*@Html.TextBoxFor(a => a.MasrafMerkeziKodu, new {@class = "form-control", @required = ""})
                                @Html.ValidationMessageFor(m => m.MasrafMerkeziKodu, null, new {@class = "help-block"})*@
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Phone">Proje</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="Proje">
                                    <option value="">Seçiniz</option>
                                    @foreach (View_Projeler item in ViewBag.Proje)
                                    {
                                        <option value="@item.CODE">@item.CODE @item.NAME</option>
                                    }
                                </select>
                                @*@Html.TextBoxFor(a => a.Proje, new {@class = "form-control"})*@
                                @Html.ValidationMessageFor(m => m.Proje, null, new {@class = "help-block"})
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="FirmNo">Ürün</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="Urun">
                                    <option value="">Seçiniz</option>
                                    
                                </select>
                                @*@Html.TextBoxFor(a => a.Urun, new {@class = "form-control"})*@
                                @Html.ValidationMessageFor(m => m.Urun, null, new {@class = "help-block"})
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Yıl</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Yil, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Yil, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ocak</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Ocak, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Ocak, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Şubat</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Subat, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Subat, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Mart</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Mart, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Mart, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Nisan</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Nisan, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Nisan, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Mayis</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Mayis, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Mayis, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Haziran</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Haziran, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Haziran, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Temmuz</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Temmuz, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Temmuz, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ağustos</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Agustos, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Agustos, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Eylül</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Eylul, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Eylul, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ekim</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Ekim, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Ekim, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Kasim</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Kasim, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Kasim, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Aralık</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Aralik, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Aralik, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Açıklama (isteğe bağlı)</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Aciklama, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Aciklama, null, new { @class = "help-block" })
                            </div>
                        </div>


                    }

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="CreateSave()" class="btn btn-xs btn-primary">Kaydet</button>
            <button type="button" class="btn btn-default btn-xs closebutton" data-dismiss="modal">Kapat</button>
        </div>
    </div>
</div>

