﻿@using Erp.Data.Entity
@model Erp.Data.Entity.Butceler

@{
    Layout = null;
    var hesaplars = ViewBag.MuhasebeKodlari as List<View_MuhasebeKodlari>;

}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @ViewBag.Title
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    @using (Html.BeginForm("Update", "Butce", FormMethod.Post, new { @id = "AddForm", @role = "form" }))
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="HesapAdi" id="HesapAdi_C" value="@Model.HesapAdi"/>

                        <div class="form-group row">
                            
                            <div class="form-group row">
                                <div class="col-md-3 ">
                                    <label for="CostCenterCode">Bütçe Tipi</label>
                                </div><div class="col-md-9 showcase_content_area">
                                    <select class="form-control" name="Tip" required="" id="Tip">
                                        <option value="">Seçiniz</option>
                                        <option @(Model.Tip=="Sabit"?"selected":"") value="Sabit">Sabit</option>
                                        <option @(Model.Tip=="Değişken"?"selected":"") value="Değişken">Değişken</option>
                                        <option @(Model.Tip=="Startup"?"selected":"") value="Startup">Startup</option>
                                        <option @(Model.Tip=="SabitKıymet"?"selected":"") value="SabitKıymet">SabitKıymet</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="Name">HesapKodu</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me HesapKodu_Sel" required="" name="HesapKodu" onchange="HesapChange()">
                                    <option data-name="" value="">Seçiniz</option>
                                    @foreach (View_MuhasebeKodlari item in hesaplars.OrderBy(x=>x.CODE))
                                    {
                                        string cls = "";
                                        if (Model.HesapKodu == item.CODE)
                                        {
                                            cls = "selected";
                                        }
                                        <option @cls data-name="@item.DEFINITION_" value="@item.CODE">@item.CODE @item.DEFINITION_ </option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="CostCenterCode">Hesap Adi En</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.HesapAdiEn, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.HesapAdiEn, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Phone">Masraf Merkezi Kodu</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="MasrafMerkeziKodu" required>
                                    <option value="">Seçiniz</option>
                                    @foreach (View_MasrafMerkezleri item in ViewBag.MasrafMerkezleri)
                                    {
                                        string cls = "";
                                        if (Model.MasrafMerkeziKodu == item.MasrafMerkeziKodu)
                                        {
                                            cls = "selected";
                                        }

                                        <option @cls value="@item.MasrafMerkeziKodu">@item.MasrafMerkeziKodu @item.MasrafMerkeziAciklamasi </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Phone">Proje</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="Proje">
                                    <option value="">Seçiniz</option>
                                    @foreach (View_Projeler item in ViewBag.Proje)
                                    {
                                        string cls = "";
                                        if (Model.Proje == item.Code)
                                        {
                                            cls = "selected";
                                        }

                                        <option @cls value="@item.Code">@item.Code @item.Name</option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="FirmNo">Ürün</label>
                            </div><div class="col-md-9 showcase_content_area">
                                <select class="form-control form-control-sm select2me" name="Urun">
                                    <option value="">Seçiniz</option>
                                    @foreach (View_Urunler item in ViewBag.Urun)
                                    {
                                        string cls = "";
                                        if (Model.Urun == item.Code)
                                        {
                                            cls = "selected";
                                        }

                                        <option @cls value="@item.Code">@item.Code @item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Yıl</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Yil, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Yil, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ocak</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Ocak, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Ocak, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Şubat</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Subat, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Subat, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Mart</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Mart, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Mart, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Nisan</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Nisan, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Nisan, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Mayis</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Mayis, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Mayis, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Haziran</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Haziran, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Haziran, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Temmuz</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Temmuz, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Temmuz, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ağustos</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Agustos, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Agustos, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Eylül</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Eylul, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Eylul, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Ekim</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Ekim, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Ekim, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Kasim</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Kasim, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Kasim, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Aralık</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Aralik, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(m => m.Aralik, null, new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 ">
                                <label for="Email">Açıklama (isteğe bağlı)</label>
                            </div><div class="col-md-9 showcase_content_area">
                                @Html.TextBoxFor(a => a.Aciklama, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Aciklama, null, new { @class = "help-block" })
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="CreateSave()" class="btn btn-xs btn-primary">Kaydet</button>
            <button type="button" class="btn btn-default btn-xs closebutton" data-dismiss="modal">Kapat</button>
        </div>
    </div>
</div>

