﻿@using System.Linq
@using DossoDossi.Data.Models
@using Newtonsoft.Json

@{
    ViewBag.Title = "Bütçe Toplu Aktarım";
    var list = ViewBag.List as List<ButcelerDto>;
    int count = 1;
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Bütçe Yönetimi</a> /

            <a class="navbar-brand" href="javascript:;">Liste</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

    </div>
</nav>



<div class="content">
    <div class="container-fluid">


        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        @ViewBag.Title

                        <a class="pull-right" download href="~/Assets/butce-ornek-excel.xlsx"><i class="fa fa-download"></i> Örnek Excel İndir</a>

                    </div>

                    <div class="card-body">
                        <div class="item-wrapper">
                            <div class="row">
                                <div class="col-md-12 mx-auto" style="min-height: 250px">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            @if (ViewBag.Error != null)
                                            {
                                                <div class="alert alert-danger">@ViewBag.Error</div>
                                            }

                                            @using (Html.BeginForm("ExcelPost", "Butce", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-6", @role = "form", id = "frmUpdateCustomer" }))
                                            {
                                                <div class="row">
                                                    <div class="col-md-12" style="display:inline-flex">
                                                        <div class="col-md-6">
                                                            <input type="file" name="file" required />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="submit" class="btn  btn-xs btn-rounded btn-warning"><i class="fa fa-save"></i> Dosyayı Oku</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <br />
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (list != null && list.Any())
                                                    {
                                                        <span>Toplam @list.Count adet kayıt</span>
                                                        <div class="col-md-12">


                                                            <div class="col-md-4">
                                                                <a href="javascript:;" onclick="Kaydet()" class="btn btn-xs btn-rounded btn-primary"><i class="fa fa-save"></i> Seçilileri Aktar</a>

                                                            </div>
                                                            <br />
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="table-responsive">

                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Yıl</th>
                                                                            <th>HesapKodu</th>
                                                                            <th>Hesap Adı</th>
                                                                            <th>Hesap Adı En</th>
                                                                            <th>Proje</th>
                                                                            <th>Ürün</th>
                                                                            <th>Masraf Merkez Kodu</th>

                                                                            <th>Nisan</th>
                                                                            <th>Mayıs</th>
                                                                            <th>Haziran</th>
                                                                            <th>Temmuz</th>
                                                                            <th>Ağustos</th>
                                                                            <th>Eylül</th>
                                                                            <th>Ekim</th>
                                                                            <th>Kasım</th>
                                                                            <th>Aralık</th>
                                                                            <th>Ocak</th>
                                                                            <th>Subat</th>
                                                                            <th>Mart</th>
                                                                            @*<th>Açıklama</th>*@

                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in list)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    <input type="checkbox" class="checkitems check_@count" data-c="@count" checked="checked" value="@JsonConvert.SerializeObject(item)" />
                                                                                </td>
                                                                                <td>
                                                                                    @item.Yil
                                                                                </td>
                                                                                <td>@item.HesapKodu</td>
                                                                                <td>@item.HesapAdi</td>
                                                                                <td>@item.HesapAdiEn</td>
                                                                                <td>@item.Proje</td>
                                                                                <td>@item.Urun</td>
                                                                                <td>@item.MasrafMerkeziKodu</td>

                                                                                <td>@item.Nisan</td>
                                                                                <td>@item.Mayis</td>
                                                                                <td>@item.Haziran</td>
                                                                                <td>@item.Temmuz</td>
                                                                                <td>@item.Agustos</td>
                                                                                <td>@item.Eylul</td>
                                                                                <td>@item.Ekim</td>
                                                                                <td>@item.Kasim</td>
                                                                                <td>@item.Aralik</td>
                                                                                <td>@item.Ocak</td>
                                                                                <td>@item.Subat</td>
                                                                                <td>@item.Mart</td>
                                                                                @*<td>@item.Aciklama</td>*@

                                                                                <td class="itemst_@count">
                                                                                    <span id="Result_@count"></span>
                                                                                </td>
                                                                            </tr>

                                                                            count++;
                                                                        }
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr></tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (list != null && !list.Any())
                                                    {
                                                        <div class="alert alert-warning">Dosyanızda kayıt bulunmamaktadır.</div>
                                                    }
                                                    else
                                                    {
                                                        <div></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section js
{
        <script>

            function Kaydet() {

                bootbox.confirm("İşlemi başlatmak istediğinize emin misiniz ?",
                    function (result) {
                        if (result === true) {
                            SaveLoop();
                        }
                    });

            }

            function SaveLoop() {
                $(".checkitems").each(function () {
                    var $this = $(this);

                    var count = $this.attr("data-c");

                    if ($this.is(":checked")) {
                        var obj = $this.val();
                        var model = JSON.parse(obj);

                        $("#Result_" + count).text("Yükleniyor...");

                        $.ajax({
                            type: "POST",
                            url: "/Butce/UpsertJson",
                            data: JSON.stringify({ model: model }),
                            dataType: 'JSON',
                            contentType: 'application/json; charset=utf-8',
                            async: true,
                            cache: false,
                            //timeout: 3000,
                            success: function (data) {
                                if (data.Status) {
                                    $(".itemst_" + count).addClass("success");
                                } else {
                                    $(".itemst_" + count).addClass("warning");
                                }

                                $("#Result_" + count).text(data.Message);

                            },
                            error: function (jqxhr, settings, thrownError) {
                                if (fnErrorCallback == null) {
                                    alert("Hata oluştu");
                                } else {
                                    alert("Uyarı ! Hata oluştu");
                                }
                            },
                            complete: function () {
                                // if (!hideLoader)
                                //     Metronic.stopPageLoading();
                            }
                        });

                    }

                });

            }

        </script>

    }
