﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper

@{
    Layout = null;
    var butceler = ViewBag.Butceler as List<Butceler>;
    var months = UtilityHelper.GetMonthsForButce();
    var gerceklesenlerList = ViewBag.Gerceklesenler as List<View_Gerceklesenler>;

    var gerceklesenler = new List<View_Gerceklesenler>();

}

<hr/>
<div class="zui-wrapper">
    <div class="zui-scroller">

        <table class="zui-table table-bordered table-hover raporHtmlTable" id="ButceRaporTable">
            <tr>
                <td class="zui-sticky-col"></td>
                <td></td>
                <td></td>
                <td></td>
                @foreach (var item in months)
                {
                    <th colspan="3" class="text-center">@item.text</th>
                }

                <th colspan="3" class="text-center">GENEL TOPLAM</th>
            </tr>
            <tr>
                <td class="zui-sticky-col">Hesap Kodu | Hesap Adı </td>
                <td>
                    Masraf Merkezi
                </td>
                <td>
                    Proje 
                </td>
                <td>
                    Ürun
                </td>
               
                @foreach (var item in months)
                {
                    <td>Bütçe</td>
                    <td>Gerçekleşen</td>
                    <th>Fark</th>
                }

                <td>Toplam Bütçe </td>
                <td>Toplam Gerçekleşen </td>
                <td>Fark</td>
            </tr>
            <tbody>
                @foreach (var item in butceler)
                {
                    var gerceks = gerceklesenlerList.Where(a => a.MuhHesabiKodu == item.HesapKodu && a.MasrafMerkeziKodu == item.MasrafMerkeziKodu&&a.ProjeKodu == item.Proje&&a.Urun == item.Urun).ToList();

                    if (gerceks.Any())
                    {
                        gerceklesenler.AddRange(gerceks);
                    }

                    var gercekTotal = gerceks.Sum(x => x.Bakiye ?? 0);
                    var toplamButce = item.Topla();
                    var fark = (toplamButce - (decimal)gercekTotal);
                    if (toplamButce == 0 && !gerceks.Any())
                    {
                        continue;
                    }

                <tr>
                    <td class="zui-sticky-col">
                        @item.HesapKodu | @item.HesapAdi |
                    </td>
                    <td>
                        @item.MasrafMerkeziKodu
                    </td>
                    <td>
                        @item.Proje
                    </td>
                    <td>
                        @item.Urun
                    </td>

                    <td class="moneyvalue" style="border-left: 2px dotted black;">
                        <span class="pull-right"> @item.Nisan.ToString("N2")</span>
                       
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Nisan, 4)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Mayis.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Mayis, 5)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Haziran.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Haziran, 6)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Temmuz.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Temmuz, 7)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Agustos.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Agustos, 8)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Eylul.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Eylul, 9)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Ekim.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Ekim, 10)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Kasim.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Kasim, 11)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Aralik.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Aralik, 12)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Ocak.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Ocak, 1)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Subat.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Subat, 2)

                    <td class="moneyvalue">
                        <span class="pull-right"> @item.Mart.ToString("N2")</span>
                    </td>
                    @GercekVeFarkHesapla(gerceks, item.Mart, 3)

                    <td class="moneyvalue">
                        <span class="pull-right">@toplamButce.ToString("N2")</span>
                    </td>
                    <td class="moneyvalue">
                        <span class="pull-right"> @gercekTotal.ToString("N2")</span>
                    </td>
                    <td class="moneyvalue @(fark>0?"bg-success" :(fark==0?"bg-warning":"bg-danger"))">
                        <span class="pull-right"> @(fark.ToString("N2"))</span>
                    </td>
                </tr>
                }

                @{
                    var butcesiOlmayanlar = new List<View_Gerceklesenler>(); //  gerceklesenler.Where(a => !butceler.Select(x => x.HesapKodu).Distinct().ToList().Contains(a.MuhHesabiKodu)).ToList();
                    if (butcesiOlmayanlar.Any())
                    {
                        foreach (var item in butcesiOlmayanlar)
                        {
                    <tr>
                        <td class="zui-sticky-col">
                            @item.MuhHesabiKodu | @item.Muhasebe_Hesap_Adi 
                        </td>
                        <td>
                            @item.MasrafMerkeziKodu
                        </td>
                        <td></td>
                        <td></td>
                       

                        <td style="border-left: 2px dotted black;">0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 4)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 5)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 6)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 7)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 8)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 9)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 10)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 11)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler>{item}, 0, 12)
                        
                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler> { item }, 0, 1)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler> { item }, 0, 2)

                        <td>0.00</td>
                        @GercekVeFarkHesapla(new List<View_Gerceklesenler> { item }, 0, 3)
                        <td>
                            <span class="pull-right">0</span>
                        </td>
                        <td>
                            <span class="pull-right moneyvalue"> @((item.Bakiye??0).ToString("N2"))</span>
                        </td>
                        <td class="bg-danger moneyvalue">

                            <span class="pull-right">- @((item.Bakiye ?? 0).ToString("N2"))</span>
                        </td>
                    </tr>
                        }
                    }
                }

            </tbody>
            <tbody>
            <tr style="background-color: lightgrey;">
                <td class="zui-sticky-col">TOPLAM
                    </td>
                <td></td>
                <td></td>
                <td></td>
               
                <td class="moneyvalue" style="border-left: 2px dotted black;">
                    @butceler.Sum(a=>a.Nisan).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Nisan),4)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Mayis).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Mayis),5)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Haziran).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Haziran),6)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Temmuz).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Temmuz),7)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Agustos).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Agustos),8)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Eylul).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Eylul),9)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Ekim).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Ekim),10)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Kasim).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Kasim),11)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Aralik).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Aralik),12)
                
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Ocak).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar, gerceklesenler, butceler.Sum(a => a.Ocak),1)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Subat).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Subat),2)
                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Mart).ToString("N2")
                </td>
                @GercekVeFarkHesaplaDip(butcesiOlmayanlar,gerceklesenler, butceler.Sum(a => a.Mart),3)

                <td class="moneyvalue">
                    @butceler.Sum(a=>a.Topla()).ToString("N2")
                </td>
                <td class="moneyvalue">
                    @(gerceklesenler.Sum(a=>a.Bakiye??0))
                </td>
                <td class="moneyvalue">
                    @{
                        var f = butceler.Sum(a => a.Topla()) - (decimal) gerceklesenler.Sum(a => a.Bakiye ?? 0);
                    }

                    @f.ToString("N2")
                </td>


            </tr>
            </tbody>
        </table>
        
        @butceler.Count adet kayıt . Tüm tutarlar TL cinsindendir.
    </div>
    </div>


@helper  GercekVeFarkHesapla(List<View_Gerceklesenler> gerceklesenler,  decimal tutar, int ay)
{
    var gercekTotal = gerceklesenler.Where(a => a.Ay == ay).Sum(x => x.Bakiye ?? 0);
    var fark = (tutar - (decimal)gercekTotal);
<td class="moneyvalue">
    <span class="pull-right"> @gercekTotal.ToString("N2")</span>
   
</td>
    <td class="moneyvalue @(fark>0?"bg-success" :(fark==0?"bg-warning":"bg-danger"))" style="border-right: 2px dotted black;">

        <span class="pull-right"> @(fark.ToString("N2"))</span>
    </td>

}


@helper  GercekVeFarkHesaplaDip(List<View_Gerceklesenler> olmayan, List<View_Gerceklesenler> gerceklesenler,  decimal tutar, int ay)
{
var gercekTotal = gerceklesenler.Where(a => a.Ay == ay).Sum(x => x.Bakiye ?? 0);
    var olmayanTotal = olmayan.Where(a => a.Ay == ay).Sum(x => x.Bakiye ?? 0);

    gercekTotal = gercekTotal + olmayanTotal; 

    var fark = (tutar - (decimal)gercekTotal);
    <td class="moneyvalue">
        <span class="pull-right">  @gercekTotal.ToString("N2")</span>
       
    </td>
    <td class="moneyvalue @(fark>0?"bg-success" :(fark==0?"bg-warning":"bg-danger"))" style="border-right: 2px dotted black;">

        <span class="pull-right"> @(fark.ToString("N2"))</span>
    </td>

}

