﻿
@{
    ViewBag.Title = "Logo Masraf Merkezleri Listesi";

}



<div class="viewport-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
                <a href="#">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item " aria-current="page">Kullanıcı Yönetimi </li>
            <li class="breadcrumb-item active" aria-current="page">  @ViewBag.Title</li>
        </ol>
    </nav>
</div>



<div class="content-viewport">
    <div class="row">

        <div class="col-lg-12">
            <div class="grid">
                <p class="grid-header">
                    @ViewBag.Title

                    <button id="Refresh" class="pull-right btn btn-default btn-rounded  btn-xs"><i class="mdi mdi-refresh"></i>Yenile</button>

                </p>

                <div class="grid-body">
                    <div class="item-wrapper">
                        <div class="row">
                            <div class="col-sm-4 col-md-2 pull-right">

                                <div class="dataTables_length" id="sample-data-table_length">
                                    Göster :
                                    <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                            </div><div class="col-sm-4 col-md-2 pull-right">
                                Ara:
                                <input id="FiltreInput" class="form-control" placeholder="Anahtar Kelime..." type="text">

                            </div>
                            <div class="col-sm-4 col-md-2 pull-right hidden" style="display: none">

                                <a href="javascript:;" id="FiltreButton" class="btn btn-xs hidden btn-rounded green">Ara&nbsp;<i class="m-icon-swapright m-icon-white"></i></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mx-auto" style="min-height: 200px">
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table info-table table-hover table-bordered tablecontent">
                                            <thead>
                                                <tr>
                                                    <th>#</th>

                                                    <th>Masraf Merkezi Kodu</th>
                                                    <th>Açıklaması</th>
                                                    <th>Durum</th>
                                                 
                                                    <th>Dosya Adresi</th>

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="List"></tbody>
                                        </table>
                                    </div>
                                    <div id="Pager"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>
            <td>
                <b>{{MasrafMerkeziKodu}}</b>
            </td>
            <td>{{MasrafMerkeziAciklamasi}}</td>

            <td>{{Durum}}</td>
            <td>{{DosyaAdresi}}</td>
            
            <td>

            </td>
        </tr>
        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("LogoMasrafMerkezGetList", "Butce", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />
    }
</div>


@section Script
{
    <script src="~/Scripts/User/User.js"></script>
    <script>
        $(function () {
            User.Event();
        });

    </script>
}
