﻿@using DossoDossi.Data.Entity
@using DossoDossi.Data.Helper
@using DossoDossi.Lang

@{
    ViewBag.Title = "Bütçe Raporu";
    var months = UtilityHelper.GetMonths();

    var roles = SessionHelper.User.Roles;
    var hesapKods = ViewBag.MuhasebeKodlari as List<View_MuhasebeKodlari>;
    var masrafMerkez = ViewBag.MasrafMerkezler as List<string>;

}

<div class="viewport-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
                <a href="#">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item " aria-current="page>Bütçe</li>
            <li class="breadcrumb-item active" aria-current="page">  @ViewBag.Title</li>
        </ol>
    </nav>
</div>

<style>
    .zui-table {
        /*border: none;
        border-right: solid 1px #DDEFEF;
        border-collapse: separate;
        border-spacing: 0;*/
        font: normal 13px Arial, sans-serif;
    }

        .zui-table thead th {
            background-color: #DDEFEF;
            border: none;
            color: #336B6B;
            padding: 10px;
            text-align: left;
            text-shadow: 1px 1px 1px #fff;
            white-space: nowrap;
        }

        .zui-table tbody td {
            /*border-bottom: solid 1px #DDEFEF;*/
            color: #333;
            padding: 10px;
            text-shadow: 1px 1px 1px #fff;
            white-space: nowrap;
        }

    .zui-wrapper {
        position: relative;
    }

    .zui-scroller {
        margin-left: 361px;
        overflow-x: scroll;
        overflow-y: visible;
        padding-bottom: 5px;
        width: 1100px;
    }

    .zui-table .zui-sticky-col {
        border-left: solid 1px #DDEFEF;
        border-right: solid 1px #DDEFEF;
        left: 0;
        position: absolute;
        top: auto;
        width: 360px;
    }

    .bg-warning {
        background-color: #ccf05f !important;
    }
</style>


<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    
                        <div class="card-header card-header-rose card-header-icon">
                            <h4 class="card-title">@ViewBag.Title</h4>  

                            @*<button id="Refresh" class="pull-right btn btn-default btn-rounded  btn-xs"><i class="mdi mdi-refresh"></i>Yenile</button>*@

                            <div class="btn-group pull-right tooltips" title="İşlem">

                                <button class="btn btn-rounded btn-xs dropdown-toggle" type="button" data-toggle="dropdown">İndir</button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a data-placement="left" data-original-title=" Excel  İndir" href="javascript:;" onclick="doit('ButceRaporTable','Rapor','xlsx')" class="tooltips"><i class="fa fa-file-text-o"></i> Excel İndir</a>
                                    </li>
                                    <li>
                                        <a data-placement="left" data-original-title=" Csv  İndir" href="javascript:;" onclick="doit('ButceRaporTable','Rapor','csv')" class="tooltips"><i class="fa fa-file-text-o"></i> Csv İndir</a>
                                    </li>
                                    <li>
                                        <a data-placement="left" data-original-title=" Txt  İndir" href="javascript:;" onclick="doit('ButceRaporTable','Rapor','txt')" class="tooltips"><i class="fa fa-file-text-o"></i> Txt İndir</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="item-wrapper">
                                <div class="row">
                                    <div class="col-sm-4 col-md-2 pull-right">
                                        <div class="dataTables_length" id="sample-data-table_length">
                                            Yıl Seçiniz :
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" id="Year" class="form-control form-control-sm">
                                                @for (int i = 2021; i <= DateTime.Today.Year; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2 pull-right">
                                        <div class="dataTables_length" id="sample-data-table_length">
                                            Hesap Kodu :
                                            <select name="sample-data-table_length" aria-controls="sample-data-table" id="MuhacCode" class=" form-control form-control-sm select2me">
                                                <option value="">Tümü</option>
                                                @foreach (var item in hesapKods)
                                                {
                                                    <option value="@item.CODE">@item.CODE @item.DEFINITION_</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-2 pull-right">
                                        Masrafmerkezleri :

                                        <select name="sample-data-table_length" aria-controls="sample-data-table" id="CostCenterCode" class="form-control form-control-sm">
                                            <option value="">Seçiniz</option>
                                            @foreach (string item in masrafMerkez.Distinct())
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-4 col-md-2 pull-right">
                                        Proje :
                                        <select name="sample-data-table_length" aria-controls="sample-data-table" id="Proje" class="form-control form-control-sm select2me">
                                            <option value="">Seçiniz</option>
                                            @foreach (View_Projeler item in ViewBag.Proje)
                                            {
                                                <option value="@item.CODE">@item.CODE @item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                    @*<div class="col-sm-4 col-md-2 pull-right">
                        Urun :

                        <select name="sample-data-table_length" aria-controls="sample-data-table" id="Urun" class="form-control form-control-sm select2me">
                            <option value="">Seçiniz</option>
                            @foreach (var item in ViewBag.Urun)
                            {
                                <option value="@item.Code">@item.Code @item.Name </option>
                            }
                        </select>
                    </div>*@

                                    <div class="col-sm-4 col-md-2 pull-right">

                                        <a style="margin-top: 13px" href="javascript:;" onclick="Ara()" class="btn btn-xs  btn-rounded btn-success"><i class="fa fa-search"></i>&nbsp; Bul</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto" style="min-height: 200px">
                                            <div id="ReportDetail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    @section js
{
        <script src="~/Content/exportplugin/shim.min.js"></script>
        <script src="~/Content/exportplugin/xlsx.full.min.js"></script>
        <script src="~/Content/exportplugin/Blob.min.js"></script>
        <script src="~/Content/exportplugin/FileSaver.min.js"></script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


        <script>

            function Ara() {
                var yil = $("#Year").val();
                var ay = $("#Month").val();
                var cost = $("#CostCenterCode").val();
                var muhacCode = $("#MuhacCode").val();

                var proje = $("#Proje").val();
                var urun = $("#Urun").val();

                if (cost.length < 1) {
                    Erp.U.P.T.Warning("Uyarı !", "Lütfen masraf merkezi seçiniz");
                    return false;
                }

                $("#ReportDetail").html('<div class="text-center"><i class="fa fa-spin fa-spinner fa-2x"> </i> Yükleniyor...  </div>');
                Erp.U.A.Req.H("GET", "/Butce/RaporGetir",
                    {
                        yil: yil, ay: ay, cost: cost, muhacCode: muhacCode, proje: proje, urun: urun
                    }, function (data) {

                        $("#ReportDetail").html(data);
                        Erp.U.ActiveTooltip();

                        $(".raporHtmlTable").DataTable({
                            select: true,
                            ordering: true,
                            paging: false,
                            "searching": false
                        });
                    });

            }


            function NumberStringFormat(nStr) {
                nStr += '';
                var x = nStr.split('.');
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + '.' + '$2');
                }
                return x1 + x2;
            }



            function doit(tableListelemnt, fileName, type, fn, dl) {
                $(".moneyvalue").each(function () {
                    var t = $(this).text();
                    $(this).text(t.replace('.', '').replace('.', ''));
                });

                $(".moneyvalue").each(function () {
                    var t = $(this).text();
                    $(this).text(t.replace(',', '.'));
                });

                //$(".formthid").show();

                var elt = document.getElementById(tableListelemnt);
                var wb = XLSX.utils.table_to_book(elt, { sheet: "Sayfa" });

                //$(".moneyvalue").each(function () {
                //    var t = $(this).text();
                //    $(this).text(NumberStringFormat(t));
                //});

                return dl ?
                    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                    XLSX.writeFile(wb, fn || (fileName + '.' + (type || 'xlsx')));
            }

            function tableau(pid, iid, fmt, ofile) {
                if (typeof Downloadify !== 'undefined') Downloadify.create(pid, {
                    swf: 'downloadify.swf',
                    downloadImage: 'download.png',
                    width: 100,
                    height: 30,
                    filename: ofile, data: function () { return doit(fmt, ofile, true); },
                    transparent: false,
                    append: false,
                    dataType: 'base64',
                    onComplete: function () { alert('Dosya kaydoldu!'); },
                    onCancel: function () { alert('Dosya iptal edildi.'); },
                    onError: function () { alert('Dosya tipi seçmelisiniz !'); }
                });
            }

            tableau('xlsxbtn', 'xportxlsx', 'xlsx', 'test.xlsx');


        </script>
    }
