﻿
@{
    ViewBag.Title = "Ürünler Liste";
}

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Ürünler</a>/

            <a class="navbar-brand" href="/Product/Index">Liste</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">language</i>

                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/turkish_flag.png" style="height:25px; width:25px" />
                            <span> &nbsp; Turkish</span>

                        </a>
                        <a class="nav-link" href="" id="">
                            <img src="~/assets/img/english-flag.png" style="height:25px; width:25px" />

                            <span> &nbsp;  English</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">Ayarlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/Logout">Çıkış</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>

                        <div class="pull-right" style="text-align:right">
                            <a href="/Product/Insert" class="btn btn-primary btn-sm"><i class="material-icons">add</i> Ekle</a>
                        </div>

                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">


                            <span class="bmd-form-group">
                                <div class="input-group no-border">
                                    <select name="sample-data-table_length" aria-controls="sample-data-table" id="TakeNumberList" style="max-width:90px" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                    <input type="text" id="FiltreInput" name="filtre" class="form-control" placeholder="Search...">
                                    <a href="javascript:;" id="FiltreButton" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </div>
                            </span>

                            <table class="table tablecontent" style="font-size:11px" id="data-table-list">
                                <thead>


                                    <tr>
                                        <th class="text-center">#</th>
                                        <th><a data-order="SupplierName|ASC" href="javascript:;">Tedarikçi Adı<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Name|ASC" href="javascript:;">Adı<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Barcode|ASC" href="javascript:;">Barcode<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Category|ASC" href="javascript:;"> Kategori<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Code|ASC" href="javascript:;"> Kodu<i class="angleitems fa fa-angle-double-up"></i></a></th>
                                        <th><a data-order="Description|ASC" href="javascript:;"> Açıklama<i class="angleitems fa fa-angle-double-up"></i></a></th>

                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    <tr>
                                        <td colspan="20">
                                            <div style="text-align:center">Loading...</div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div id="Pager"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <script id="Template" type="text/html">
        {{#DATA}}
        <tr>
            <td>{{Index}} </td>
            <td>{{SupplierName}} </td>
            <td>{{Name}}</td>
            <td>{{Barcode}}</td>
            <td>{{Category}}</td>
            <td>{{Code}}</td>
            <td>{{Description}}</td>
            <td>

                {{#Status}}
                <a class="btn btn-success btn-round btn-sm" onclick="StatusOnchange('{{Id}}')">Aktif</a>
                {{/Status}}
                {{^Status}}
                <a class="btn btn-danger btn-round btn-sm" onclick="StatusOnchange('{{Id}}')">Pasif</a>
                {{/Status}}

                <button onclick="Delete('{{Id}}')" class="btn btn-danger btn-round btn-sm" title="Sil">
                    <i class="fa fa-trash"></i>
                </button>
                <a href="/Product/Update/{{Id}}" class="btn btn-round btn-warning btn-sm" title="Düzenle">
                    <i class="fa fa-edit"></i>
                </a>
                @*<a href="/Fair/FairstandIndex/{{Id}}" class="btn btn-round btn-sm btn-primary" title="Kullanıcı Gir">
                    <i class="fa fa-users"></i>
                </a>*@
                @*<a href="/CustomerProgram/Index/{{Id}}" class="btn btn-round btn-sm btn-primary" title="Program Gir">
                        Program Listele
                    </a>*@
            </td>

        </tr>
        {{/DATA}}
    </script>
</div>

<div class="hidden">
    @using (Html.BeginForm("GetList", "Product", FormMethod.Post, new { id = "FilterForm" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="CurrentPage" id="CurrentPage" />
        <input type="hidden" name="Filter" id="Filter" />
        <input type="hidden" name="Order" id="Order" value="FullName|ASC" />
        <input type="hidden" name="TakeCount" id="TakeCount" />
    }
</div>

@section js{


    <script src="~/assets/App/User/User.js"></script>
    <script>

        $(function () {
            User.Event();
        });
        function Delete(id) {

            bootbox.confirm("Silmek istediğinize emin misiniz ?",
                function (result) {
                    if (result === true) {
                        Erp.U.A.Req.C("POST",
                            "/Product/Delete",
                            { id: id },
                            function (data) {

                                if (data) {
                                    Erp.U.P.T.Success("Result ", "Başarıyla Silindi.");
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.error("Warirng", "Bir hata oluştu lütfen tekrar deneyiniz!");
                                }

                                //todo netstok 0 altı ise talep açılamaz.
                            });


                    }
                });
        }
        function StatusOnchange(id) {

            bootbox.confirm("Durumu değiştirmek istediğinize eminmisiniz ?",
                function (result) {
                    if (result === true) {


                        Erp.U.A.Req.C("POST",
                            "/Product/StatusChange",
                            { id: id },
                            function (data) {

                                if (data.Status) {
                                    Erp.U.P.T.Success("Result ", "Başarıyla durum değiştirldi.");
                                    $("#FiltreButton").click();
                                } else {
                                    Erp.U.P.T.error("Warirng", "Bir hata oluştu. Lütfen tekrar denyiniz.");
                                }

                                //todo netstok 0 altı ise talep açılamaz.
                            });


                    }
                });
        }


    </script>

}
