﻿@using DossoDossi.Data.DataAccess

@model DossoDossi.Data.Entity.Musteriler

@{
    ViewBag.Title = "Yeni Kayıt";
    var code = SettingDataAccess.GetValByCode("ActiveFuarNo");
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br />
        <div class="col-md-12">
            <div style="float: right">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> Close</button>
            </div>
        </div>
        <div class="modal-header">
            <h6><b>@ViewBag.Title</b></h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box green">

                        <div class="portlet-body">

                            @using (Html.BeginForm("CreateMusteri", "Customer", FormMethod.Post, new { id = "Create_Musteri_Form" }))
                            {
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="font-size:10px">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Müşteri Adı Soyadı
                                                </th>
                                                <td colspan="3">
                                                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.Name)" required id="C_AdresAciklama"
                                                           placeholder="..." />
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>Email </th>
                                                <td>
                                                    <input id="C_Email" type="text" class="form-control" name="@Html.NameFor(a=>a.Email)"  placeholder="" />
                                                </td>
                                                <th>

                                                    Gsm/ Tel
                                                </th>
                                                <td>
                                                    <input id="C_Gsm" type="text" class="form-control" name="@Html.NameFor(a=>a.Phone)"  placeholder="" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>Country </th>
                                                <td>
                                                    <input id="C_Country" type="text" class="form-control" name="@Html.NameFor(a=>a.Country)" placeholder="" />
                                                </td>
                                                <th>
                                                    City
                                                </th>
                                                <td>
                                                    <input id="C_City" type="text" class="form-control" name="@Html.NameFor(a=>a.City)"  placeholder="" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>Address : </th>
                                                <td>
                                                    <textarea class="form-control" rows="4" placeholder="Adres"  name="@Html.NameFor(a=>a.Address)" ></textarea>
                                                </td>
                                                <th>Not : </th>
                                                <td>
                                                    <textarea class="form-control" rows="4" placeholder="Notunuz/ Your Note"  name="@Html.NameFor(a=>a.Note)" ></textarea>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th colspan="4">
                                                    Kurumsal Bilgiler
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Firma Adı/ Company Name :</th>
                                                <td>
                                                    <input id="C_CompanyName" type="text" class="form-control" name="@Html.NameFor(a=>a.CompanyName)" placeholder="" />
                                                </td>
                                                <th>
                                                  Vergi/Tax No : 
                                                </th>
                                                <td>
                                                    <input id="C_TaxNo" type="text" class="form-control" name="@Html.NameFor(a=>a.TaxNo)" placeholder="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <th>Vergi Daire / Tax Office: </th>
                                                <td>
                                                    <input id="C_TaxOffice" type="text" class="form-control" name="@Html.NameFor(a=>a.TaxOffice)" placeholder="" />
                                                </td>
                                            </tr>
                                            <tr>

                                                <th>Müşteri Kodu / Kart No</th>
                                                <td>
                                                    <input id="C_SicilNoHid" type="text" class="form-control" name="@Html.NameFor(a=>a.SicilNo)"  required placeholder="" />
                                                </td>
                                                <th>
                                                    <a href="javascript:;" onclick="GenerateNo('C_SicilNoHid')">No Üret</a>
                                                </th>
                                                <th></th>
                                            </tr>

                                        </tbody>
                                    </table>
                                   
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" onclick="CreateSave()" class="btn btn-sm btn-success form_savebutton">Save</a>
            <a href="javascript:;" class="btn btn-warning loading_create_form" style="display: none"><i class="fa fa-spin fa-spinner"></i> Yükleniyor</a>

            <a href="javascript:;" class="btn btn-sm btn-success done_create_form" style="display: none"> Başarılı !</a>

            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

